[2016-11-25 16:12] licaon-kter commented on #212
Get Total Commander and save locally. ;)

[2016-11-25 16:22] iSoron commented on #212
We are already sharing the file with any app that is willing to receive it. The problem is that most apps will only accept certain types of files, such as pictures. Email and Bluetooth show up on your list because they accept all types of files. Google Drive, Dropbox and WeChat, for example, also show up on the list, if you have them installed.

If you just want a local copy, there is no need to h

[2016-11-25 16:23] #212 closed

[2016-11-27 06:19] santosh opened #213 "I want to create a habit of washing clothes every Saturday, What do I do?"
So I downloaded this app on 27-11-2016 (DD-MM-YYYY), which is Sunday.

I started playing around the app creating habits to track. I'm very lazy and skip washing my clothes. I added a **Habit** to **Wash Clothes** every week; that's what anyone would have done to do it. Here's the screenshot:
![screenshot_20161127-113800](https://cloud.githubusercontent.com/assets/1515991/20645989/5a6dd5ac-b496-11e

[2016-11-27 10:30] licaon-kter commented on #213
Maybe rename this to "Add week day selection for weekly habit"

[2016-11-30 04:32] castor-troy opened #214 "[question] Does too many habits slow down the app?"
I have about 15 habits and "Don't show completed" enabled. Whenever I check a habit, it takes about 5 seconds to disappear. Does too many habits make the app slow?

[2016-12-01 23:24] licaon-kter opened #215 "Add option to not show a notification for an already checked item"
Say you check the habit at 10 a.m. but the notification is at 12 a.m., that's unneeded.

[2016-12-02 01:25] iSoron commented on #215
The app should not be showing notifications for habits that have already been checked. Are you sure this is happening? Can you trigger this behavior consistently, or just sometimes? The notification should also disappear automatically if you mark the habit as completed in the main app.

[2016-12-02 01:38] iSoron commented on #213
The graph is showing one dot for every week because the frequency selected (on the upper right corner of the graph) is weekly. You can change that frequency to daily, monthly, etc. This only affects the score graph, not the frequency of the habit.

No, you can just create the habits right now, and wait until Saturday to add your first checkmark. The day the habit was created is not related to anyt

[2016-12-02 01:43] licaon-kter commented on #215
Every day.

[2016-12-02 07:20] aleksejrs commented on #50
Yesterday, on Dec 01, I started Loop at 23:58. While it was loading, date changed to Dec 02.  The first column's header kept showing Dec 01, but the column showed the Dec 02 states.

[2016-12-02 09:13] sojusnik commented on #50
Same here. Closing and opening the app helps. Seems to be a bug.

aleksejrs <notifications@github.com> schrieb am Fr., 2. Dez. 2016, 08:20:

[2016-12-02 19:33] tamalbuk commented on #50
With Tasker integration, being allowed to specify end/beginning of day becomes a priority IMO. Otherwise it beats the purpose of automatic habit checking. For example, the way I use Tasker is that it does maths on multiple variables, which correspond to different habits, when I start sleep tracking in Sleep As Android. As I _never_ go to bed before midnight, habits checked with Tasker always show

[2016-12-04 18:55] TravellerSam opened #217 "Import data from Randomly RemindMe"
I can't find the info for right format of Habits' CSV file, and as I don't have my own yet I thought I maybe post a feature request that would be also of interest to others.

For some time I used a quite nice app Randomly Remind Me, now I'd like to try out Habits with my stored data. RRM exports the log as CSV, an example is attached as zip. Thank you!

[RRM_csv_export_log.csv.zip](https://github.

[2016-12-07 00:31] iSoron commented on #217
Thank you for the suggestion, @TravellerSam.

[2016-12-07 04:25] toroit opened #218 "Add option to change language"
I would like to change the language of the app, but didn't found any button to do so.

[2016-12-07 04:33] toroit opened #219 "Missing button on habit adding or editing"
When adding or editing an habit, I click to schedule the habit and the "OK" button is missing:
![sem_botao](https://cloud.githubusercontent.com/assets/24425622/20954730/fe4d5f68-bc24-11e6-9a9f-6dfdf3ff0fbb.jpeg)
I tried to reduce the font size of the system, but it didn't work.

In a different app, a similar screen with hour to choose works fine (the button appears):
![com_botao](https://cloud.git

[2016-12-07 06:41] licaon-kter commented on #218
Change the device language in Android Settings?

[2016-12-07 06:49] licaon-kter commented on #215
Ok, my bad, got things mixed up.
This works as expected, although I did get a crash once, but I did not catch it in a log .

[2016-12-07 06:49] #215 closed

[2016-12-07 07:02] licaon-kter opened #220 "Add per habit option to check previous day from notification"
I have notifications in the morning for the "previous day", but currently I can't actually use the notification actions as these pertain to "current day" only.

Not sure if #50 covers this too.

[2016-12-07 08:48] toroit commented on #218
@licaon-kter I would like the option to change the language without changing the language of the hole system.

[2016-12-08 20:33] sojusnik opened #221 "Columns aren't updated properly after midnight"
This bug report is taken from https://github.com/iSoron/uhabits/issues/50#issuecomment-264390226:

Just created a separate report to ensure, that this bug isn't overlooked.

[2016-12-11 09:01] AnirudhaAgashe opened #222 "Remove use of static context from HabitsApplication class"
Holding a static reference to the context in application can lead to memory leaks.

Also the call back to [onTerminate ](https://developer.android.com/reference/android/app/Application.html#onTerminate())is only received in case of emulated environment and not on actual device.

[2016-12-11 09:07] AnirudhaAgashe commented on #222
I was able to replace the static context in most of the classes without any issues by injecting Application and activity context wherever applicable. In case PebbleReceiver used the context that is received in receiveData call back. Also implemented a alternative method of checking isTestMode which doesn't required context.

However in case of ListHabitsController I had to inject activity context.

[2016-12-11 13:54] shamrt opened #223 "Share habits and progress with friends"
There's evidence showing that public accountability helps with goal follow through. Would you be open to adding a friend's feature so that users can share their habit's with other friends who use the app? The goal would be to track each other's progress, and perhaps compete in challenges.

[2016-12-11 19:48] licaon-kter commented on #223
The shared data would be what: short text with progress or picture of graph or ?

[2016-12-11 22:41] iSoron commented on #222
Please, submit a pull request and I will have a look at the modifications you made. We can discuss the code changes there. Are you trying to get rid of the deprecated method `HabitsApplication.getContext()`?

[2016-12-11 22:54] iSoron commented on #223
Thank you for the suggestion. Once users are able to synchronize their data across devices #104, we could also allow them to "share" some of their habits with their friends. What I mean by this is that their friends would be able to see (but not modify) part of the data, and would be able to track the user's progress in real time. Is this what you had in mind?

Since this requires device sync, a f

[2016-12-11 22:58] iSoron commented on #218
Thank you for the suggestion, @toroit, but I am still not convinced this is something many users need. Could you clarify why would you want your phone in one language, but the app in another language? If the translation is not good enough, please feel free to suggest improvements.

I am closing this issue for now, but I can reopen it later if there's enough demand.

[2016-12-11 22:58] #218 closed

[2016-12-11 23:01] iSoron commented on #220
Even if you wait until the next day to click the notification, the checkmark will still appear on the date the notification first showed up. For example, if the notification appears on Saturday, but you only click it on Sunday, a checkmark will be added on Saturday.

[2016-12-11 23:02] iSoron commented on #219
Thank you for the bug report. Could you double-check what version of the app are you using? I thought this was fixed in version 1.6.2.

[2016-12-11 23:09] iSoron commented on #214
Sorry about the delay, @castor-troy. Yes, having many habits will certainly make the app slower. How many habits are too many? It depends on your phone. Just for comparison, the 4-year-old Nexus 4 is able to handle 50 habits with ease.

The option to hide completed habits is still new, and will certainly improve in the next versions of the app. If you are having performance problems, I would sugge

[2016-12-11 23:09] #213 closed

[2016-12-12 11:43] toroit commented on #219
@iSoron Thanks for the reply! I am using version 1.6.2

[2016-12-12 15:40] AnirudhaAgashe commented on #222
In effect yes. The main cause of leak is the static reference to context which needs to be removed.

[2016-12-12 15:40] #222 closed

[2016-12-12 17:04] Weygert opened #225 "Graph does not properly reflect habit strength value"
I understand the graph's value point of the current month/year should equal the current habit strength value. Or an I misinterpreting something?

![img_20161212_175219](https://cloud.githubusercontent.com/assets/20655714/21108139/62a91790-c094-11e6-8110-233ab1af3f85.png)
![img_20161212_175117](https://cloud.githubusercontent.com/assets/20655714/21108140/62afc1e4-c094-11e6-93a4-a31bbac72b17.png)

R

[2016-12-13 05:12] castor-troy commented on #214
I have about 20 habits. I added widgets and its taking time to check them too. I guess there is nothing that can be done, other than reducing the number of habits or getting a better phone.

[2016-12-14 11:59] Guitar1st commented on #42
This function can be used in a different way. I found the idea of it in the book "Triggers". The author suggests to ask yourself "Did I do everything possible to reach the goal?". And the answer could be a number from 1 to 10. It is the measure of person's diligence in the current day.
I really miss this feature

[2016-12-17 16:33] toroit commented on #219
In my opinion, a box with digits would be more simple to digit and choose the time.

[2016-12-17 21:51] marben opened #226 "add a toggle that would make unfinished habits listed first"
As i have many habits, crawling through them and looking for today's unfinished habits gets tedious.

It would be nice to have a toggle on the main list view, that would sort the habits so that unfinished ones are listed first and all finished ones go after that.

[2016-12-18 13:38] iSoron commented on #226
Hi @marben, the newest beta version of the app has an option to filter out habits that have already been checked. See #102.

[2016-12-18 13:38] #226 closed

[2016-12-18 13:45] iSoron commented on #225
Each dot on the graph shows the average score for that time period. For example, your average score for 2016 was about 60%. The number on the top shows your score right now.

If we used the score on the last day of the interval, we would also have problems. For example, if your score was close to 100% during the entire year, every year, but then dropped to almost zero every December, your yearly g

[2016-12-18 13:46] #225 closed

[2016-12-18 13:50] iSoron commented on #219
@toroit In newer versions of Android, this is what the standard time picker looks like. To keep the app consistent with the operating system, we are also using it.

[2016-12-18 13:51] #214 closed

[2016-12-19 06:11] Weygert commented on #225
Ok, understood. Is it anyhow possible to display the exact average value of the time periods? I.e. I set myself targets and would like to know what the value the past months was.

[2016-12-26 04:53] iSoron commented on #112
Implemented on `dev` branch. The app now targets API 25 (Android 7.1 Nougat)

[2016-12-26 04:53] #112 closed

[2016-12-27 09:58] zhengzhiren opened #227 "Support record events in the past?"
Can we support adding events in the past?

[2016-12-27 13:34] licaon-kter commented on #227
Like this: https://github.com/iSoron/uhabits/issues/220 ?

[2016-12-28 08:18] hoschi-it opened #228 "ticking off reminder doesn't tick off in app"
(Android 5.1, no google play services)
When I tick off that I did stuff at the reminder and then open the app it says stuff still has to be done.

Thanks!

[2016-12-28 09:29] edio commented on #140
Same for me.

Exported backup with Loop from Google Play. Saved to sdcard/Downloads

Uninstalled Loop. Installed Loop from F-Droid (it has newer version there, but different signature, thus android requires to uninstall previous version).

Tried to import, but got empty popup instead of file selection dialog.

Xperia X Compact, Android 7.0

[2016-12-28 09:34] licaon-kter commented on #140
You've given Permission->Storage for the app, right?

[2016-12-28 09:35] edio commented on #140
Ok, got it. I had to copy backup file to org.isoron.uhabits, but that's very unobvious. I do understand, that that, perhaps, is required to keep app permissions at minimum.

A possible solution would be to check the directory with backups, and if there're no files, show a message, that user must ensure, that backup is placed into this directory.

[2016-12-28 09:39] edio commented on #140
App didn't requested those.
Maybe something is wrong with the version distributed via F-Droid. But it only requires
* control vibration
* run at startup

http://imgur.com/ElaN7xj

[2016-12-28 09:42] licaon-kter commented on #140
Not sure they're implemented though, since Android 6 requires extra coding to handle that.

[2016-12-29 14:23] iSoron commented on #140
Starting in version 1.7, we will have a new import dialog, which will be able to import files directly from the Downloads folder, or from cloud services, such as Google Drive. You will not need to copy the file manually into that folder anymore. This will hopefully make things more intuitive. As @licaon-kter says, this is related to #112.

The app does not require any dangerous permissions, such a

[2016-12-29 14:25] iSoron commented on #227
Hi @zhengzhiren, I am not sure I understand your request. It is already possible to put checkmarks in the past. Please, see the FAQ.

[2016-12-30 06:20] zhengzhiren commented on #227
Yes. In the statistics page, I can check the past days. Thank you!

[2016-12-30 13:24] askmydog commented on #121
I want to voice my support of this issue. The best part of the app is being able to press that little widget button and see my habit strength go up. Your habit strength algorithm is awesome, BTW.

The "problem" is that I don't get credit if I go past the numerical goal that I set. So if I set a goal to read 2 articles per day, I get to tick off my goal when I read two articles, but if I read more

[2016-12-30 17:16] #227 closed

[2016-12-30 18:01] #219 closed

[2016-12-30 18:03] iSoron commented on #219
This has been fixed, and will be available in the next version of the app (version 1.7). For reference, here is what it looks like now:

![device-2016-12-30-130038](https://cloud.githubusercontent.com/assets/4699657/21570027/338de63e-ce90-11e6-9a53-472416a60849.png)

[2016-12-31 14:15] JanetQC commented on #27
So should the download-icon appear when I'm in the statistic of a habit (and then only download that specific habit) or should the functionality be available when I tap on settings? There we could also offer to download one or more habits.

[2016-12-31 17:42] iSoron commented on #27
What I had in mind was this: when you open the statistics page for a habit, there is currently only one menu button, for editing the habit. We could add an "export" button which would generate the CSV just for that habit. This button could be hidden inside the overflow menu.

[2017-01-01 21:14] JanetQC commented on #27
Okay I see. I'd like to do this task if it's still free.

[2017-01-01 21:44] JanetQC commented on #27
Also I noticed you were using the wrong archive-icon, the current one you're using is actually for download,  I would like to use that one for the download action.

[2017-01-01 23:40] iSoron commented on #27
Thanks, I'm assigning it to you.

Are you talking about [this icon](https://github.com/iSoron/uhabits/blob/dev/app/src/main/res/drawable-hdpi/ic_action_archive_light.png)? What do you think it should look like?

[2017-01-02 09:04] JanetQC commented on #27
I'd suggest sth like [this](https://cdn3.iconfinder.com/data/icons/education-37/49/78-512.png), [this](http://icons.iconarchive.com/icons/icons8/ios7/512/Very-Basic-Archive-Filled-icon.png) or [this](http://www.freeiconspng.com/free-images/archive-icon-15949).

[2017-01-02 14:48] amoseui opened #229 "Korean translation issue"
I would like to fix some mistranslation on Korean.

I joined [open translation project at POEditor](https://poeditor.com/join/project/8DWX5pfjS0) as you described in README couple days ago. However, since I am not familiar with this system, I couldn't find any process to fix translations. It's just said (pending) on Korean button.

Do I have to wait for admission? Please help me. Thanks in advance

[2017-01-02 19:16] JanetQC commented on #27
Nevermind, I just researched and found out that the archive- and download-icon look pretty similar.

[2017-01-02 21:02] JanetQC opened #230 "Inconsistent interface when marking habits"
Hey,
I recently noticed a smal inconsistency in the app.
If I mark one habit, following actions will be shown:
![sel1](https://cloud.githubusercontent.com/assets/4404622/21596119/ddf710ca-d136-11e6-9035-3471cec99c4b.PNG)
If I now mark several habits, these actions will be shown:
![sel2](https://cloud.githubusercontent.com/assets/4404622/21596123/f42c0328-d136-11e6-8c1b-eb597efcfc31.PNG)

[2017-01-05 22:53] iSoron commented on #230
The icons change according to the actions available on the list of selected habits. For example, the edit icons disappeared since it is not possible (currently) to edit multiple habits at the same time. If all the habits you select are already archived, then the archive icon will also disappear.

[2017-01-06 09:45] JanetQC commented on #230
I thought so, but if a common user does this he just wonders what icon just disappeared and doesn't know why. Maybe put the icons that are available for sure on the far left and the optional icons on the right?
So you will either have one of these combinations:
Paint Edit
Paint Archive
Paint <blank>
It's a bit more consisten, don't you think?

[2017-01-06 19:48] flyingdan commented on #43
What might help with this is having the option to select the days on which I expect to perform the habit rather than just frequency.

Say a user goes to the gym three times per week on Monday, Wednesday and Friday. At the moment the user can only select 1 every 2 days which works fine for the first week but Habit then expects the check mark on Sunday Tuesday and Thursday.

This may be a different

[2017-01-07 14:44] ThidoE opened #232 "Have an option to start the reminder x-days before the due date"
I would really like it, if you can have a reminder multiple days before the habit is due.

For example:
I have an habit to go to the hair stylist every 40 days. Now I want the reminder to start 3 days before the 40 days are over, so that I can plan my appointment.

[2017-01-07 15:06] licaon-kter commented on #232
This sounds out ef scope, you might need a notes/todo type app.

[2017-01-08 15:01] ThidoE opened #233 "Snooze is not working"
Hi,
the Snooze option is not working for me. I tested it several times with different snooze intervals, but the notification never popped up again.

App Version is 1.6.2
My Phone is a Galaxy S6 (Marshmallow), I also deactivated the "Samsung App-Energysaver".

I have tested the 15 minute interval and kept the screen on, but the notification didn't came again, so I don't think it has something to do

[2017-01-12 14:27] wvanstraalen opened #235 "Android Wear support"
Is this already included? It says everywhere in the description, but I can't get it to work with both the version from the Play store and the version on F-droid.

[2017-01-13 00:40] iSoron commented on #235
Hi @wvanstraalen, currently it is possible to check, snooze or dismiss the reminders from the watch. We don't have a full standalone watch app yet. There is an open issue about this: #82.

[2017-01-13 00:40] #235 closed

[2017-01-13 00:42] iSoron commented on #233
Thank you for reporting this issue. This will be fixed together with #160.

[2017-01-13 00:42] #233 closed

[2017-01-13 00:45] iSoron commented on #229
Hi @amoseui, I have approved your admission. You should now be able to change the translations. Thank you for volunteering.

[2017-01-13 00:45] #229 closed

[2017-01-13 02:27] iSoron commented on #228
Thank you for reporting this but, @hoschi-it. I have not been able to reproduce this bug myself, but a few other users have reported it too, so I am marking this as confirmed. What version of the app are you using?  Also, does this happen consistently, or just sometimes?

[2017-01-13 02:38] iSoron commented on #43
@flyingdan If you set the frequency to "3 times in 7 days" then perform your habit consistently on Mondays, Wednesdays and Fridays, the app will automatically add checkmarks on all the other days of the week.

[2017-01-13 02:44] iSoron commented on #230
I think the best solution here would be to allow the user to edit multiple habits simultaneously. This could be useful, for example, for changing the frequency or the reminders for multiple habits at the same time. The second best solution would be to keep the icon there, but just disable it.

[2017-01-13 03:52] flyingdan commented on #43
@iSoron Thanks for the reply, that works perfectly. Great app, keep up the great work!

[2017-01-13 06:38] hoschi-it commented on #228
It's version 1.6.2
and as I mentioned: No google play services installed on the phone

[2017-01-13 06:40] hoschi-it commented on #228
The problem is steady, it's like this every time.

[2017-01-15 04:35] amoseui commented on #229
Thank you. I updated couple translations.

[2017-01-16 11:19] reverse-unina opened #237 "Spinner menu closes on device rotation"
When I perform these sequences of events, the spinner menu on screen disappears:

Sequence 1:
1. Click on Add icon
2. Click on Repeat spinner
3. Orientation change

Sequence 2:
1. Click on todo item in list
2. Open Habit Strength spinner
3. Orientation Change

[2017-01-16 11:20] reverse-unina opened #238 "Contextual action bar disappears on device rotation"
When i perform this sequence of events the action bar on the screen disappears

1. Long click on todo item in list
2. Orientation Change

[2017-01-16 11:23] reverse-unina opened #239 "Scrollable view changes state on device rotation"
When I perform this sequence of events, the scrollable view on screen goes back to the top:

Sequence 1:
1. Click on todo item in list
2. Scroll down
3. Orientation change

Sequence 2:
1. Click on ...
2. Click on About
3. Scroll Down
4. Orientation Change

[2017-01-16 11:29] reverse-unina opened #240 "HistoryView loses state on device rotation"
When I perform this sequence of events, the picker in the calendar dialog looses the user input and go back to its default value

1. Click on todo item in list
2. Click on History:edit
3. Swipe to a previous date
4. Orientation Change
(More evident after another Orientation Change)

[2017-01-16 11:34] reverse-unina opened #241 "Dialog disappears on device rotation"
When i perform these sequences of events, the dialog on screen disappears:

1. Click on ...
2. Click on Settings
3. Click on Import Data
4. Orientation Change

[2017-01-16 11:36] reverse-unina opened #242 "Options Menu disappears on device rotation"
When i perform this sequence of events, the menu disappears:
1. Click on sort icon
2. Orientation change

[2017-01-16 13:32] licaon-kter commented on #237
Given that you test so many apps, why isn't any fix written here too?

[2017-01-16 13:40] reverse-unina commented on #237
I will work on it

[2017-01-19 10:33] flowgunso opened #243 "Add support for Notification Stacks"
The notification drawer can get filled with habit's reminders notifications. How about supporting stacked notifications ?

There's [documentation](https://developer.android.com/training/wearables/notifications/stacks.html) on Android Notifications stacks.

[2017-01-19 14:22] GoodEveningMiss commented on #155
Seconding request. This makes it easier to see trends across all the habits

[2017-01-19 14:25] GoodEveningMiss commented on #230
Having the icon there but disabled might serve to confuse users and make them think the action is potentially available when it isn't

[2017-01-22 21:48] MaluNoPeleke opened #244 "All-in-one widget"
An "All-in-one widget" would be nice which shows my track record of all habits in one place.

[2017-01-22 22:06] MaluNoPeleke commented on #104
An optional Play Games Services support would be nice, even if it doesn't meet all requirements.

[2017-01-23 19:05] Shriyanshagro opened #245 "Web interface"
A web interface for this smart habit tracking app. At least to view graphs and other stats.

[2017-01-23 19:16] licaon-kter commented on #245
What's the use case here?

Instead of opening the app you want to open a browser to http://localhost:37564 while the app is running?

Why!?

[2017-01-23 19:20] Shriyanshagro commented on #245
Just in a case when user is not able to access his device for few days due to some circumstances(device under repairing or device is lost).
Having a web interface could always be helpful in such situations, also through a web interface one can have better vision for his/her stats of habits.

[2017-01-23 19:24] Shriyanshagro opened #246 "Able to comment on days"
One can always comment  his expression on activity day.
So that he/she can scroll back to compare his expressions from present day

[2017-01-23 20:03] Shriyanshagro opened #247 "Count for habits"
Let's say how many cigarettes did you smoked today??
Use Case :- When user wants to reduce the number of cigarettes per day.

Outcome needed - counter based habits

[2017-01-23 20:05] licaon-kter commented on #245
This is not an online service... If the device is off you can't access the data.

/Close as invalid

[2017-01-23 20:12] Shriyanshagro commented on #245
Oh Yeah, you are right this feature requires a much of running online services to handle.
And I guess those are not possible to configure at this point of time.
But I personally love to have it as well. As it can be aid to user while he/she is not able to access the device.

[2017-01-23 20:13] Shriyanshagro commented on #245
So let's close this issue for now.

[2017-01-23 20:13] #245 closed

[2017-01-24 03:37] iSoron commented on #247
Unless I am missing something, this is a duplicate of #42. Please, feel free to post any feedback about this feature under that issue.

[2017-01-24 03:37] #247 closed

[2017-01-24 03:38] iSoron commented on #246
Duplicate of #194

[2017-01-24 03:38] #246 closed

[2017-01-24 06:00] foobarbazquxfred opened #248 "Add a note when marking habit"
I think it would be useful if a user were able to add a note when marking a habit. For example, which book they're reading, or how much time they meditated, etc. It would be even nicer if numeric notes could be graphed.

[2017-01-24 06:58] licaon-kter commented on #248
Duplicate of #246 which is duplicate of #194

/Close

[2017-01-24 20:27] foobarbazquxfred commented on #194
It would also be nice if any numeric "note" left could be graphed. So a user could see how many minutes he meditated this month, for example.

I would be willing to contribute to a bounty for the note feature, FWIW.

[2017-01-26 17:46] shyamamrawat opened #249 "Add scale of 1 to 10 for answering a question"
Currently application provide two options for any "Did I do my best.." questions: Yes or No. Whereas Ideally efforts cannot be measured in binary. So we should provide option to scale the efforts between zero to ten.

This is recommended by Marshall Goldsmith in his book TRIGGERS. It has superior benefits over Yes & No.

Personally I want to contribute to develop this feature.

Thanks

[2017-01-27 08:36] rosenpin opened #250 "Add a donation option"
I use this app on a daily basis and I feel like it really helps me being more organized.
I looked inside the app and in the README but I couldn't find a way to donate to this project.
Mind throwing in a PayPal donation link in the app or the README?
Maybe an option to support the development via in app purchases?

[2017-01-29 07:21] sm-g opened #251 "Reminder only for weekdays / weekends"
I have tasks to do only at weekdays / weekends. Seems there is no such options for reminder, so I must create it as "every day".

I'm not so intrested  in marking whole 7 days as completed if all 5 / 2 of previous was done as #1 suggest, but will be cool.

[2017-01-30 20:46] haopei opened #252 "optional image in habit push notification"
A picture of worth a thousand words :)

I use habit loop as a reinforcer of my habits, and to trigger certain mental states at various times of the day. For example, I remind myself to be more attentive at 6pm, during family time (pushing aside thoughts from work, and other affairs). Personally uploaded photos can hold special meaning to the user of the app, that a short sentence alone cannot capt

[2017-02-01 16:06] dalai4git commented on #124
Here is my take on the problem.

In the figure below, I have put an `X` for a real repetition of the habit and a `+` for an 'implicit' repetition used for calculating streaks. The goal in this example is 2 times every 7 days. The current algorithm leaves a gap at the end of the first week and in the middle of the third one, which to me is counterintuitive.

    MTWTFSS|MTWTFSS|MTWTFSS|MTWTFSS|MTWT

[2017-02-02 01:51] erikstokes commented on #36
@iSoron I would love to be able to switch away from rewire without losing all my data.  [Here](https://gist.github.com/erikstokes/7bfb72eeb1a9c7aad0c52f52ca632b89) is a sample of the csv output from the paid version

[2017-02-03 02:32] #27 closed

[2017-02-03 02:46] iSoron commented on #251
For habits that should only be repeated on weekends, you can set the frequency to "two times per weeks" and set the reminder to "Saturday and Sunday". In this way, you will only receive the reminders during the weekends, and if you do perform your habit on both Saturday and Sunday, then the app will automatically add checkmarks on Mon-Fri.

Since it is already possible to configure the app for thi

[2017-02-03 02:46] #251 closed

[2017-02-03 02:48] iSoron commented on #250
Hi @rosenpin, I'm glad you like the app. I am not currently accepting donations, but I might in the future.

[2017-02-03 02:48] #250 closed

[2017-02-03 02:48] iSoron commented on #249
Thank you for the suggestion. This is a duplicate of #42.

[2017-02-03 02:48] #249 closed

[2017-02-03 02:49] #248 closed

[2017-02-03 02:50] iSoron commented on #244
Thank you for the suggestion. This is a duplicate of #45.

[2017-02-03 02:50] #244 closed

[2017-02-03 02:53] iSoron commented on #243
Yes, this is something we should implement. Thank you for the suggestion.

[2017-02-03 02:58] shyamamrawat commented on #249
Hello,

Thanks for acknowledging my request.
It looks that #42 MAY also address my request. But i see one difference in
philosophy of "did i do my best" question.

#42 say, people wants to track numbers of weights, books etc. These are
explicit in nature where as my request is to gadge/measure determent
efforts put on to achieve the goal. Bcs it gives real feedback to the
person of how much is he

[2017-02-03 03:09] iSoron commented on #249
Although #42 is more focused on tracking the number of things you did, your situation is also an important case that I had in mind. It will certainly be possible to use numerical habits to track "how well did you did something" in a scale from zero to ten. It will depend on how do you want to use the feature.

[2017-02-03 03:14] shyamamrawat commented on #249
Thank you.
Will wait for the feature.
Regards

On Feb 3, 2017 8:39 AM, "Alinson Xavier" <notifications@github.com> wrote:

[2017-02-09 00:47] pschwede opened #253 "Completed German translation"
See https://gist.github.com/9388a56bf36566bd03296be47a93b39d

I used Stringlate for Android to do this. I have no idea if this is useful to you.

[2017-02-12 02:49] vossad01 commented on #191
@iSoron Would you mind triaging this item (adding tags/comment on appropriateness)?

I have not looked at the code yet but I am considering implementing this.  I expect it would not be a small change and would want to make sure it isn't an inherently undesired feature before digging into it.

[2017-02-15 08:15] fr34q commented on #228
Same issue here. However I noticed that it might be updated in the underlying data model but not in the app gui. I tried to manually check it afterwards in the app leading to a short flicker of the checkmark but then it was unchecked again.

[2017-02-15 12:38] KushGoyal opened #254 "Hindi translation"
Hi,
I can do Hindi translation for your guys if you want.

[2017-02-16 00:18] chreekat commented on #51
OP didn't explicitly mention "Habit strength", which is the widget/chart I would most like to see. Of course, it may be rather confusing unless one color-codes their habits, since there would be virtually no room for labels.

[2017-02-16 12:48] dwandw opened #255 "Restore problem"
copy an old db file to '/sdcard/Android/data/org.isoron.uhabits/files',but not shown in restore dialog.
file permission:
root:r_sdcard
rw-rw----

[2017-02-16 13:39] licaon-kter commented on #255
Not actual SD card, when you open the import dialogue, what path does it say? That's where you need to put it.

[2017-02-16 13:40] woj-tek opened #256 "Snoozing doesn't work"
So I've set snoozing timeout to 1h and hitting "snooze" in the notification results in... notification showing up again immediately.

[2017-02-16 16:51] aliceinwire opened #257 "integration with beeminder"
would be nice to integrate it with beeminder

[2017-02-22 21:11] di72nn opened #259 ""Score ring" sometimes updated incorrectly"
In the main list if I scroll very fast (that is with a swift motion) some of the "score rings" updated to data of a different habit. All the other data is correct.

Example:
Let's say I have habits named 1 through 10 and only 3 lines fit on my screen. If I scroll from top of the list to the bottom, at the end I would see habits 8-10, but "score rings" on these lines may belong to some of the other

[2017-02-22 21:19] recheej commented on #104
What about a web based solution? Send data back and forth between the web server. The web server stores the information in a database.

[2017-02-26 07:16] anshulc95 commented on #254
@KushGoyal I believe they already got the translation for Hindi done. Look at their project at [ open translation project at POEditor](https://poeditor.com/join/project/8DWX5pfjS0).

![Hindi badge 100% complete](https://drive.google.com/uc?export=download&id=0Bzl706_WJgyINDNGM0VNQUtmMDQ)

[2017-02-27 01:43] recheej commented on #228
@hoschi-it @fr34q Can either of you guys list the exact steps you took to see the bug? I can't reproduce it right now. Also your device details would be great. Thanks!

[2017-02-27 14:51] hoschi-it commented on #228
Meanwhile it works for me.
Using Fairphone Open OS 17.01.0 (Android Custom ROM) on Fairphone 2
I guess, the last OS update brought the change.

@recheej Thanks!!

[2017-02-27 15:12] recheej commented on #228
@hoschi-it Are you saying you're no longer seeing the issue after you updated your OS?

[2017-02-28 05:46] KushGoyal commented on #254
@anshulc95 The translation if not live yet or not implemented fully. I changed my phone's system language to Hindi. Only the day names changed to Hindi, everything else was still in English.

[2017-02-28 17:43] fr34q commented on #228
@recheej I tried to figure out how I can reproduce the issue, as it seems to work if I check at the notification and directly afterwards check in the app...
I haven't quite figured it out yet but my assumption is that something like the following may work:
1. Create 2 habits and also reminder for them
2. Close the app
3. For a day or two only check both habits via the notification without starting

[2017-03-13 12:15] atmasol opened #262 "Add graph showing the user days they have missed"
Hey iSoron

Your app is very useful. Thank you.

A coupla things I found with its usage.

1) When the day clocks over to a new day the layout still shows the previous days layout. I have to shut the app down, then restart it for it to show the correct days.

2) The habit graph is really meaningful, but it would be very useful if the graph could toggle between your "habit strength" graph and an "in

[2017-03-14 09:36] BonarBeavis commented on #56
Why not just make the questions field a more general notes field and add markdown support?

[2017-03-14 18:56] woj-tek commented on #42
I for one would welcome the feature - I'm in the process of doing small tasks (a couple of minutes every hour) and having ability to mark how many I've done on a given day would definitely help with making this a habit.

[2017-03-14 19:00] woj-tek opened #263 "Repeating doesn't work for part-week habits"
So I have a couple of items with configuration that I want to do them 5 days a week (with the idea that this is "5 workdays") and reminder for such days. However this task can be executed optionally also during weekend.

I've noticed that if I mark the habit on weekend as well then I don't receive notification on the weekday (seems that if the requirement for habit is already fulfilled it disables

[2017-03-19 01:26] iSoron commented on #262
Thank you for the feedback, Lee. The first issue is already corrected, and should appear in the next version. As for the second issue, I don't quite understand what do you mean. By looking at the history graph, it is already quite clear to see any missed days.

[2017-03-19 01:36] iSoron commented on #191
Hi @vossad01, my main concern with this feature is implementing it in a way that is intuitive to use. If you want to go ahead and implement a proof of concept, I would be glad to have a look.

For the first feature, I believe #31 would provide something very similar to what you describe. The only difference is that you would not be able to put checkmarks on the tag itself.

[2017-03-19 01:41] iSoron commented on #254
Thank you for volunteering, @KushGoyal. Hindi is already available in the beta version of the app (1.6.2), but please, feel free to join our [translation project at POEditor](https://poeditor.com/join/project/8DWX5pfjS0).

[2017-03-19 01:41] #254 closed

[2017-03-19 01:42] iSoron commented on #256
Thank you for the bug report. This is a known issue. It will be fixed together with #160.

[2017-03-19 01:42] #256 closed

[2017-03-19 01:52] iSoron commented on #255
The app is probably looking for the file in the internal memory, while it is actually located in the SD card.
This confusion has been fixed in the development version. The app now allows you to pick files from other folders, or directly from Google Drive/Dropbox.

[2017-03-19 01:52] #255 closed

[2017-03-19 01:54] iSoron commented on #252
Thank you for the suggestion, haopei, but in order to keep the app very simple and minimalistic, I am not planning to add this feature at the moment.

[2017-03-19 01:54] #252 closed

[2017-03-19 02:35] iSoron commented on #241
Fixed in d19d57e5df.

[2017-03-19 02:35] #241 closed

[2017-03-19 02:41] #239 closed

[2017-03-19 02:44] iSoron commented on #237
Thank you for reporting, but this issue has no impact on the usability of the app, so I am closing it.

[2017-03-19 02:44] #237 closed

[2017-03-19 02:50] iSoron commented on #242
This issue has no impact on the usability of the app.

[2017-03-19 02:50] #242 closed

[2017-03-19 03:58] #240 closed

[2017-03-19 15:57] qazip opened #264 "Calendar view"
Hello,

It would be cool if one could have a calendar view, after clicking on a habit. Perhaps give us an option to choose the "Default view", one of them being the calendar. I know there's "History"  but it's not sufficiently big/visible.

The app "7weeks" has that and I find it much better for habit building.

[2017-03-21 00:06] #155 closed

[2017-03-21 03:17] iSoron commented on #264
Hi @qazip, thank you for the suggestion, but I have no current plans of changing the interface significantly. Remember that you can also use a large home-screen widget, if you would like.

[2017-03-21 03:17] #264 closed

[2017-03-21 03:23] iSoron commented on #232
Thank you for the suggestion, @ThidoE, but I also think this feature is out of scope. For habits with such long interval, and that require careful planning before the due date, a calendar app would be more appropriate.

[2017-03-21 03:23] #232 closed

[2017-03-21 03:29] iSoron commented on #46
Since this can already be accomplished in many ways, I am closing this issue.

[2017-03-21 03:29] #46 closed

[2017-03-21 05:03] ac79ferguson opened #265 "App fails to import HabitBull file"
I'm getting the message "failed to import data" when attempting to import habitbull .csv file.

[2017-03-21 11:36] bubal93 commented on #263
I have the same issue.

Here I post screenshot as an example. I have a habit with '2 times per week' frequency. In all cases I did it 2 times per week, but app don`t think so.

![screenshot_20170321-123313](https://cloud.githubusercontent.com/assets/17985872/24145721/c28aefee-0e32-11e7-8ef0-8359194a5ba7.png)

[2017-03-21 17:40] hesseljo opened #266 "New Feature: Isolate Bad Habits and Build Reward Notifications"
1) Identify the behavior the user wants to change. This means asking for a defined “Behavior Name” and adding it to the bad habits log.

2) Isolate Behavior Cues. After a user defines a “Behavior Name”, activate it, and log the location and time of when the user creates an event tied to the name. This means, the user needs to use the app whenever they are triggered by the behavior. Reminders can b

[2017-03-23 01:57] iSoron commented on #160
@sojusnik I think the issue you described is unrelated from what I had in mind originally. If your habit is weekly and you added a checkmark on Sunday, then there will be a grey checkmark on the following Saturday. That is, the app thinks that you have already completed the habit for the week, and will not show you the reminder.

The issue I had in mind is that, for some phones, the app seems to g

[2017-03-23 02:36] iSoron opened #267 "Create a landing page for the project"
Our domain  [loophabits.org](http://loophabits.org/) currently shows a blank screen. It would be nice to have a simple landing page for the app, containing some descriptions, screenshots and links to Google Play / Github. The descriptions can be copied from the [Google Play page](https://play.google.com/store/apps/details?id=org.isoron.uhabits). A high resolution version of the screenshots is avai

[2017-03-23 02:44] iSoron commented on #266
Hi @hesseljo, thank you for your suggestion. This, however, reads like a completely different app than what we have today, and I am not planning to radically change the app in the immediate future. You are welcome to build a prototype (or at least some mock screens) if you want to show me how these features could be seamlessly integrated to the current app. I would be glad to have a look, and reco

[2017-03-23 02:44] #266 closed

[2017-03-23 02:49] iSoron commented on #265
Would you mind sending me a copy of this file, so that I can have a better look? Please, feel free to open it with a text editor and replace the names of the habits, or any confidential information, if you would like. If you don't want to upload it here, you can email it to me at dev@loophabits.org

[2017-03-24 19:35] iSoron commented on #42
I have started working on this feature in the branch `feature/numerical-habits`. Please, be advised that the code is very experimental, and may corrupt your database. I am currently focusing on habits that can be measured by numbers, such as:

- How many...
    - km/miles did you run today?
    - push-ups/reps did you do?
    - glasses of water did you drink?
    - calories did you eat?
    - page

[2017-03-24 21:40] askmydog commented on #42
I think the widgets should have the number of times the user has performed the habit,  weight lost, etc, and turn colored when the target is reached (but still keeping count).

You might be able to build in some flexibility by letting the user define the increments that each tap of the check mark produces; for instance, instead of (or in addition to) having the user type in 96 minutes in their stu

[2017-03-25 08:30] falematte opened #268 "Show notification when the score of a habit falls below a certain threshold"
It would be useful to be able to set an automatic notification when a certain habit goes under a certain threshold.

[2017-03-25 13:47] iSoron commented on #268
Thank you for the suggestion. I think this is an interesting feature. We should just be careful not to show it too often. I think it only makes sense to show this notification if the habit had a reasonably good score in the recent past, but fell considerably.

[2017-03-25 13:57] iSoron commented on #263
@woj-tek Yes, the app will only show a reminder if the habit is pending. Since you already performed the habit five times (one during the weekend, and a few during the week), it thinks you're done, and doesn't bother you anymore. Do you propose any alternative behavior?

@bubal93 You are describing a different issue. Please, see #124.

[2017-03-26 22:39] woj-tek commented on #263
@iSoron in my mind it's "at least x times" and if I set notification for 5 days during weekday than I expect it... to show it 5 times during weekday. This probably is different from "do something twice a week".
In my case, if I'm overly actively it results in lack of notifications if in the last 5 days (including weekend) I already completed something (and if I'm doing it daily and set goal for 5

[2017-03-27 10:40] bubal93 commented on #124
Yeah, I guess adding an additional option for calendar weeks would be great. It`s really confusing when you selecting "2 times per week" habit, but the algorithm works in the rolling manner.

[2017-03-28 10:12] sm-g opened #269 "Completed days not shown as completed"
android 5.0.1, zenfone  z00d

1. Given habit with daily reminder, notification appears
2. After some time (from seconds to few hours) I mark it as "completed" from notification
3. Sometimes occasionally I notice then (next day usually) that that day not marked as completed. In both main screen and calendar view
4. Today something strange occurred, I open calendar editor, and mark _today_ as done.

[2017-03-28 10:47] bubal93 commented on #124
IDK, but at least it seems like the current algorithm should be corrected.
On the screenshot below  I have a 2-times-per-week habit. You can see, that periods between 30 Jan to 2 Feb and from 8 Feb to 11 Feb aren`t marked with light green as completed habit.

![screenshot_20170321-123313](https://cloud.githubusercontent.com/assets/17985872/24401323/3f1715c0-13b4-11e7-8942-8bf6b34e8aa4.png)

Why it

[2017-03-29 09:29] sm-g opened #270 "Variable habit frequency"
Some habits have changeable repeat interval, i.e. watering of plants should be done more often in summer than in winter. After changing this parameter, app apply new rule to all history (and percentage rise down, like we missed some at past, but we did not).

Would be cool be remember (and allow edit) repetition settings change in time.

[2017-03-29 21:02] sojusnik commented on #160
@iSoron I think, that my issue is the same as @woj-tek is describing [here](https://github.com/iSoron/uhabits/issues/263):

[2017-03-30 12:41] woj-tek commented on #42
I think that tapping multiple times to increase the count would be enough, but then we have problem with marking it off/decreasing -- I think that using long tap for it would also work;
presentation wise
* small number below tick? or instead of tick if issue is countable.
* in the overview tab - in calendar view change days to count (and make months separated, i.e. if 1st is on wednesday start blo

[2017-03-30 12:48] woj-tek commented on #263
@iSoron pondering this a bit more - I think there should be an option (either global or per habit) whether notifications should happen at designated day always (despite "completeness" of task) or depend on whether task is considered completed in the given period -- that should solve the issue IMHO

[2017-04-02 09:08] devurandom commented on #269
I suffer under the same issue.

For me, it also happens that the days where I am 100% sure I succeeded, and that I got a notification and I checked in as successful on it, often show up as unsuccessful in the four-days-history list at the top. When I then tap the X of the day that I succeeded, but that is shown as if I did not, it is still marked with an X / unsuccessful. Only if I tap it a second

[2017-04-02 09:20] devurandom commented on #181
@jotran were you able to finish this?

[2017-04-02 09:26] devurandom commented on #125
This might be one way to solve #96.

[2017-04-02 12:25] iSoron commented on #228
For everyone suffering from this issue, could you try to update to the beta version (1.6.2) and then press "Repair database" on the settings screen?

[2017-04-02 12:25] iSoron commented on #269
This is a duplicate of #228. I posted a new message there today. Please, have a look.

[2017-04-02 12:25] #269 closed

[2017-04-02 13:34] devurandom commented on #228
I would love to, but the "beta programme is full".

[2017-04-02 13:40] iSoron commented on #228
@devurandom Thank you for letting me know. I have increased the number of beta testers. You should be able to download it in a few hours.

[2017-04-02 17:09] JotraN commented on #181
@devurandom Nope, I got distracted. Feel free to pick it up if you want.

[2017-04-02 17:21] devurandom commented on #228
@iSoron Thanks for the hint about the beta! After updating to 1.6.2, even before I ran the database repair (which I did), my habits showed a lot more ticks.

[2017-04-02 19:44] fr34q commented on #228
@iSoron Thanks for the update. I experienced the same behavior as @devurandom
I will check the next days if missing ticks still occur but so far it looks good.

[2017-04-03 06:47] devurandom commented on #228
I have to bring bad news: Android takes a screenshot when closing applications, which it stores and shows in the running-application switcher. When one opens an application from there, it will smoothly blend over to the current screen of the application. Now the bad news: While it was blending over, I saw ticks vanish. Which means: The last time the application was running, there were more ticks t

[2017-04-04 21:49] iSoron commented on #253
Hi @pschwede, thank you for the contribution. Sorry about the delay, we were switching to a new translation platform. Please, join us at [this link](http://translate.loophabits.org/). Even if the translation is already completed, you can still proofread it and suggest changes.

[2017-04-04 21:49] #253 closed

[2017-04-05 13:43] GoodEveningMiss opened #271 "Streak includes streaks of incomplete days"
I have a habit I rarely complete. For a couple months until I finally did it once, it showed me a streak of 78 days! Except that was 78 days for which I didn't complete the task. Before I checked today off, it also showed me a streak of 18 or so days for which I again did not complete the task.

In trying to replicate this issue, I now notice it is sometimes showing a duplicate streak for 1 day. A

[2017-04-05 15:47] iSoron commented on #271
Hi @GoodEveningMiss, could you please include a screenshot of the problem? Also, what version of the app are you using, and what version of Android?

[2017-04-05 15:50] iSoron commented on #270
Hi @sm-g, thank you for the suggestion. While it makes sense for the app to remember changes to the habit frequency, I would expect such a feature to complicate the interface and cause quite a bit of confusion. If anyone thinks this can be done in an intuitive way, please feel free to implement a prototype, and I will consider it.

[2017-04-05 21:06] devurandom commented on #228
I just noticed that Android tends to show old screenshots in the running-application switcher. Thus my last comment is very likely moot in that I did not actually observe an issue but expected behaviour of the running-application switcher.

[2017-04-06 10:47] bubal93 commented on #124
Yet another confusing thing. Lets assume, that you have a habit with not every day repetition (let it be once per week).

So, then you do it, the app marks next 6 days with different color (light green), that shows your "implicit" repetitions.

But why does it count as a full-week streak? If I did some habit once, it **doesn't mean, that I have a 7-days streak.** This is not logical.

Suggestions

[2017-04-07 07:49] flowgunso commented on #45
The priority on this feature should be raised, it improves usability.

[2017-04-08 13:16] consoleaf opened #272 "Allow user to dismiss the habit for one day"
What about adding a button for hiding a task for one day?

[2017-04-10 13:26] iSoron commented on #105
Closing due to inactivity. If anyone is still experiencing this issue with the newest version of the app (1.7.0), please let me know.

[2017-04-10 13:26] #105 closed

[2017-04-10 13:27] iSoron commented on #265
Closing due to inactivity. If anyone is also experiencing this issue, please provide the information above, so that we can fix it.

[2017-04-10 13:27] #265 closed

[2017-04-10 13:29] #262 closed

[2017-04-12 08:06] artem-p opened #274 "Reminder days are reset when the reminder time is changed."
I have a habit with a partial-wheek reminder, 5 days a week for example. When I change reminder time, reminder days are reset back to all week.

[2017-04-12 13:40] iSoron commented on #274
Thank you for reporting this bug.

[2017-04-12 15:31] iSoron commented on #274
Fixed by bb0d43018e.

[2017-04-12 15:31] #274 closed

[2017-04-14 13:10] vinayneekhra opened #277 "Creating an iOS version of the app"
Hi,
Habits is a great app.
I was wondering about developing the app for iOS.

Has this been considered in past? If yes, what is the status of the project?
If I want to begin, do you have any suggestions, where should I start?

Cheers,
Vinay

[2017-04-17 17:38] abathur opened #278 "Keep current (but unchecked) streak at top of widget until day ends"
Apologies if this is a known issue; I tried a few searches but didn't see anything obvious.

I have a widget showing 9 streaks for a habit where all shown streaks are now over two weeks. My current streak will show at the top of the widget even when it's shorter than this--but only if I've already checked off the habit for the day (I prefer to check it off at bedtime).

This means that, for the fi

[2017-04-19 16:27] ravemir commented on #228
I have experienced this issue as well (reported it in a review, recently), but I believed it was related to ticking off as 'Done' on notifications from the lockscreen.

[2017-04-21 23:15] ojanvafai opened #279 "sync/export to a google spreadsheet"
I'd love the ability to sync to a Google Spreadsheet so I can use the Spreadsheet tools to data mine and as an added peace of mind regarding backups (e.g. if I lose my phone).

I can export to CSV, and import into Spreadsheets of course, but I'd rather have something automatic. This would also serve as a way of having continuous backups instead of backups when I remember to do them.

Lastly, this

[2017-04-21 23:17] ojanvafai opened #280 "Represent scores as sparklines"
Not sure this is a good idea, but I could imagine it being nice to show a sparkline of the score insted of the circle so you could see the trend of your progress instead of just the current value. Basically the habit strength graph as a single line tiny icon.

[2017-04-21 23:28] ojanvafai opened #281 "have a skip day budget"
This is related to #88, but is a different enough feature request that I figured I'd post it separately.

I want a budget of days to skip. For example, I have a habit of "walk for 30 minutes" that I want to do most days, but I want to give myself some leeway to feel constant pressure that I have to do it literally every day. So, I want to say something like, I get to skip 2 days a month.

I'd love

[2017-04-24 05:59] shamsmc opened #282 "Web Interface"
Do you have any plan to create a web interface for it?

[2017-04-24 09:45] licaon-kter commented on #282
Read #245

/close this

[2017-04-24 13:20] #282 closed

[2017-04-24 13:30] shamsmc commented on #245
A web interface will definitely help many users, especially users at office environment. Its not convenient to use mobile app during office hour, but you can easily open up a browser window and keep tracking & updating your habits. Cloud/web sync will help recover data if you lose your device. I prefer to use apps mobile phone when I'm travelling, but at home I always use my tablet. Cloud/web sync

[2017-04-24 14:41] iSoron commented on #245
Thank you for the feedback, everyone. I will reconsider this issue after #104 is completely implemented and working well.

[2017-04-24 19:20] nickdbush commented on #267
I'd love to help with this! Would that be OK? I'm guessing you'd like to see designs fist?

[2017-04-24 22:20] iSoron commented on #267
Hi Nick, it would be great if you could help! If anyone else wants to post alternative designs too, so we can try different ideas, please feel free.

[2017-04-30 09:11] mr-flibble opened #283 "Widget showing archived habits"
Hello, when I create a widget, a list will appear containing all created habits, even those archived.
I think that archived habits should be hidden from this list. It will certainly improve usability.
Thanks.

[2017-04-30 09:13] mr-flibble commented on #45
I also think that this is an important feature that the application is missing.

[2017-05-01 07:18] fr34q commented on #228
@iSoron I could not reproduce the issue anymore since I updated to the beta version a month ago - seems to be fixed now. Thank you!

[2017-05-02 06:26] VijayS1 opened #284 "Import data from Way of Life"
How can I import data from Way of Life App?
PFA sample csv. rename extension if needed
[Way of Life (6-4-17).txt](https://github.com/iSoron/uhabits/files/969584/Way.of.Life.6-4-17.txt)

[2017-05-02 17:53] mr-flibble opened #285 "Add delete and archive buttons to menu in statistics screen"
When I have open same habit in detail view, in context menu (three dots) only available option is "Export".
I think it would be great to add the option to delete habit (without fear of misclick on main screen)
Thanks

[2017-05-15 19:28] GoodEveningMiss commented on #271
I'm on version 1.5.6 right now, most recent version of Android. Working on that screenshot

[2017-05-16 19:32] qv1x0te opened #287 "Applications crashes from time to time"
Hi,

The version 1.7.0 of the application crashes from time to time in my device when re-opening it after some time idle. You can find attached a generated bug report with the details.

[Bug Report - Loop Habit Tracker.txt](https://github.com/iSoron/uhabits/files/1005615/Bug.Report.-.Loop.Habit.Tracker.txt)

[2017-05-17 06:22] saschwanbeck opened #288 "Habit ring display for habits with less than daily frequency is a little unmotivating"
If I define a habit to occur just one day a week (like taking out the garbage) -- I'd like for the ring to show 'complete' if I do that habit/chore just one time. At present any amount less than seven times will result in what looks like incomplete progress to me. That's kind of unmotivating.

I suggest that the ring be completed in as many portions as required to equal the number of days the habi

[2017-05-17 08:26] atchyut-re commented on #267
Hello @iSoron, I have recently started using your app. I was very impressed with the features it have.
After that I had noticed its an open source project and wished to add my contribution.
Being a web developer I found this feature which I can do. Can you please let me know if still available to develop?

[2017-05-17 08:28] atchyutn commented on #267
Hello @iSoron, I have recently started using your app. I was very impressed with the features it have.
After that I had noticed its an open source project and wished to add my contribution.
Being a web developer I found this feature which I can do. Can you please let me know if still available to develop?

[2017-05-17 10:42] nickdbush commented on #267
I don't mind, as I've got quite a lot going on at the moment. Here's where I'd got up to design wise until I had to stop:

![loop](https://cloud.githubusercontent.com/assets/10998201/26150090/c749e442-3af4-11e7-90b4-6a41b0ce8228.png)

If you'd like to work on this together @atchyutn, drop me an email

[2017-05-17 10:51] atchyutn commented on #267
Hello @nickdbush, This so cool! :ok_hand:
I'm not an expert but a beginner, I can help you along if its okay for you. I wish to share some of my ideas.

Will drop an email with my thoughts and we can move further.

Thank you for the opportunity. :smile:

[2017-05-17 22:45] iSoron commented on #287
Thank you for the bug report, @qv1x0te. This crash has already been fixed in the development branch (see 65cc99db). The next version of the app (version 1.7.1) should not suffer from this issue. If it does, please let me know.

[2017-05-17 23:23] iSoron commented on #288
Thank you for the suggestion, @saschwanbeck. The ring displays the current habit score, regardless of the type of habit. In order to keep the interface consistent, I am not planning to modify this behavior.

[2017-05-17 23:23] #288 closed

[2017-05-17 23:30] iSoron commented on #283
Thank you for the suggestion, @mr-flibble. I agree that we should not list archived habits in that list.

[2017-05-18 05:43] saschwanbeck commented on #288
So that means you also wouldn't want any help to modify that display?

Sarah

On Wed, May 17, 2017 at 4:23 PM, Alinson Xavier <notifications@github.com>
wrote:

[2017-05-20 12:39] iSoron commented on #277
Hi Vinay, there are no current plans for porting the app to iOS. I would imagine this would take considerable effort, since none of the code base could be reused, and, unfortunately, I don't have any experience with iOS development and I don't own any iPhones or Macs, so I wouldn't be able to help.

Quite a few users have asked me about an iOS version, though, so there is certainly a demand for th

[2017-05-20 16:38] devurandom commented on #228
I believe this can be closed? @ravemir ?

[2017-05-20 21:35] iSoron commented on #228
Yes, I think this has been solved. If anyone still experiences it, let us know, and I will reopen the bug.

[2017-05-20 21:35] #228 closed

[2017-05-21 13:29] fin0 opened #289 "Implement a Planning mode"
Hey,
I have a suggestion that is in the back of my head for a rather long time.
What about having something like a planning mode in the app? Implemented as a checkbox like the "show archived" option. If selected, the days-timeline of each habit, where you normally select a habit as "done" for the past days, will also expand to the future. Now, maybe with a new UI-gesture (like fast double clicking

[2017-05-21 13:36] fin0 opened #290 "RTL-layout breaks habit table"
Hey, just a minor problem with the app:

If I select "Force RTL-layout" (right to left) in my Cyanogenmod (don't know of this is available with a standard android) because I'm using my phone with the left hand, the habits and the marks are mirrored, but not the top row with the dates. It is not a problem that makes the app unusable, but a fix would be nice to have.
Should I provide a screenshot?

[2017-05-21 14:23] iSoron commented on #290
Thank you for reporting this bug, @fin0. I have just released a new beta version of the app (v1.7.1) which fixed this, in addition to some other issues. Could you please confirm that it works for you?

[2017-05-21 23:28] fin0 commented on #290
Thanks for the fast answer. Sure I will try, how can I get the apk? Will it be at f-droid tomorrow?

[2017-05-22 01:16] iSoron commented on #290
Yes, it should appear on F-Droid tomorrow.

[2017-05-23 06:33] fin0 commented on #290
Fixed :)

[2017-05-23 06:34] #290 closed

[2017-05-23 08:14] fin0 opened #291 "In night mode: Text has bad readability when editing a habit"
The title says it all, hope this is reproducible. The text "Edit habit", " x times in y days" and the time of the alarm clock has such a light grey, that it is hard to distinguish from the white background.

Pretty sure this came with Version 1.7.1.

[2017-05-23 08:17] fin0 opened #292 "RTL-Layout: Alarm clock setting misplaced when editing habit"
In RTL-layout, the alarm clock setting (in my case "off" ) is way too far left and collides with the "edit-arrow" of the row.

[2017-05-23 09:48] ferittuncer opened #293 "Conditional habits"
It would be very handy if we could have conditional habits.

For example: Habit C is done if and only if A and B done.

Real life example: Consider someone who has nutrition habits for breakfast, lunch and dinner. S/he also wants to check if s/he got done all three habits in a particular day.

Assume that breakfast is A, lunch is B, dinner is C and overall habit is D. D should be automatically eva

[2017-05-23 15:52] fin0 opened #294 "Habit-Question input text field: Allow arbitrary many lines without hiding buttons"
Something I realized just now: I have the habit to use the "Did you do... today?" text field as general purpose for saving information about how to actually do the habit (example: sport routine with maybe 20 different exercises). At the moment,  when entering too many lines, the "Save" button is not clickable anymore. Would be a nice-to-have for me and maybe others to actually enter more informati

[2017-05-23 17:38] firelite opened #295 "Allow user to duplicate / clone habits"
Hi,

Really loving the app so far! The first thing I felt was missing is the ability to duplicate an existing habit when creating a new habit.  Many of my habits had similar wording so I had to retype each one by memory.  It would be nice to have a quick way to copy existing habits and then modify as needed.

Thanks!  Wonder if this is something others could use too.

[2017-05-24 17:41] qv1x0te opened #296 "Applications still crashes from time to time"
Hello,

The version 1.7.1 of the application still crashes from time to time despite having been supposedly fixed.

For further information see https://github.com/iSoron/uhabits/issues/287 and the new bug report attached.

[Bug Report - Loop Habit Tracker.txt](https://github.com/iSoron/uhabits/files/1026464/Bug.Report.-.Loop.Habit.Tracker.txt)

[2017-05-24 19:22] iSoron commented on #296
Thank you for letting me know. I will reopen the original issue.

[2017-05-24 19:22] #296 closed

[2017-05-24 19:28] iSoron commented on #287
I have confirmed that this issue is still there. The previous commit solved a very similar bug, but not exactly this one. This seems to be related to [a bug in the Android Support Library][1].

[1]: https://issuetracker.google.com/issues/37073849

[2017-05-26 07:52] SiwyBoy commented on #287
What I noticed:
1. Open the app
2. Click the Home button to leave the app. It stays in background.
3. Wait till it's "closed" by system. On my device it happens after few minutes when the screen is turned off or when I use lot of memory consuming apps. I hope you understand what I mean ;)
4. Try to open it.
5. App crashes.

When it won't crash?
1. Open the app
2. Click the Overview button
3. Slide

[2017-05-28 03:49] iSoron commented on #294
Thank you for reporting this, @fin0. This is a known issue which has already been fixed in the `dev` branch. The fix should be available to all users in version 1.8.0.

[2017-05-28 03:49] #294 closed

[2017-05-28 04:30] iSoron commented on #292
Setting the system language to an actual RTL language, such as Arabic, does not trigger this. I could only reproduce this issue by setting the language to English then enabling "Force RTL layout" on developer settings. Developer options, such as this one, may cause many other issues, and therefore are not officially supported. If this issue is present in some actual RTL language, please let me kno

[2017-05-28 04:30] #292 closed

[2017-05-28 04:47] #291 closed

[2017-05-28 08:53] fin0 commented on #292
Aha ok! Should have tried to reproduce this myself with an actual RTL-language before opening an issue. You are right with the comment on the developer options. Thanks!

[2017-05-28 12:48] iSoron commented on #287
I have uploaded a new version of the app (1.7.2) to Google Play, which should fix this problem (again). If you still experience this issue with the newest version, please let me know.

[2017-05-28 16:03] #281 closed

[2017-05-29 07:52] bdambdam opened #297 "Sort by value makes uhabits incredibly slow"
Starting 1.7.0 the UI became almost unusable when using the new feature sort by value. I have 30 habits on my octa-core android 7 smartphone. After activating sort by value it takes 35 seconds for the list to appear.
It shows "You have no active habits" for these 35 seconds. With "sort manually" activated it takes 2 seconds.
I have "remove finished habits" activated, and it takes another 5 seconds

[2017-05-29 16:56] ravemir commented on #228
Sorry, @devurandom: last I tested, yes, I believe it is now working.

[2017-05-29 22:03] iSoron commented on #297
Thank you for the feedback, @bdambdam. This is the main reason why this version of the app is still in beta. Could you install the following version and check if the performance is acceptable on your phone?

http://files.loophabits.org/loop-1.7.2-bug297.apk

[2017-05-30 06:43] bdambdam commented on #297
Wow, impressive speed @iSoron . So yes, it's much faster. Almost at the 1.6.x speed, which is amazing. Startup takes now around 2 seconds instead of 35. Checking individual entries is faster as well.

[2017-05-30 13:00] samagra14 commented on #283
@iSoron I would love to work on this issue. I am new to open source and therefore targeting small tasks. Can I pick up the issue and work on it? Or is the issue already being handled? If I can work on this issue then I will need your help to get started.

[2017-05-30 13:06] bdambdam opened #298 "No way to figure out strongest month"
Hi again, is there a way to find the strongest week/month? The way uhabits measures doesn't show strongest period. See below, I exercised totally on every day basis in December but had a week month of January. The tool still shows that January was by far my best month. Is there a way to see real values?

![image](https://cloud.githubusercontent.com/assets/20455542/26584457/1a82cbb6-4549-11e7-9ee0-

[2017-05-30 13:09] gstruwig opened #299 "Implement Spaced Repetition intervals"
It would be nice to have an option to select spaced repetition reminder interval. Habits can then be used to set study times using the method described [here.](https://www.quora.com/Whats-the-best-spaced-repetition-schedule)  I have tried to implement this with my limited android experience and have managed to compile your code, but the complexity is beyond me and I don't know where to start.

[2017-05-31 06:03] bdambdam commented on #297
It is much faster indeed, but this version (1.7.3) doesn't reload the whole list in the next morning with "Remove Completed" activated.

[2017-06-01 00:45] #287 closed

[2017-06-01 00:46] iSoron commented on #285
I agree that we could have this option there. We could also have archive or unarchive.

[2017-06-01 01:12] iSoron commented on #299
Hi @gstruwig, could you come up with a specific example of a habit where spaced repetition would be useful, and how would it work inside the app? I am very familiar with spaced repetition learning, and it's indeed a great learning tool, but I don't think it would work well for this app.

[2017-06-01 07:20] gstruwig commented on #299
Hi @iSoron. I am thinking of a Student that would benefit from set reminder times, based on spaced repetition intervals, to revise previous class work. uHabits will successfully do this but is limited by the fact that reminder intervals are all of a fixed duration.

[2017-06-01 14:44] iSoron commented on #297
Glad to know that the performance problems are gone. The issue of reloading the list will be solved in the next version (1.7.4) which will be out in a few days.

PS: If you still have the APK from the link above installed, please make a backup of your data, uninstall it, and then install the app again from Google Play (or F-Droid), otherwise you will not receive the next updates automatically.

[2017-06-02 19:15] artem-p commented on #293
Maybe nested habits will be better approach? In example above, we can consider D as main habit and A, B, C as "subhabit". And display them in the same way, as subcategories instead of flat structure.

[2017-06-02 20:39] ferittuncer commented on #293
What if:

Let A, B, C, habits and D, E conditional habits;
D = A & B
E = A | C

How to nest them now? Habit A belongs both D and E.

[2017-06-03 14:04] mr-flibble commented on #298
Same "problem" habit strength graph have pretty big ... momentum.

Maybe solution is add context menu with switch to "Habit frequency view" ?

[2017-06-04 04:41] iSoron commented on #124
Thank you for the feedback, everyone. I have reworked the way checkmarks are automatically added. The app will now try to avoid leaving gaps in your history. Below, for example, is a habit that should be performed two times per week. These changes should be available in version 1.8.

![checkmarks](https://cloud.githubusercontent.com/assets/4699657/26758985/6c661f74-48bd-11e7-9758-cb6f7e2cc11d.png)

[2017-06-04 13:53] iSoron commented on #283
Hi @samagra14, please feel free to work on it.

[2017-06-04 17:16] #99 closed

[2017-06-04 17:46] #124 closed

[2017-06-05 00:27] fin0 commented on #124
Wow great! :) Was always wondering about the current behaviour.

[2017-06-06 11:27] erluxman opened #300 "Convert project to Kotlin"
Are there any plans about migrating this project to kotlin ?

[2017-06-06 19:28] chreekat commented on #210
I would say the most important part of building a habit is making the attempt. So if you have made an attempt, that is good enough to make a full mark in the habit tracker.

Tracking actual progress (chapters read, lessons practiced, words learned) can be done separately!

[2017-06-06 19:36] chreekat opened #301 "App fails to fix inconsistent database and repeatedly crashes"
### Background info

My device is a Nexus 5X, Android 7.1.2. However, this problem existed on a different phone, too.

I am on the beta tester program for Loop, and I have version 1.7 of the app. But again, this problem has persisted for a long time.

### Bug report

When I open the app, it shows the main screen and begins to populate the list of tasks. Within half a second, it closes, and Android

[2017-06-06 19:47] iSoron commented on #301
After the app crashes, can you please reopen it then send me a bug report from within the app (settings / generate bug report), so that I can have a better look?

[2017-06-07 00:40] iSoron commented on #300
Yes, I guess we will eventually migrate to Kotlin, but this is not a high priority right now.

[2017-06-07 18:20] chreekat commented on #301
Will do!

On Tue, Jun 6, 2017 at 12:47 PM, Alinson Xavier <notifications@github.com>
wrote:

[2017-06-07 18:22] chreekat commented on #301
..and done.

On Wed, Jun 7, 2017 at 11:20 AM, Bryan Richter <b@chreekat.net> wrote:

[2017-06-07 23:02] iSoron commented on #301
Thank you for the bug report, @chreekat. For the record, I have copied the relevant part of the bug report below and I am tagging this as confirmed.

[code]

[2017-06-07 23:05] #297 closed

[2017-06-07 23:57] chreekat commented on #301
I saw the 'Repair database' option in settings, and clicked it... now I think I should wait to see if the problem happens again.

[2017-06-08 06:35] bdambdam commented on #298
In 1.7.4 there was a mention about "Show Strongest Month" or similar, is it that feature? Or what has changed around this topic in 1.7.4?

[2017-06-08 14:43] sebastian05067 opened #302 "Notifications Bug"
Is this a bug?

https://mega.nz/#!IZsQTSYa!uBIRRVcOhsBqf_2UCl26AtzuEqS1DC-soxh_9nbRhRc

[2017-06-08 19:14] #302 closed

[2017-06-08 19:34] sebastian05067 opened #303 "Notifications button LATER"
Hi,

When i press the botton LATER the notification goes and return again. Anyone else has this problem?

[2017-06-08 20:19] chreekat commented on #301
I think repairing the database has made this problem go away!

I wish I had saved a copy of the broken database, so we could find the root cause of the problem I was having. Now, however, I think we should close this issue.

If it comes back, I can reopen.

[2017-06-08 20:25] iSoron commented on #303
Hi @sebastian05067, just to double check, what version of the app are you using?

[2017-06-09 00:35] iSoron commented on #301
I will leave this open for a few days, in any case. If anyone else is facing this issue, please let us know.

[2017-06-09 02:40] sebastian05067 commented on #303
Version 1.7.2

Look at video from the bug

https://mega.nz/#!4d0TRSpD!uBIRRVcOhsBqf_2UCl26AtzuEqS1DC-soxh_9nbRhRc

[2017-06-09 19:37] matclab opened #304 "Add an activity to export database backup"
It would be nice to allow external tools such as tasker or automate to be able to call an activity for  doing a backup of the database in a given directory.

I've lost two months of data by having forgotten to do a backup before my phone died...

[2017-06-10 17:17] abhijith-gururaj commented on #303
Hi even I am facing the same issue. When I press later, does it mean the app will remind us  like 1 hour later or it simply means that I am not going to do this habit today.

[2017-06-10 23:03] iSoron commented on #303
Thank you for letting me know. This should be fixed in version 1.7.5, which was released today.

@abhijith-gururaj Pressing later should show you the reminder again a few minutes later. You can change the precise length of "later" in the settings.

[2017-06-10 23:03] #303 closed

[2017-06-13 06:41] kpeckett opened #305 "Notification opens summary page"
I often forget to update the tracker, and would just tap the notification as is, and use the main interface to mark habits as done.

A recent update seems to have made the action for tapping a notification load the summary page for the habit and not the main page as it used to.

Is this a bug or a feature?

[2017-06-14 15:43] woj-tek commented on #303
Isn't this the same as #256, which leads to  #160, which in turn is planned for a next major release?

[2017-06-15 03:58] erluxman commented on #300
Are Kotlin PRs welcomed ?

[2017-06-16 10:56] iSoron commented on #300
@erluxman Sure, Kotlin PRs are very welcome. I have started converting the `uhabits-android` module to Kotlin a few days ago, on the branch `feature/kotlin`. I would like to have that module completely converted first, before we start converting the others.

[2017-06-16 22:50] azzamsa opened #306 "Indonesian translation completed"
It seem Indonesian translation already completed, I am just adding 20% of the portion. some of them already translated. and this translation need to be voted.

some of translation from the past is already fine. and I left the app name in englis "Loop Habit Tracker".

Really glad to contribute to this great project.
thanks for everyting iSoron, I am really apreciate your effort.

thanks.

[2017-06-17 19:09] qcaoSpring commented on #277
Hey, I have several macs and friends who have iPhone. Considering this is actually the only functional and user friendly GPLed time tracking software for mobile devices, would be really great to port it to iOS. How about we discuss the alternatives? Maybe port it onto some web app framework (Electron comes to mind) so both iOS and desktop can use it, or maybe integrate it on top of some framework

[2017-06-17 19:10] hyiltiz commented on #277
Hey, I have several macs and friends who have iPhone. Considering this is actually the only functional and user friendly GPLed time tracking software for mobile devices, would be really great to port it to iOS. How about we discuss the alternatives? Maybe port it onto some web app framework (Electron comes to mind) so both iOS and desktop can use it, or maybe integrate it on top of some framework

[2017-06-18 11:11] sm-g opened #307 "Sticky notifications do not allow to skip task today"
You only can mark as completed or delay it.

Workaround: mark as completed, open app and uncheck

[2017-06-18 14:23] alpha-raptor opened #308 "Archives ..?"
How do I access my archived habits ..?

[2017-06-18 14:35] mr-flibble commented on #308
Hello, on main screen click filter icon (icon in the middle with horizontal lines ) and untick "hide archived habit" - or something like that :-)

[2017-06-19 08:36] fin0 commented on #270
What do you think would create the most part of the confusion? The interface to manage frequencies for a list of time periods for a certain habit?
Or do you think the problem would arise more in the evaluation, e.g. the graph and everything else?

[2017-06-19 10:48] #308 closed

[2017-06-20 09:56] Rightmanj commented on #194
It will also be useful for swimmers or runners, in order to keep truck the time and distance.

[2017-06-20 10:07] #283 closed

[2017-06-20 10:18] iSoron commented on #307
In my mind, the point of sticky notifications is exactly that you cannot dismiss them, unless you perform the habit. You can still snooze them, but they will come back after a while. If you want to be able to dismiss notifications without performing the habit, you can disable the sticky notifications option and simply swipe the notification away.

[2017-06-20 10:20] iSoron commented on #306
Thank you for your help, @azzamsa!

[2017-06-20 10:20] #306 closed

[2017-06-20 10:23] iSoron commented on #305
Yes, this is an intended feature. Now we show the statistics page for the habit, but we no longer automatically dismiss the notification. If you want to open the main screen of the app, you can still tap the notification and then tap the back arrow (top left of the screen).

[2017-06-20 10:23] #305 closed

[2017-06-20 10:25] iSoron commented on #295
Thank you for the suggestion, @firelite. I agree that this would be an interesting feature.

[2017-06-20 10:31] iSoron commented on #293
I am already planning to add some support to this through the use of tags (see #31). It will not be as advanced as you suggest, but I believe it will cover the most common use cases, while not complicating the UI too much. For example, if a person has the habits breakfast, lunch and dinner, she could select these three habits and add a tag "nutrition", which would allow them to see statistics for

[2017-06-20 10:48] iSoron commented on #289
Thank you for the suggestion, @fin0. If I understand correctly, the main use case for this feature would be marking things that should be done today, so that, even if you have many habits, it's still easy to tell which ones should you be working on. Is this correct? Do you have another use case in mind?

If this is the only use case, then I think a planning mode is too complicated for this. My gue

[2017-06-20 10:51] iSoron commented on #284
Hi @VijayS1, currently it is not possible to import data from this app, but this would be an interesting feature to have. Thank you for providing a sample CSV.

[2017-06-20 10:56] iSoron commented on #280
Thank you for the suggestion, @ojanvafai. I think this could work. Even if not replacing the circle, we could certainly show sparklines in other places. If anyone wants to implement a prototype, or even just prepare some mockups, I would be glad to consider this feature.

[2017-06-20 11:20] iSoron commented on #279
Thank you for the suggestion, @ojanvafai. For automatic backups, I think integration with Google Drive / Dropbox would make more sense for most users. Even if we could export data to Google Sheets, there's no way we could reliably import it back. I also don't see how Google Sheets could work as a sync solution.

So, leaving backup and sync aside, why would you need to repeatedly export your data t

[2017-06-20 11:23] iSoron commented on #278
Thank you for the suggestion, @abathur. I think solution 2 is acceptable. We can simply show the most recent streak at the top.

[2017-06-20 11:44] iSoron commented on #277
@hyiltiz I am currently separating the code of the app into two modules -- `uhabits-android`, which contains the current Android UI, and `uhabits-core`, which is a pure Java module containing everything else. The idea is to make the Android module as thin as possible, so that porting the app to other platforms is easier.

Perhaps we could use some transpiler, such as GWT, JSweet or J2ObjC, to conv

[2017-06-20 12:30] iSoron commented on #194
@Rightmanj This will be covered by numerical habits (see #42)

[2017-06-20 20:30] dalecarlian opened #310 "Make an option to force english locale"
The Swedish locale contains lots of grammatical errors and other flaws which make the app unusuable. Lots of stuff that doesn't make any sense any more.

Suggestion is to have an option where you can force the app to English locale than forcing the user to the system locale.

[2017-06-20 21:09] licaon-kter commented on #310
Why not fix the translation then?

[2017-06-21 04:12] VijayS1 commented on #284
Thanks for taking a look at it. Anyway for me to convert this into existing formats that loop does accept?

[2017-06-21 05:33] dalecarlian commented on #310
@licaon-kter I can't fix it and there is a lot of translations that needs to be corrected and done.

[2017-06-21 05:56] licaon-kter commented on #310
Just edit the file and make a Pull Requesh, that's what we all do.

The language switch is not "in character", what Google app has it?

[2017-06-21 06:02] dalecarlian commented on #310
@licaon-kter I did translate this app earlier, but I haven't got the time to do this lately.
I've seen a lot of apps that has the option to change the locale. Even if I google it +stackoverflow I find a lot of solutions for this.

[2017-06-21 06:08] dalecarlian commented on #310
OK, did a quick review. Done. https://crowdin.com/proofread/loop-habit-tracker/1/en-sv

[2017-06-21 12:57] iSoron commented on #310
@dalecarlian Thank you for the translations. I made you a proofreader at our translation website, which allows you to disapprove the bad translations and approve good ones.

@licaon-kter We now have a dedicated translation platform at http://translate.loophabits.org/ The files here on GitHub are automatically generated by it. For that reason, I am asking people to translate it over there, instead

[2017-06-21 13:00] licaon-kter commented on #310
Great, I did not bother to look that up since just editing the file here is so easy. ;)

[2017-06-21 14:40] hyiltiz opened #311 "Bayesian change detection models? #feature"
I checked out the Wikipedia page on exponential smoothing, and was quite disappointed by the algorithm, since it does not take into account many possible factors, such as habit difficulty, possible causes of failure etc. Consider I would like to try to sleep before midnight, then sleeping at 1 is much better than 4, but the current model does not address that. Also, consider I'd like to firm a new

[2017-06-21 15:00] iSoron commented on #311
@hyiltiz Sounds interesting, but what additional input parameters would this model need? All the data we currently have is whether the use performed the habit or not on a given day.

[2017-06-21 16:56] hyiltiz commented on #277
Looking through Kitlin's documentation, and the two links you provided, it seems once the `uhabits-core` becomes a module/library in Kotlin, then trying to make it run on iOS seems quite feasible with multiple approaches. As you pointed out, one could go via JavaScript or simply native code.

I would guess that, given these many opportunities, it would be important/useful for all developers if you

[2017-06-21 18:05] hyiltiz commented on #311
The input parameters would depend on the type of habit since that would characterize the model. For each habit, statistically speaking, we could see it as the preferred events of all the possible events that could happen, and each events have their outcomes (utilities). Perhaps this would be easier if I follow up with my previous two examples:

_Habit 1_: Sleep before midnight (the sooner the bett

[2017-06-23 20:10] #310 closed

[2017-06-25 17:30] mr-flibble commented on #104
Hello, just an idea:
Since now application uses sqlite, would it not be too time-consuming to allow a user to attach an application to their own mysql postgresql server? The application would be in the online only mode but would be available from multiple devices.

[2017-06-25 17:37] mr-flibble commented on #31
Hello, I think the app would benefit from the ability to add tags to the items and be able to view only the selected tags or all (like in habit rpg android app https://play.google.com/store/apps/details?id=com.habitrpg.android.habitica&hl=cs )

Example: If I have a habit "go sleep early", so I never actually see a screen congratulating me that I have fulfilled everything.
While 90% of my day I do

[2017-06-26 04:21] erluxman commented on #300
That is amazing..

[2017-06-27 06:38] bdambdam commented on #298
Someone asked me again how often I meditated last months. I had to count the entries for every month. I cannot answer 67% and 80% since these values don't absolutely indicate the truth. Is there a way to see actual number of days/month in uhabits?

[2017-06-29 08:35] fin0 commented on #289
Thanks for the reply. Yes you understood correctly, main use case would be to mark habits that should be done. Today would be most important, but I would also like to have this feature available for the next days (optionally expanding the timeline to the future)

You are right, if tickmarks would disappear, that would be bad for the useability. But I'm also not completely convinced by the idea of

[2017-07-01 02:00] packetmagic commented on #121
I would love to have this feature. There are tasks that repeat a different number of times everyday. Being able to easily count the number of times they are completed would be wonderful. Perhaps as suggested before use a number instead of a check mark. You could use a double tap to increase the number and a tap and hold to decrease it.

[2017-07-10 04:20] judeibe commented on #238
I think I got the issued solved

[2017-07-12 17:59] MazeWebArchitect commented on #307
First, I'd like to thank you for your engagement.
Second, I agree with the issue commitee:
When the app's push notification is set to permanent (which is very useful, so I don't want to set it to swipeable), it makes (imho) sense to be given the option to mark it as not-completed as a third option. Especially when one wants to establish new habits, the option to "fail" is indispensable.

[2017-07-12 17:59] MazeWebArchitect opened #313 "Several reminders per day"
It would be nice to be able to set several reminders for a habit, which shall be completed several times during the day. Applicable examples:
- sports in the morning and evening
- medication throughout the day
- drinking/eating habits
For these type of habits it is not sufficient to just snooze the alarm - especially since the snooze time is now fixed for all habits and not individually adjustable

[2017-07-14 15:14] judeibe opened #314 "Android Studio 3.0+ upgrade causes build errors"
New version of android studio requires build tools alpha6 and gradle 4

[2017-07-14 15:33] judeibe commented on #314
My fix so far

[code]

[2017-07-14 15:35] judeibe commented on #314
Won't compile is /build directory still exists.

[2017-07-15 03:43] jharder01 commented on #104
I'm in favor of self hosted options as they are in-line with the spirit of this project. Granted, a shared, public sync server may help instead awareness of the app.

Additionally, I would love to be able to sync my Android Loop data locally to a personal Grafana/InfluxDB server for data logging and visualization.

[2017-07-15 10:22] anowlcalledjosh commented on #301
I am also having this issue on Nexus 5X. One or more of the widgets on my home screen fail to display (I think the message is "Error displaying widget") almost every day until I launch the app twice -- the first time it exits immediately, the second time it loads like normal. I've tried running "Repair Database" a couple of times, but it doesn't seem to help.

[2017-07-15 20:47] chreekat commented on #301
Yes, I also experience trouble with widgets.

Sorry I haven't had a chance to generate a database dump, iSoron :/

On Sat, Jul 15, 2017 at 03:22:06AM -0700, Josh Holland wrote:

[2017-07-17 08:31] pradeepmurugesan commented on #285
@iSoron I installed the app yesterday and found this feature missing. Is it ok if I implement the same and send a PR ?

[2017-07-17 21:55] iSoron commented on #285
@pradeepmurugesan Sure, pull requests are very welcome!

[2017-07-17 23:08] iSoron commented on #314
Merged.

[2017-07-17 23:08] #314 closed

[2017-07-18 05:54] imme-emosol commented on #313
Perhaps there could be some integration with for instance https://gitlab.com/CiaranG/tallyphant or https://github.com/gentlecat/counter/blob/HEAD/README.md for counting multiple occurences of a certain habit .

[2017-07-18 19:00] iSoron commented on #313
Duplicate of #179

[2017-07-18 19:00] #313 closed

[2017-07-18 20:49] imme-emosol commented on #121
Could a distinction between double & single taps be made .. ?
single tap > log one entry for habit (with current timestamp)
double tap > remove previous entry for habit

[2017-07-18 20:50] imme-emosol commented on #313
Or duplicate of #121 .. (for people getting here).
#179 seems to be for multiple reminders .
#121 seems to be for multiple logged entries per day .

[2017-07-18 21:21] imme-emosol commented on #121
To add even more body to this; I would like to be able to keep track of a certain habit, not to reach a goal but just to get a notion of my current repetition of it.

In my specific case, I was hoping to be able to count the amount of times I drink coffee over time.

[2017-07-19 02:31] iSoron commented on #301
I have released a new version (1.7.6) on Google Play that is supposed to fix this issue. It is currently only available to the beta testers, so you might need to [join our open beta to download it](https://play.google.com/apps/testing/org.isoron.uhabits). Please, give it a try and let me know if the problem is solved.

[2017-07-19 18:00] chreekat commented on #301
Excellent. I'll let you know if it ever happens again.

On Wed, Jul 19, 2017 at 02:31:48AM +0000, Alinson Xavier wrote:

[2017-07-26 00:18] #50 closed

[2017-07-29 19:18] marko1401 opened #315 "Complete builds fails."
app wont load at all

[2017-07-30 21:17] juanluisrto commented on #42
Hi @iSoron , I am personally really looking forward to this feature. I wonder what happened with the `feature/numerical-habits` branch. Did it ever got merged? I would gladly contribute and work on this feature myself if no one is working with it at the moment.
Something that could be built on the top of this numerical feature would be an evaluation system of the kind very_good/good/ok/bad/very_ba

[2017-08-01 14:29] #301 closed

[2017-08-01 14:37] iSoron commented on #315
I am closing this issue as there is not enough information for me to act upon it. When reporting a bug, please make sure you include the version of the app you are using, a bug report from within the app (Settings / Generate bug report) and a clear description of the problem.

[2017-08-01 14:37] #315 closed

[2017-08-02 09:09] pranavtifr opened #317 "A graph which shows all the habits at once."
It would be nice to have a graph which can show the strengths and other graphs you have for individual habits, of all the habits at once.
I hope I make myself clear.

[2017-08-02 09:11] pranavtifr commented on #307
It would be nice if we can leave sticky notifications for certain tasks but not all.

[2017-08-02 14:10] rsri opened #318 "Unable to build project after first project import"
I am using Android Studio 3.0 Canary 9. I forked the project and imported it on the studio for the first time. But the project refresh isn't succeeding. I keep getting this error.

Error:Could not get unknown property 'LOOP_STORE_FILE' for SigningConfig_Decorated{name=release, storeFile=null, storePassword=null, keyAlias=null, keyPassword=null, storeType=null, v1SigningEnabled=true, v2SigningEnabl

[2017-08-02 15:02] rsri commented on #318
Nevermind. I had to comment out the signingConfig under release in gradle for it to work.

[2017-08-02 15:02] #318 closed

[2017-08-02 15:23] iSoron commented on #318
This should be fixed now. Thank you for letting me know.

[2017-08-02 15:24] iSoron commented on #317
This is a duplicate of #51.

[2017-08-02 15:24] #317 closed

[2017-08-02 15:37] rsri opened #319 ""No" action to dismiss a notification if "Make notifications sticky" setting is checked"
For persisted notifications, if a user wants to dismiss a particular notification (For example, waking up early habit on a Sunday), with the current version, it's impossible. It would be better to have a "No" action for persisted notifications that performs the same action as swiping a non-persisted notification. If the idea is approved, I can take up this tiny feature and finish it. :)

[2017-08-02 16:07] iSoron commented on #319
This is related to #307. I think it's okay to add a "no" action to all notifications, even if the notifications are not sticky. I would like this button to **remove** the checkmark, though, instead of simply dismissing the notification.

If you need any help implementing this, just let me know. We also have a Slack channel, for more real-time discussions. Send an email to dev@loophabits.org if you

[2017-08-03 14:02] rsri commented on #319
Can you please explain the difference between dismissing notification and remove a checkmark? If a habit has been checked, the app doesn't show notification for the same. So dismissing notification implicitly means removing a checkmark right? Am I missing something?

[2017-08-03 14:20] iSoron commented on #319
In theory, we never show a notification when there is already a checkmark, so dismissing is the same as removing. In practice, strange things can happen, and it's quite possible that the notification is still showing up, even though a checkmark is present. In these cases, the expected behavior would be for the checkmark to disappear.

In the past, we had a bug where pressing "yes" caused the check

[2017-08-08 08:42] helenterry commented on #42
Hi @iSoron, I am wondering whether the numerical habits feature is still being considered or has been discarded. I couldn't find the the feature/numerical-habits branch.

[2017-08-13 01:05] Mathnerd314 opened #321 "Trend lines / reminders"
I want an app to remind me to do laundry. The math is pretty simple - I have X clean shirts, I wear roughly 1 a day, and so it should just remind me X days in the future (or a little before then). Ideally, I would just enter in 2 data points, e.g. 26 clean shirts today, 25 clean shirts tomorrow, and then the app would figure out the rest (just fit a [straight-line trend](https://www.fourmilab.ch/h

[2017-08-25 23:29] haopei opened #323 "Feature Request: Disable Tracker"
Hello everyone,

Once again, I would like to say that this has changed my life. Please allow me to request this feature which I believe would make this app even more applicable to life.

I would like to request 'disable tracker' feature which would allow users to disable the app from sending prompts with an option to re-enable the app in the near future. This is useful in situations where we want

[2017-08-27 19:20] Lvl4Sword commented on #56
I don't see this as hard to implement, and would make it a program I could recommend to others.
As-is this is a limiting factor to a few people.

[2017-08-28 19:35] TruffelNL commented on #323
Do you only want the notifications to stop or do you want to have a break from your habits as well? If it is the latter, you defeat the purpose of the app a little.

[2017-08-29 20:48] padamczewski commented on #267
I really like the app and would like to contribute as well :smile:

@nickdbush @atchyutn: What's the status of the stuff that you were working on? It would be good to see some code to get a better idea of what you wanna achieve.

[2017-08-30 18:40] towcar commented on #295
I will take a stride at adding this, shouldn't be too hard. Do we want the edit screen to come up automatically after duplicating?

[2017-08-30 19:11] mr-flibble commented on #295
I think so, otherwise user will be forced to think which habit is original and which is a copy :)

[2017-08-31 19:12] jjst commented on #257
+1! Some more context - [beeminder](https://www.beeminder.com/overview) is a goal-tracking app with a sting. Users pledge money towards quantifiable goals they want to accomplish. If they stay on track everything's well, but if they go off-track they have to pay the pledged amount to continue tracking. Goals can either be updated manually, or automatically. Beeminder has a [public API](http://api.

[2017-08-31 19:40] aliceinwire commented on #257
thanks for the context

[2017-09-03 11:45] AuroreM commented on #277
Hi !
Have you ever considered using React Native ?
I'm a big fan of your app. I can work on a POC if you  like :)

[2017-09-05 11:12] vinayneekhra commented on #277
Since there are many options available, should we decide on the technology to build the iOS version?
Then all of us, who are interested in contributing can collaborate over some repository?

Swift and native tech is something I would prefer.

[2017-09-08 13:34] o-antsiferov opened #325 "Feature request: categories/grouping"
It would be great to have categories or some kind of grouping for similar habits.

[2017-09-08 20:57] konahart commented on #325
I would love this. It would be nice to
a) view a particular set of habits at a time (e.g., everything related to Health) and
b) be able to have a meta-habit representing the group that gets checked if anything in the group is checked (e.g., if "run" and "bike" are in the group "cardio," "cardio" would get checked if I check either one)

[2017-09-11 13:52] llunak opened #327 "The 'dev' branch cannot import data from the stable version (missing DB index)"
The current dev branch is unable to import exported data from the stable version from Google Play. The import fails because of database upgrade from version 17 to 22, and the "drop index idx_repetitions_habit_timestamp;" command in 22.sql results in an exception because there is no such index in the DB file (as far as I can tell). The only other reference to this index is in 13.sql, but I presumab

[2017-09-11 16:32] helio2k opened #328 "Feature Request: Statistic graph for more than one habit"
Hi everyone,

love the app so far!
But i think i have an interesting update/feature for the statistic graph:
I think it should be possible to show up to (depending on the size of the graph) 4 different habits in the same graph, and be able to tell the difference.
The different habits could pull its color which are assigned in the app.

You could get much more information about your habits with one

[2017-09-12 12:45] artem-p commented on #323
+1 for disable/pause feature. It may be useful on vacation when I can't do my regular habits.

[2017-09-12 22:05] stanley85 opened #330 "Wrong display of checkmarks for once per week"
When once per week option is selected and monday is checked the remaining week is checked correct. Checking Tuesday the next week leaves monday unchecked. Please change from checking the following 6 days to a true once in a week manner. Thanks in advance. This App is great and helps a lot to maintain new habbits.

[2017-09-13 11:09] alex-schwartzman commented on #300
Hi, @iSoron

I'm afraid, that big-bang approach of migrating to Kotlin did not succeed. Should we now switch to another approach where developers will be welcome to sporadically rewrite java files into Kotlin here and there?

I'd love to contribute if we go this way.

Thanks.
Alex.

[2017-09-13 12:06] iSoron commented on #330
Hi @stanley85, this has already been fixed, and should be available to everyone in the next release of the app. See #124 for more details.

[2017-09-13 12:06] #330 closed

[2017-09-13 12:08] iSoron commented on #328
I'm glad you like the app, @helio2k. This feature request is a duplicate of #51, so I am closing it.

[2017-09-13 12:08] #328 closed

[2017-09-13 12:22] iSoron commented on #327
Our database migration system works like this: if someone opens the app for the first time, all the scripts are executed, starting from `13.sql` until `22.sql`. If you already have been using the app for a while and your database is, say, version 17, then, after updating the app, scripts `18.sql` until `22.sql` will be executed. So, in principle, the index should be there.

Are you able to reprodu

[2017-09-13 12:59] stanley85 commented on #330
Perfect, looking forward to the next release! Thank you for this!

[2017-09-13 17:52] llunak commented on #327
Yes, I can reproduce the problem following these steps. The exported database is at http://ge.tt/5ItM0Xm2 , but I'd expect that anyone should be able to reproduce the problem the same way.

I have already figured out that the .sql scripts is how database upgrading works, but that seems to be the case only for the 'dev' branch version of the app. In the 'v1.7.6' tag version (which I assume to be th

[2017-09-15 06:26] vinayneekhra commented on #323
Hi,
Did you mean taking a break from a particular habit so that it doesn't affect user's habit's score?
This is a desirable feature, however the way the app calculates the score is based on past activity (taking  decreasing weight of past performance), so without changing the core of the app, I think it wouldn't be possible to 'pause' the habits without score getting affected.

There is a feature

[2017-09-16 17:43] llunak commented on #327
I'm now fairly certain that what I wrote above is correct. Version 1.7.6 uses ActiveAndroid, the .sql scripts are never run, and there's no sql index in its database setup.
My suggested fix should avoid the problem of the current version not handling 1.7.6's database.

[2017-09-18 22:14] petermmiller opened #335 "Add option to make layout more compact"
I'd love to see three **_independent_** 'compact layout' options for the main 'habits and checkmarks' screen:
- **Compact rows:**  Currently my creaky S5 can show 10 habit rows in portrait; since I rarely use a long habit name, there ends up being a lot of wasted space.
  - _Proposal:_  Selection option for 'Standard/Comfortable' (current double-height rows), 'Cosy' (1.5 height rows) and 'Compact'

[2017-09-20 19:48] jacobmoe commented on #178
Does it make sense for this feature to include an option for a daily CSV export to Google Drive (or whatever)?

[2017-09-21 12:03] iSoron commented on #327
ActiveAndroid was suposed to run all the SQL scripts. I will have a look at this later, to figure out how did it happen. In any case, I have merged your pull request and the issue is now fixed. Thanks!

[2017-09-21 12:03] #327 closed

[2017-09-22 04:07] yetanothernerdk commented on #45
This will be a great feature, agree with @flowgunso, priority should be raised.

[2017-09-23 11:30] vyu1 commented on #45
Hi all, I haven't contributed to this project before, but is it okay if I try to work on doing this? I've found this feature lacking since first installing the app.

[2017-09-23 11:31] vyu1 commented on #45
Hi all, I haven't contributed to this project before, but is it okay if I can start working on this? I've found this feature lacking since first installing the app.

[2017-09-23 23:05] Thoum opened #336 "Beginning of day and of week"
- I noticed that the week starts on Sunday in the app, but it would be nice to have the possibility to consider it as Monday, first day of work... It could be an option in the settings...
- It would also be cool to be able to choose the hour of an ending day... For example, today, i was out and missed my late tasks as "read 10 pages of a book before bedtime" and I'm in this situation every weekend

[2017-09-24 00:50] #336 closed

[2017-09-24 12:30] iSoron commented on #45
Hi @vyu1, pull requests are very welcome. How are you planning to make the checkmark widget support multiple habits? Widgets are very limited on Android, but one thing we could use is the [StackView](http://www.broculos.net/2011/12/android-101-how-to-create-stackview.html) layout. If you have any other ideas, let me know.

[2017-09-24 13:18] vyu1 commented on #45
@iSoron I was thinking of making a new ListView layout (widgets don't support `RecyclerViews`) that looks similar to the image @sojusnik posted above, http://i.imgur.com/CQGFOIn.png and to `HabitsActivity`.
However, using a `StackView` could also be interesting, and I'm open to anyone's input on which I should try to implement.

[2017-09-25 09:46] luisnabais commented on #277
Hello. I would also love this, I used Loop in Android, now I would like to use it in iOS as well.

[2017-09-26 21:31] hyiltiz commented on #277
@AuroreM For maintainability, a JS-based solution seems appealing, compared to a native solution like Swift as @vinayneekhra suggested. It seems @iSoron is more interested in converting the core parts to Kotlin (may have already started doing so by now). If that is the case, maybe we can try converting that to js and test out some minimal functionalities. I assume it converts to vanilla js. Then w

[2017-09-27 13:12] vinayneekhra commented on #277
@hyiltiz seems a good idea. I am not familiar with using web tech in iOS apps.
I worked on Electron and also a bit familiar with Kotlin.

Regarding the above approach I have little exposure, so once we decide the tech stack, I would be able to contribute.
If possible, could you suggest some resources which you found useful for using web tech for mobile apps?

[2017-09-27 19:25] hyiltiz commented on #277
I did a quick but relatively thorough search on cross mobile platform solutions, and it seems React Native is the best one out there to port uHabit. You can read more about those yourself, but here is one of the links that connects to many others [1].

It is easier to maintain a single code base than, say, a Kotlin and a Swift code base for Android and iOS separately. And yes, the JS community is

[2017-09-28 10:34] llunak opened #338 "Reminders do not trigger if app is not running"
See https://github.com/llunak/uhabits/commit/2bc20255c0444e3f50f62243efdb89ba82b9eda0 for the story.

What I'm not sure about is how to fix this properly. The commit above is simple and works, but it seems somewhat pointless to load habits in the background if the main thread very quickly blocks on it somewhere (setting up reminders does this on app start). In other words, the dev version of the a

[2017-09-28 11:08] iSoron commented on #277
As far as I know, React Native does not support many platform features, such as Widgets, AlarmManager or custom views. I would also expect its performance to be significantly worse than what we currently have, but please feel free to try to code a prototype.

The idea I had in mind was to create a core module, written in Kotlin, that would contain all the logic that is not specific to Android. Thi

[2017-09-28 11:36] luisnabais commented on #277
Have you looked at Ionic Framework?

[2017-09-28 21:29] olejorgenb commented on #284
If would be very useful if the app supported import from an generic csv format. That way users could quite easily write their own import scripts. It's a lot easier to generate what basically amounts to a list of dates (in the simplest case) than to convert to the more complex formats already supported for import.

I have some logs (datestamped lines basically) that would be cool to visualize with

[2017-09-28 22:27] olejorgenb commented on #284
I see now that the Habitbull csv format is very simple.

    HabitName,HabitDescription,HabitCategory,CalendarDate,Value,CommentText
    Workout,Did you workout today?,,2017-09-23,1
    Workout,Did you workout today?,,2017-09-28,1
    ...

Ref: #44, https://github.com/iSoron/uhabits/blob/dev/uhabits-core/src/main/java/org/isoron/uhabits/core/io/HabitBullCSVImporter.java

NB: haven't tested if valu

[2017-09-28 22:27] olejorgenb commented on #5
If anyone else are looking for a generic import format, use the habitbull csv format: https://github.com/iSoron/uhabits/issues/284#issuecomment-332981034

[2017-09-29 08:14] lgasp opened #340 "series identification issue"
![_20170929_100412](https://user-images.githubusercontent.com/3661279/31006635-be462a40-a4fd-11e7-99d1-65e7454f9710.JPG)

With  latest f-droid  loop version, 1.7.6  I found an issue with entries on Monday, maybe.

For example, if I have a twice a week habit, and one entry is on **Monday**, (while the other is on another day of the same week), it doesn't consider it as good for the series identific

[2017-09-30 14:44] iSoron opened #341 "Reminders keep repeating every few seconds"
A few users in Australia reported that, this morning, the app kept showing the reminders every few seconds and that the only way to stop them was to uninstall the app. This is probably related to the beginning of daylight savings time. One bug report is attached below:

[bug-report.txt](https://github.com/iSoron/uhabits/files/1346477/bug-report.txt)

[2017-09-30 18:41] iSoron commented on #341
Fixed in 16f20d50a04cb5f2abde513f5cc14e1725fd326a

[2017-09-30 18:41] #341 closed

[2017-10-02 13:36] woj-tek commented on #325
Definitely +1. I have a set of "morning routine" habits and this would greatly help have it in check.

[2017-10-02 13:39] woj-tek commented on #45
+1

A widget with a view similar to main app, with possibility to select which habits to display (this would go hand in hand with #325)

[2017-10-05 02:53] Teaminds opened #342 "Allow Checkmark Widget to show current streak instead of current score"
I was very motivated by the idea of "unbroken chain" - that is, the knowledge that I was "doing" the problem without permits has been so many times in a row. For example, "You publish records on Facebook for 24 days" - it literally controls me.
I'm happy to use the application on my Android smartphone, but I'm very uncomfortable that on the screen with widgets-habits (I have a lot of them) I do no

[2017-10-08 19:05] ebfortin opened #343 "Feature Request : Three-state toggle instead of two-state"
I've added a simple funcitonality where each Checkmark is three-state instead of two. Meaning that we can explicitly specify that a day is unchecked. I think it make clear the days that we explicitly didn't do as we were supposed to, instead of always relying on implicity unchecked. It can also be a way to indicate that we reviewed one habit and determined that we didn't succeed that day, when rev

[2017-10-10 14:05] cyb13 opened #344 "Export data doesn't work"
"export data as csv" and "export the database" are unable to work on my phone. I try to share the file someway like "save to google drive". There's no error message. But the file doesn't exist and can't be shared correctly.

I am running loop version 1.7.6 on Android 7.1.1 N6F27I on my Nexus 6.

[2017-10-11 00:27] iSoron commented on #344
Hi @cyb13, could you generate a bug report from within the app (Settings / Generate Bug Report), so that we can have a better look?

[2017-10-11 06:14] licaon-kter commented on #344
@cyb13: Using a file manager (eg. TotalCommander) helps?

[2017-10-12 10:21] artemohanjanyan opened #345 "Notification several times a day"
What are your thoughts about several notifications a day? Right now there is special error message for that, but it may be desirable scenario for some habits.

[2017-10-12 10:30] artemohanjanyan commented on #279
@iSoron actually there is an API for accessing contents of Google spreadsheet.

[2017-10-13 02:01] kevin-zhan commented on #277
Hello, I do love the app. Thank you very much for providing such an awesome app.
I have developed iOS app for almost two years. Now my job is as an Android engineer.Thus, I want to do something interesting about iOS at free time.
I wander if I can join you and make a nice iOS app~

[2017-10-16 04:00] cyb13 commented on #344
@iSoron

[Bug Report - Loop Habit  @Tracker.zip](https://github.com/iSoron/uhabits/files/1386182/Bug.Report.-.Loop.Habit.Tracker.zip)

This problem disappeared in version 1.7.8. I am not sure if it is because of the update (1.7.6 -> 1.7.8).

[2017-10-16 04:02] cyb13 commented on #344
@licaon-kter : This problem disappeared recently, so I can't test this.

[2017-10-16 05:13] licaon-kter commented on #344
/close this

[2017-10-18 04:45] crimx opened #347 "Cannot Play Ringtone"
[code]

Message alert is shown, but no ringtone is played. What could cause this issue? I'm using a mp3 file as ringtone. It works again after I reboot the device, but stops working at some point.

I am running loop version 1.7.8 on Android 6.0.1 (MIUI 8.5.4.0).

[2017-10-20 23:42] #347 closed

[2017-10-23 18:43] jsroyal opened #350 "Disallow users to modify dates in the past"
I just installed the app  and first of I want to thank you contribute an open source.
As I can see you can also modify yesterday habit so It won't be fair If we can restrict. Then It will generate true data.
It is just one thought if you like it then accept.

[2017-10-24 15:20] derebaba commented on #285
@iSoron I am currently looking into this. This is my first android project so this might be noob question. Should I write classes which implement Task (e.g ArchiveHabitTask, DeleteHabitTask)? or add a CommandRunner object to ShowHabitMenuBehavior class and use ArchiveHabitsCommand and DeleteHabitsCommand?

[2017-10-27 01:00] #344 closed

[2017-10-27 01:07] iSoron commented on #345
This is a duplicate of #121

[2017-10-27 01:07] #345 closed

[2017-10-27 01:09] iSoron commented on #343
Hi @ebfortin, please feel free to submit a pull request. I am closing this issue as it is a duplicate of #96.

[2017-10-27 01:09] #343 closed

[2017-10-27 01:26] iSoron commented on #342
Thank you for the suggestion, @Teaminds. I guess we could allow the user to choose whether the checkmark widget should display the current score or the current streak. In case we show the current streak, it would probably also be a good idea to show the best streak so far. I am not sure how to represent this visually, though. I would like to avoid having simply a pair of numbers, if possible. If a

[2017-10-27 01:32] iSoron commented on #350
Hi @jsroyal, if I understand correctly, you would like the app to forbid the user from making changes to dates in the past; is that correct? This feature is actually desirable in many situations. For example, many users only put checkmarks once every couple of days, or once every week. More fundamentally, though, if you decide to lie to the app, then there is really nothing that we, the developers

[2017-10-27 01:33] #350 closed

[2017-10-27 01:34] iSoron commented on #340
Thank you for the bug report, @lgasp. This is a duplicate of #124.

[2017-10-27 01:34] #340 closed

[2017-10-27 01:59] iSoron commented on #335
Thank you for the suggestion, @petermmiller. In order to keep the app simple, I am trying to avoid adding too many options. If such a feature ever makes it into the app, it will probably be simply a toggle "make layout more compact", which would trigger several of your suggestions simultaneously, not three independent toggles.

Another thing to consider is that the rows and columns are currently a

[2017-10-27 02:10] iSoron commented on #304
Thank you for the suggestion. I don't think we need Tasker for this. I am fine with the app exporting backups regularly to the SD card by itself. Since we already have #178, I am closing this.

[2017-10-27 02:10] #304 closed

[2017-10-27 02:45] iSoron commented on #285
@derebaba Thank you for working on this. You don't need to create any additional Tasks. You just need make `ShowHabitMenuBehavior` call `commandRunner.execute(new DeleteHabitsCommand(...))`. I expect the code to be very similar to what we currently have in `ListHabitsSelectionMenuBehavior`. You can have a look at that class and adapt the code, as necessary.

[2017-10-28 15:32] derebaba commented on #285
@iSoron Thank you for your answer. I can now successfully delete the habit. The problem is the app stays in statistics screen and it does not go to the list of habits after deleting (I can use the back button to go to list of habits to see that it is deleted). On the other hand, if I call `activity.finish()` in `showHabitScreen` after showing a confirmation dialog for deleting, it does not wait fo

[2017-10-28 21:56] bhaskara commented on #217
Found this while googling.  Sorry to hijack the thread, but @TravellerSam how do you get randomlyremindme to produce a csv file rather than the .rrm format?

[2017-10-29 15:08] #271 closed

[2017-10-30 20:35] c33s opened #351 "Add inverse/not habbits"
if a person want to stop something, like eating chocolate, playing computer, watching tv, smoking, drinking,... it would be awesome if it is possible to only mark the days where the habbit of **not doing** it was broken.

like if i want to stop eating sweets and i am quite good at not thinking about them and the tracking of not doing it, reminds me of wanting them.
for such things an inverse track

[2017-10-30 21:53] c33s commented on #88
for me skip day would be important, loosing the streak beacause of beeing ill ist demotivating

[2017-10-30 23:39] c33s commented on #38
i like the current icon, it is straight and simple.

changing the color would be ok for me, but this is mostly because of many the apps i use use the color blue :D

[2017-10-30 23:44] c33s commented on #293
conditional habbits would be awesome but tagged or grouped will also help

[2017-11-03 13:22] ZalerC opened #353 "Widgets fail to render in some devices"
ADW is download from f-droid, version is 1.3.6 standalone. OS is cm11, it is an old phone. The unhabits from f-droid or play, all show error. And cm11 default launcher sometimes is fine, sometimes is error too.
Another is backup always show false.

---------- BUG REPORT BEGINS ----------
App Version Name: 1.7.8
App Version Code: 35
OS Version: 2.6.32.9-AeroKernel (be546efa10)
OS API Level: 19
Devi

[2017-11-03 23:53] tianxiaogu opened #354 "Loop crashes when certain intents can't be handled"
We may need to check whether the device can handle the intent before requesting the activity.

[code]

[2017-11-07 17:03] c33s opened #356 "Add "once a week" repeat"
currently the calculation is every 7 days if i choose "every week". in the first place i missunderstood "every week" i assumed that there is a difference between custom (n times every x days) and "every week". it leads to the assumption that one is calculated day wise and the other week wise but both are calculated day wise.

if you have 2 fitness events a week, one on monday and one on wednesday,

[2017-11-15 03:51] iSoron commented on #243
This feature has been added to the app, but I will try it for a while before deciding whether to keep it or not. On one hand, the notifications do look nicer bundled together, but, on the other hand, it's now harder to check the habits directly from the notification panel; you must first expand the group and then expand the notifications for the actions to show up. I am not sure most users even kn

[2017-11-16 03:36] iSoron commented on #356
This has been fixed and will be available in the next version of the app. Please, see #124.

[2017-11-16 03:36] #356 closed

[2017-11-18 12:31] paulrm commented on #351
I love it! <3

[2017-11-18 12:42] paulrm opened #357 "Add button to toggle checkmark in detail screen"
Some notificacion guide us to the detail screen, but there are not way to check/uncheck the habbit there.

[2017-11-18 23:10] veggero opened #358 "Can't import full backup"
I can't import a full backup.
Here's the bug report:
[bug-report.txt](https://github.com/iSoron/uhabits/files/1485112/bug-report.txt)

[2017-11-19 08:09] schneiderlars opened #359 "Score drops while keeping up a daily habit"
Hey habits team,

Ich wonder about the following situation: I use a daily habit which I checked successfully for the last couple of weeks. First the score was rising to about 90%, but now it seems to drop a couple of percent in a weekly interval.

I made some screenshots to demonstrate the behaviour. My expectation was, that the score climbs continously as you describe it in your FAQ.

Great app a

[2017-11-19 17:52] holocircuit opened #360 "Having the ability to add a "comment" on a day"
It would be useful for me to be able to add short "comments" on days within the app.
E.g. for an exercise habit, having the ability to add a piece of text saying what exercise I did.

I'm not sure how to add this without cluttering up the interface though. Does anyone have any good suggestions? If so I can add this.

[2017-11-19 17:55] holocircuit commented on #360
Whoops, sorry, this is a duplicate of https://github.com/iSoron/uhabits/issues/194. Closed.

[2017-11-19 17:55] #360 closed

[2017-11-19 17:57] holocircuit commented on #194
I'd also like this, and would be willing to write it.

I'm not sure about the best way to do it with the interface though. Perhaps "super-long press" should bring up a menu with an option to add a note?

[2017-11-21 23:07] arschficken opened #361 "loophabits.org front page is blank"
http://loophabits.org/ returns an empty page. According to archive.org, this has been the case since at least April 2016.

Instead, the front page should say something about the project, and link to the FAQ and GitHub page.

[2017-11-25 18:12] tickTackHack commented on #351
To implement this may simply only take an option to inverse the grammar/phrasing rather than a technical change. So for example, a switch to change wording such as "Habit strength" to "Abstinence strength" or similar.

[2017-11-25 18:15] tickTackHack commented on #194
I'm also willing to give it a shot to implement this.  I would recommend making the input length restricted to a relatively short length. Maybe 240 characters? This can help with keeping the database size small and help deter security issues.

[2017-11-26 21:51] vyu1 opened #362 "Start score at 100 instead of 0"
What do you guys think about having an option/setting for habits score to start at 100% and go down when the user doesn't complete that habit, instead of the way it is now (habits start at 0% and go up to 100%)? I'd like to work on this if other people think this would be a cool idea.

[2017-11-27 11:02] c33s commented on #194
not sure it makes sense to restrict the length of the field. i personally see no benefit on having a "small"  database. it looks like the performance impact is not that huge (should be tested on an android device before of course). the devices all have quite a lot of space, so keeping the size small does not really matter.
even if someone writes a long text to 10 habbits, it is still only text. so

[2017-12-04 09:12] falematte opened #363 "Sorting habits with the number of check boxes marked in the last days"
Usually, I do this by hand but I think it would be very useful feature  for every person having to track a lot of differente habits...

[2017-12-04 17:35] maxkorp opened #364 "Dynamic Widgets"
I'm new to using loop, but so far I like it mostly. My only complaints really are around having large numbers of habits getting unwieldy, especially around widgets.

For example, I prefer to track my water intake in glasses as individual habits ("Did you drink your first glass of water today?", "Did you drink your second glass of water today?", etc).

For that issue, I'd propose a sort of sequenti

[2017-12-08 23:31] seiichinagai opened #365 "No scroll bar in main menu"
When the user adds more habits than fit on the screen, a thin scroll bar ought to appear when scrolling through habits.

[2017-12-13 18:11] uniqueid001 commented on #361
This is a duplicate of #267

[2017-12-27 18:05] kuba-orlik commented on #250
Please consider accepting donations, I'd likely contribute :)

[2017-12-28 01:01] charlesdurham opened #366 "Update from "X times in 7 days" to "X times a week""
7 days is recognized as a week only when it's once a week and the messaging is "Every week" in this situation. It'd be nice if 7 days was always translated to a week.

[2017-12-28 01:41] charlesdurham commented on #366
I don't think [this](https://github.com/iSoron/uhabits/blob/dev/uhabits-android/src/main/java/org/isoron/uhabits/activities/habits/show/views/SubtitleCard.java#L104) is localized correctly. It enforces the ordering of the words in the sentence, which can be locale sensitive.

[2017-12-28 16:56] namdnguyen commented on #104
Where is the application sqlite database, not backup files, stored on Android? I'm having trouble finding it.

[2017-12-29 17:33] Bujiraso opened #368 "Feature Request: Store user values along with dated checkmark"
Hi there,

First off: love the app. It's great.
Next, to business: I have a feature request that I'm curious to see how well it would fit in here.

I do lots of practice-based habits, for which the value of each day is slightly different depending on time commitment. A day where I have practised 60 minutes is a higher achievement than say 5m. For various other habits I keep a score out of 5 or 10

[2018-01-02 15:51] Anshoe commented on #362
I think this is an idea that will appeal to many

[2018-01-02 17:27] Anshoe commented on #43
@iSoron
Replying to :
"Thank you for the explanation. So, if I understand correctly, these habits would be completely independent of time? If I take the elevator today, but then I am not faced with the choice of taking either elevator or stairs for a month, then the score of the habit would keep the same until then?

I am not sure I would even consider these as "habits", but I will leave the issue

[2018-01-03 08:30] dennmuel commented on #362
Probably depends on the way you see it. Please correct me, if I'm wrong, but for _building_ habits I feel it's better to go from 0 to 100. For _maintaining_ habits it's probably better to measure the decrease from 100 towards 0. Does the way it's implemented now not model this once you get a habit to 100%?

[2018-01-03 13:43] vyu1 commented on #362
It certainly does. I was just thinking that people feel worse seeing their score drop, and it can incentivize some people to better maintain their habits.

[2018-01-03 15:13] iSoron commented on #362
I am fine with this. If you would like to start coding this feature, please go ahead @vyu1 and let me know if you have any questions.

[2018-01-03 15:17] #361 closed

[2018-01-03 15:18] iSoron commented on #368
Hi @Bujiraso, I'm glad you like the app. Please have a look at #42. I am currently implementing full support for numerical habits, which will include statistics. For other kinds of notes, see #194 .

[2018-01-03 15:18] #368 closed

[2018-01-03 15:19] iSoron commented on #365
You're right. Good catch. Pull requests for this are very welcome.

[2018-01-03 15:22] iSoron commented on #351
Thank you for the suggestion, but I have decided a while ago not to implement this feature. Please, see #15 for the rationale.

[2018-01-03 15:22] #351 closed

[2018-01-04 17:09] c33s commented on #351
@iSoron

please rethink your point of view. i am not allone with this feature wish.
rephrasing allone is not the key it is also relevant how much interaction with the app is needed. sometimes it is the key of not thinking about something, so not beeing forced to open an app and add a check every day.

in #15 you suggested the positive rephrasing:

vs

this need me to micromanage the habbit each da

[2018-01-06 23:20] seiichinagai commented on #365
Great! I'll get started on this one.

[2018-01-07 18:08] hut opened #369 "Hide "checkmark" widgets of completed habits"
To avoid cluttering of the home screen, it would be great if there was an option to hide checkmark widgets once they are completed.

**Rationale:** I use the checkmarks on my home screen to get an overview of what I still need to do. Having a bunch of widgets that show what I **don't** need to do, because I already finished it, is distracting.

Thank you.

[2018-01-09 05:49] mrgoodrich commented on #342
+1 to this suggestion. Regarding the visualization, as a user I would be fine with numbers for the minimum viable product @iSoron , especially if it was an option in settings. The numbers could appear after the checkmark is clicked.

[2018-01-11 08:26] dkabambe commented on #342
+1 from me too. I'd be happy to just have current steak on widget as that's the key at a glance info.

Would be good to have current and longest steak on the main home screen, (maybe only in landscape, on bigger displays, or as optional second line for each habit?)

[2018-01-11 22:35] lacivert commented on #362
Why not start with 50%? I suggest this because there are both possibilities: to complete more (positive score) or not complete (negative score)

I thibk it is better to be more neutral than positive or negative on start

[2018-01-11 22:49] vyu1 commented on #362
I liked the idea of starting at 100% because I think that it might give the user more incentive to not lose their perfect score. Starting at 50% doesn't provide this specific incentive since you still have to climb to 100%

[2018-01-14 01:37] alarsyo opened #371 "Support adaptative icons"

[2018-01-14 19:32] morrel commented on #279
A simpler solution would be to automatically export CSVs to Drive with some schedule. Once the CSV is in Drive, there are many good options for syncing that CSV with Google spreadsheets.

As for why someone would do this. It's the only way to combine personal data from different sources. Right now I have to keep a habit of exporting CSVs from various apps once a week..

Here's how to load a CSV in

[2018-01-21 19:26] deutrino commented on #311
What about a model like

* did habit
* mostly did habit
* did habit a little
* didn't do habit

For me, abstaining from news and social media three days a week is a habit I'm working on, but if I cheat even a little, for example by checking one social media account, then it becomes "well I can't check the habit for today, might as well party right? ::loads politico.com::" and that's not necessaril

[2018-01-21 19:42] deutrino commented on #223
Ideas:

* implement a simple way of sharing using only OS intents
* the ability to share a canned phrase, like "I just achieved a new personal best in the habit I'm cultivating! 14 days in a row of [habit]"
* the ability to choose a graph - like the strength graph, or a streak, etc - and export an image (with a little canned text, if that's allowed by the OS) to apps that can accept shared images

[2018-01-21 19:49] deutrino commented on #178
I believe newish versions of Android may make exporting to various cloud storage services easier than it used to be, but I personally hope that if periodic backup does get implemented, there is an option to do so locally to the file system 🙂

[2018-01-21 20:39] deutrino commented on #169
I came here to beg for a similar but simpler feature on the same behavioral basis. I would like a small, fun, unobtrusive animation when I hit the check mark on a habit! It's positive reinforcement.

I had no other ideas about information being contained therein (the "+3.4%" idea). That probably requires more thought, especially around the potential to become less motivating as a habit is stronger

[2018-01-22 03:30] edjroot commented on #96
Hello! Any news on this? :)

[2018-01-22 10:20] jwleon opened #372 "Show days that can be skipped in advance"
Hello!

I have a feature suggestion: For habits that are not all days of a week, it would be nice to see, if the next days are currently backed by the x of y "policy" and can be skipped without breaking the streak. This would save me headache of figuring it out for the next day (which is, in some cases, not too easy).

Thanks in advance for reading and maybe considering it and thanks for this grea

[2018-01-23 07:01] AeliusSaionji commented on #351
Just use the phrasing, "did you smoke today?" and treat the data collected as a measure of your failure. Use the color red for such "negative habits".

This is literally exactly what you described in the first post- there is no need to change any code at all to achieve this...

[2018-01-28 21:10] AeliusSaionji commented on #362
"that it might give the user more incentive to not lose their perfect score."

The problem with this approach is that once you do lose your perfect score, the effect backfires and becomes demotivating. Someone who wants to maintain their 100% will be particularly demotivated by their "perfect record" being permanently "tainted".

Any implementation of this would need to give the user opportunities

[2018-01-28 21:24] vyu1 commented on #362
I think you made a very fair argument, though I still personally don't
think the incentive system created by starting scores at 100 differs too
much from the incentive system we have now. I've already started working on
this, but I'll wait to finish it until I hear if anyone else would like
this to be done.

On Jan 28, 2018 4:10 PM, "Aelius" <notifications@github.com> wrote:

[2018-01-29 02:55] vyu1 commented on #372
I second this. I've also personally found this frustrating

[2018-01-29 16:54] n1trux opened #373 "Track habits multiple times a day"
It would be nice to have a way of tracking a habit which you have to keep up multiple times a day.

For example, I drink way too little. So I should fill my bottle at least 3 times a day. Would be nice if one could just have an entry "3 times a day" and have multiple checkmarks or a counter for each day.

[2018-01-29 21:09] SomMeri commented on #325
It would be great if I could merge multiple habits into single history/strength widget.

[2018-01-30 00:37] uli-on opened #374 "Reminders delayed past midnight mark the wrong day"
If a reminder is delayed until a new day starts, that reminder marks the _new_ day instead of the day it has been triggered from.

Steps to reproduce:

1. Delay a habit's reminder as long as the following day has begun, e.g. 0.10 am.
2. Now press "Mark" for that habit on its notification panel.
3. Open the app and look for that special habit. The checkmark has been put onto the _current_ day of we

[2018-01-31 09:37] nagamalli9999 opened #375 "Add option to hide some habits"
It would be nice to have some private habits or some kind collapsed tree

[2018-02-01 17:28] AeliusSaionji opened #376 "Allow user to change transparency of widgets"
For my uses, I only need the ability to make the backdrop completely transparent. My launcher has the ability to apply a dimmer to widgets (and solid colors and other theming options), so I am able to make a consistent visual style by using widgets with full transparency.

Currently, Habits is the only app I use that doesn't conform perfectly ;)

[2018-02-01 17:34] AeliusSaionji commented on #376
Well, yours and WhatsApp. You can see from my screenshot, this applies to all types of widgets.
![stitchcraft_20180201-123038-1517506243917](https://user-images.githubusercontent.com/4342746/35693381-0d504606-074c-11e8-8ec9-b2f537aa21bc.png)

[2018-02-07 09:19] matkoniecz opened #377 "add "mark today as done" section on summary page or directly in notification"
My usecase:

- I receive notification
- I click on it what opens summary page
- Now I must to either select "back" button to check it on main screen (or select edit in calendar)

It would be nicer to mark it as done directly in notification or at least to have a button on top of summary page "I did it today".

[2018-02-07 09:21] matkoniecz commented on #362
How hard it would be to get back to 100% after failing it once or twice? Because if it is unreasonably hard it would be quite demotivating.

[2018-02-08 22:59] eppeters commented on #104
I have the same question as namdnguyen

[2018-02-11 23:08] AeliusSaionji commented on #362
It occurs to me that this already exists in some form with the "streak" functionality. Is there some way to tweak the way streaks are presented such that it will fill this role for those who want it?

[2018-02-12 20:33] agepoor commented on #373
Agreed. I think nestable 'subhabits' could be a nice solution here. For instance: The main habit will be completed if all subhabits are checked.

[2018-02-20 17:27] jbrinker commented on #104
What about sync'ing up with third party services such as Gmail's Tasks or Drive. This way you would not have to worry about hosting back-end service endpoints for data sync'ing and storage.  You would also not have to burden yourself with the cost of hosting.

[2018-02-21 02:45] iSoron commented on #376
Thank you for the suggestion, @AeliusSaionji. This is, in fact, an important feature we are missing. Pull requests implementing this are very welcome.

[2018-02-21 02:49] iSoron commented on #377
Thank you for the suggestion. It is already possible to mark a habit as completed directly from the notification. If you don't see the action buttons, it's probably because the notification is collapsed. You can expand it by touching the little arrow close to the notification title.

[2018-02-21 02:49] #377 closed

[2018-02-21 15:00] matkoniecz commented on #377
It is not working on my phone (no arrows or other expand buttons whatsoever), I am going blame myself for buying Xiaomi Redmi 4 (and manufacturer of this phone)

[2018-02-23 10:30] Robigus92 opened #379 "Memory Leak"
After a double rotation of the SettingsActivity there are in heap memory 2 instances more of:

class org.isoron.uhabits.activities.settings.SettingsActivity @ 0x12cbe000
class org.isoron.uhabits.activities.settings.SettingsFragment @ 0x12d83800

It should not be like this because the rotations return to the same GUI state and the memory should stay in the same state as well. It could be a symptom

[2018-02-26 18:02] adfenor opened #380 "Develop an APP for health"
Hello, good morning, you could develop an APP for health.
I need an app that helps people with a chronic disease (high blood pressure, diabetes, etc.) to send health messages (eg you must take your medications, you must do exercises, you must go out, or you must eat fruit or vegetables, etc.) be programmed by the person (perhaps only the medications must be programmed by the person, since in each

[2018-02-28 22:50] trymeouteh commented on #104
This would be cool. The best way to do this is to not use a server but link each device together in a P2P way. Kinda like SyncThing.

Also it will need to encrypt the data on transit to prevent any tampering or having it being intercepted in transit.

[2018-02-28 22:53] trymeouteh opened #381 "Feature Request: Schedule Backup"
A cool feature would be to choose how often it will do a backup and export a .db file.

To also prevent having hundreds of backups taking up space you can have an setting to always overwrite the schedule backup file. This way you could have an hourly, daily, weekly backup automatically.

[2018-02-28 22:58] trymeouteh opened #382 "Encrypt backups"
A good security feature would be able to encrypt the backup files when they are created and set a password on them through the app. This way your backup files cannot be read without the password to the file. This is good for privacy when using cloud storage services to store your backups.

Some people may be tracking habits they don't want others to know about and this will keep your habit trackin

[2018-02-28 23:03] trymeouteh commented on #373
I agree. To choose either a checkmark or number input would be handy. That way for once a day habits you can have a checkmark but for multiple times a day you can use numbers instead of checkmarks.

A way to input the numbers via touch screen is to double tap to add 1 or to hold it to minus 1. If you have it set to Toggle With Short Press you can tap to add 1 and hold it to minus 1.

[2018-02-28 23:07] trymeouteh opened #383 "Feature Request: Generic Daily Notification"
Notifications are attached to each habit. But to have each habit notification go off is a lot of notifications throughout the day. To have the option to add a generic notification to go off by the app that is not linked to a habit would be handy just to remind you to fill in you habits that you did today.

[2018-02-28 23:10] trymeouteh commented on #42
I agree. To choose either a checkmark or number input would be handy. That way for once a day habits you can have a checkmark but for multiple times a day you can use numbers instead of checkmarks.

A way to input the numbers via touch screen is to double tap to add 1 or to hold it to minus 1. If you have it set to Toggle With Short Press you can tap to add 1 and hold it to minus 1.

[2018-02-28 23:12] trymeouteh commented on #121
To choose either a checkmark or number input would be handy. That way for once a day habits you can have a checkmark but for multiple times a day you can use numbers instead of checkmarks.

A way to input the numbers via touch screen is to double tap to add 1 or to hold it to minus 1. If you have it set to Toggle With Short Press you can tap to add 1 and hold it to minus 1.

[2018-02-28 23:13] trymeouteh commented on #38
I think the current icon is perfect. Simple and clean. I am picky when it comes to icons and I think this is the best Habit Tracking app icon out there.

[2018-02-28 23:18] trymeouteh commented on #277
Would be great but not the same as Andriod since iOS does not have a file explorer system which means you cannot make backup files unless you backup the backup file to a cloud storage service.

If a iOS version does become a reality I would suggest this app to my iPhone friends.

[2018-03-01 05:24] matkoniecz commented on #373
Sounds like duplicate of #121

[2018-03-04 09:30] jugaltheshah opened #384 "API / Expose intent"
I'm not familiar enough with Android but would it be possible to create a programmatic interface to this app? I imagine using it with physical buttons like the Flic button. Basically like you'd click a button and have it record that you took an action. E.g. If I click a button on my desk, I studied. A button in the bathroom, took my meds, etc.

Google Cloud Framework might work to listen for netwo

[2018-03-04 09:36] mr-flibble commented on #384
Helo, is worth mentioning that habit app already have Tasker support -
https://github.com/iSoron/uhabits/wiki/Integration-with-Tasker

[2018-03-04 09:39] jugaltheshah commented on #384
Ahhh sorry, wish I'd seen this earlier. Thanks, this should suffice quite
nicely!

On Mar 4, 2018 3:06 PM, "mr-flibble" <notifications@github.com> wrote:

[2018-03-04 09:39] #384 closed

[2018-03-05 09:01] hemoali opened #385 "Monthly view"
I would be happy to see the Habitbull-like monthly view of the habits implemented in uhabits.

Thanks for the great app :D

[2018-03-06 02:59] magimaiprakash opened #386 "Added Tamil language Translation"
https://gist.github.com/magimaiprakash/789c6343fbace9b49e16e8ec765c9bce

[2018-03-06 18:16] bendespain commented on #104
Why not use Google drive like this says: https://stackoverflow.com/questions/30233198/how-to-save-app-data-on-google-drive
with this direction: https://developers.google.com/drive/android/appfolder
and this: https://developers.google.com/drive/android/files#writing_files

If this creates conflicts then just make the app (if cloud-enabled is setup/chosen) wait until the drive connection is up, befo

[2018-03-06 18:17] bendespain commented on #104
Or maybe just syncing it to Google Calendar?

[2018-03-08 07:28] aschrijver commented on #152
Beware that with this feature privacy would be a big concern. Your habits are really sensitive, personal data.
I would imagine Amazon would love :heart: to receive this data from you for free..

AFAIK currently the app does not send _any_ data to backend services (am I right?), which is a good thing :)

[2018-03-08 07:37] aschrijver commented on #300
While Kotlin is gaining a lot of traction these days, given that it still has a much smaller developer base than Java, will a migration not unnecessarily increase the barrier to contribute to this project by a significant amount?

[2018-03-08 08:10] aschrijver opened #387 "Password protect your (sensitive) habits"
Habits are very personal, and therefore sensitive information. Having the app on your phone, everyone having access to the device could scan your private habits.

It would be great if you could either:
- **Password protect the app entirely**
  - This can be combined with [Encrypted Backups (#382)](https://github.com/iSoron/uhabits/issues/382)

or:
- **Password protect selected habits that are cons

[2018-03-08 08:12] aschrijver commented on #382
I think not only backups, but all data created by this app should be encrypted, given that habits are very personal data wherever they are stored :)

[2018-03-08 08:35] aschrijver opened #388 "Consider using Github Projects for larger feature requests"
Great project this! There is a lot of willingness to contribute and a great issue backlog with many valuable feature requests. However, some features are quite large, like the one for the website landing page https://github.com/iSoron/uhabits/issues/267

You could consider creating Projects for these kinds of features and divide tasks among contributors.

[2018-03-08 17:48] artivilla commented on #152
Point. Also, note on that, I just watch my sleep patterns now and leave just about everything else to fate. ¯\_(ツ)_/¯

[2018-03-08 17:48] #152 closed

[2018-03-10 16:16] neopostmodern opened #389 "Add privacy statement"
I couldn't find any information concerning if and what data leaves my device? I've seen #104 which sounds as if at least not all of the data is uploaded. But still there could be analytics kind of things...

Might help / attract new users (like me)!

[2018-03-10 16:20] neopostmodern commented on #389
Also on website / [FAQ](http://loophabits.org/faq.html)...

[2018-03-10 20:25] iSoron commented on #389
Thank you for the suggestion, @neopostmodern. Yes, we need a privacy statement. To make it short, the app itself does not upload your data anywhere. In fact, it does not even have permission to access the Internet. It does not include any tracking code, such as Google Analytics, or any advertisement libraries. When it gets implemented, cloud sync will be an opt-in feature.

Note: If you have activ

[2018-03-10 20:30] iSoron commented on #381
Thank you for the suggestion. This is a duplicate of #178.

[2018-03-10 20:30] #381 closed

[2018-03-11 00:03] johnnybaloney commented on #42
I get a feeling that this is being designed as some super complex feature with stats, history, reports, trends and other bells and whistles whereas the way I see it what is needed is simply a way to mark habits that consist of a number of steps (with user defined increments, as @askmydog mentioned) or need to be done for a length of time (as @Keho in #90 mentioned).

Here is how I imagine it. Once

[2018-03-11 07:05] neopostmodern commented on #389
That's great to hear :) And I've of course disabled the automatic backups...

So please, be proud of this and make it visible!

[2018-03-14 10:49] jt007 opened #390 "No update of text on frontpage after editing"
Habit text on frontpage on Loop Habits is sometimes still not updated hours after the text was edited (edited habit text and changed color).  Does not help to close the app and reopen several times.
The text and color was successfully edited at once on the graph page, and when opening the edit window, everything is also fine. But still not on the front page.

Have experienced this severel times, b

[2018-03-14 12:27] jt007 opened #391 "When sort by color: Enable sort manually inside each color block"
When we want to sort the habits by color, today the habits are sorted alphabetically inside each color block.

When the habits are displayed alphabetically inside each color block, it create a bit mess when it's many habits. It's then easy to lose the overview of what's most important inside each color block.

This could be solved in two ways when we sort by color:

1) Enable manual sort of habits

[2018-03-14 18:26] kpeckett opened #392 "Home screen name changes"
Sometimes, my home screen shows the app name as "Habits", and other times as "Loop Habit Tracker". I am using the Microsoft Launcher (formerly Arrow Launcher), if that has significance.

[2018-03-17 09:48] kilotaras opened #393 "Add app shortcuts"
Android 7.1 introduced app shortcuts, which can be used from long press or even searched from some launchers (e.g Nova + Sesame). They can also be added to home screen and, unlike widgets, be put in folder there.

https://developer.android.com/guide/topics/ui/shortcuts.html

Please consider adding shortcuts for habits.

[2018-03-17 10:35] jt007 opened #394 "Please add TIME BLOCKS or CATEGORIES"
This can give us an option to:
   1)	Only view habits in a time block (e.g. Morning habits, Afternoon habits or Evening habits etc)
        or
   2)	Only view habits in one category (e.g. health, fitness or productivity etc)

We may choose individually if we want to use the feature for time blocks or for categories. It would be nice if it’s possible to tag several categories to a habit (e.g. morni

[2018-03-17 10:36] jt007 commented on #394
How it can work:
When we edit a habit, we may have the option to open a list of categories and tag one or more of those to the habit. The menu on the home page may have the category option under the “sort” option.

Really hope this feature could be implemented very soon!

[2018-03-18 18:40] JacobDB opened #395 "Add support for Adaptive Icons"
Android Oreo introduced Adaptive Icons; essentially it allows you to pick your icon shape on certain launchers. It's pretty easy to implement, and I'd really appreciate it if it could be added to this app.

I may try and figure it out myself and send a pull request, but I've never written any Android code before (I mostly do WordPress theme development), so I'm not super confident that I'll get it

[2018-03-25 06:38] Invertisment opened #396 "Activity for viewing many habits at once"
For now I've used the app to monitor my daily activities.
It would be nice if I could see several habits on a single graph.
I would like to see multiple curves on the same habit strength canvas.
I would like to have a button at the top, near "add habit". That button would open up a new screen that has same graphs as in normal single habit screen.
It should have list with all my habits and a checkb

[2018-04-02 19:54] veggero opened #397 "Updated it (Italian) translation"
I have translated your application into `it` (*Italian*). Here is the xml:
[code]

---

*Translation made with [Stringlate](https://github.com/LonamiWebs/Stringlate).*
First time I use this app.

[2018-04-09 16:06] 4ut0-M-4t opened #398 "[FR] Setting a custom time limit for a habit to form"
The current algorithm ("If you perform a daily habit perfectly, the score reaches 80% after one month, 96% after two months and 99% after three months. For non-daily habits, it takes longer to reach the same percentages. If your habit is repeated every other day, for example, then it takes two months to reach 80%, and if you habit is weekly, then it takes seven months.") somehow doesn't take into

[2018-04-11 01:44] trymeouteh commented on #104
Google Drive would not be good for privacy. It would be best to have the two devices talk to eachother.

[2018-04-14 12:06] jt007 opened #399 "Please allow numeric habits"
It's not allways just a "done" or not.

E.g:
How many hours reading/studying
How many hours on computer or phone (easy to get tracked automatic by anti-distraction apps)
How many friends contacted
How many times taking vitamins/pills
etc etc....

For numeric habits it will be useful to be able to set a goal for the habit. This will be the requirement for the habit to be marked as done in the stati

[2018-04-14 12:46] iSoron commented on #399
Thank you for the suggestion, @jt007, but this is a duplicate of #42.

[2018-04-14 12:46] #399 closed

[2018-04-14 13:44] iSoron opened #400 "Use native notification snoozing in Android Oreo"
Loop Habit Tracker currently has its own implementation of notification snoozing. This feature, however, is now also available directly from the operating system, starting from Android Oreo. When Loop detects that it's running on Oreo, it should disable its own implementation. The old implementation still needs to be kept around, since the vast majority of users (more than 80%) are still using old

[2018-04-14 14:09] iSoron commented on #382
Thank you for the suggestion. I think this would be a good feature. If anyone is interested in implementing this and have any questions, please let me know.

@aschrijver We currently do not upload anywhere. When device sync is implemented, it will also be encrypted. Regarding the local database in your phone, unless you root your device, only Loop Habit Tracker has access to it, so we should be sa

[2018-04-14 14:11] iSoron commented on #371
Duplicate of #395

[2018-04-14 14:11] #371 closed

[2018-04-14 14:15] iSoron commented on #366
Hi @charlesdurham, the wording is intentional to make it clear that we are using a rolling period of 7 days, instead of the usual calendar week (Sunday to Saturday). Regarding the localization, I was also worried about that at first, but the app has now been translated to more than 30 languages, and, so far, no translators complained about that fixed structure.

[2018-04-14 14:15] #366 closed

[2018-04-14 14:26] iSoron commented on #386
Hi @magimaiprakash, thank you for your contribution. Could you please submit your translations to our translation website? http://translate.loophabits.org

[2018-04-14 14:26] #386 closed

[2018-04-14 14:29] iSoron commented on #397
Hi @veggero, thank you for your contribution. We keep track of translations using another website: http://translate.loophabits.org/ I see that our Italian translation has already been completed over there, but you can still proofread it, and correct any mistakes.

[2018-04-14 14:29] #397 closed

[2018-04-14 14:29] iSoron commented on #396
Thank you for the suggestion, @Invertisment. This is a duplicate of #51.

[2018-04-14 14:29] #396 closed

[2018-04-15 10:25] fiosmiles commented on #194
Would love this, just started using the app and the ability to comment on a daily habit (along with the idea of "not done" which I see under discussion),  e.g. flossing habit - "travelling and forgot to bring floss!" And being able to access the notes in a journal style when you open a habit. The calendar could have a small icon modified to indicate there is a note.

[2018-04-15 10:26] fiosmiles commented on #96
This would be very useful!

[2018-04-16 15:34] fairyex opened #401 "add an option to put Databases at Internal user storage？"
So Tasker can read these data without ROOT via sqlite query.

[2018-04-16 16:28] licaon-kter commented on #401
To do what with it?

[2018-04-20 04:12] iSoron commented on #401
Hi @fairyex, thank you for the suggestion. Unfortunately, this is not something I am planning to add to the app, for several reasons:

1. Loop was designed with the assumption that it has exclusive access to the database. If other apps start accessing and modifying the underlying SQLite database directly, without notifying Loop, this would most certainly lead to all sorts of strange bugs, crashes

[2018-04-20 04:12] #401 closed

[2018-04-20 07:50] jt007 opened #402 "Option to hide habits not possible to do today"
I like the feature Hide habits completed today.
Some habits are unfortunately not possible to complete today. It would be nice to be able to hide this/those habits just for today. So we can view only those habits that are relevant today.

One possible way to solve this:
When long pressing the habit, we today get the options (in the menu up right corner):  archive or delete. Please add "hide today"

[2018-04-20 17:26] jt007 commented on #402
Could it be possible to add this nice feature?

[2018-04-21 15:45] #395 closed

[2018-04-21 15:45] #400 closed

[2018-04-21 15:56] JacobDB commented on #395
Thank you! 😊

[2018-04-21 16:05] iSoron commented on #204
This should no longer be an issue in the next version of Loop (1.8.0). If you are still experiencing this problem after the new version is released, please let me know.

[2018-04-21 16:05] #204 closed

[2018-04-21 16:05] iSoron commented on #205
This should no longer be an issue in the next version of Loop (1.8.0). If you are still experiencing this problem after the new version is released, please let me know.

[2018-04-21 16:05] #205 closed

[2018-04-21 16:06] iSoron commented on #206
This should no longer be an issue in the next version of Loop (1.8.0). If you are still experiencing this problem after the new version is released, please let me know.

[2018-04-21 16:06] #206 closed

[2018-04-21 16:13] iSoron commented on #210
Thank you for the suggestion, @arlsr, however I have decided not to implement this for yes/no habits, since it would make the interface harder to use, and there has not been enough demand for this feature. For numerical habits, I am planning to let the user choose a target (for example, "read at least 50 pages per day"). Even if the user falls short of the daily target, the number is still recorde

[2018-04-21 16:13] #210 closed

[2018-04-21 16:30] iSoron opened #403 "Show number of repetitions per week, month or year"
Loop currently display a counter with the total number of repetitions for each habit. It would be interesting if the app could also display the total number of repetitions per week, month, quarter or year. This information could be displayed as a bar chart, next to the other charts.

[2018-04-21 16:32] iSoron commented on #298
Thank you for bringing this issue to my attention, @bdambdam. I am planning to add a chart showing the number of repetitions per week, month or year. See #403.

[2018-04-21 16:32] #298 closed

[2018-04-21 16:40] iSoron commented on #323
Thank you for the suggestion, @haopei. I am not planning to add this feature to the app, since Android already allows you to disable all the notifications for a given app. You can find the instructions for your specific version of Android with a quick Google Search. For Lollipop and Marshmallow, [see this link](https://www.howtogeek.com/204187/how-to-disable-app-notifications-in-android/). Newer v

[2018-04-21 16:40] #323 closed

[2018-04-21 16:44] iSoron commented on #402
Duplicate of #272

[2018-04-21 16:44] #402 closed

[2018-04-21 16:47] iSoron commented on #279
Thank you for this script, @morrel. Given that it's easy to import from Google Drive to Google Sheets, I think this is the best way to accomplish what @ojanvafai suggested.

I'm closing this since we already have an issue for automatic scheduled backups (#178).

[2018-04-21 16:47] #279 closed

[2018-04-21 16:52] iSoron commented on #321
Thank you for the suggestion, @Mathnerd314. This sounds interesting, but I feel it's currently beyond the scope of the app. We can discuss this again after #42 is implemented.

[2018-04-21 16:52] #321 closed

[2018-04-21 16:57] iSoron commented on #354
As far as I know, any real device would have at least one app that is able to handle the intents we request -- this only appears to be an issue on the emulator. In any case, this is a bug. Thank you for reporting it.

[2018-04-21 17:00] iSoron commented on #353
Thank you for this bug report, @ZalerC. Other users have reported that the widgets fail to render in their devices, showing only the message "error drawing widget", however I have not been able to reproduce this bug reliably on my own devices. If anyone has any further information about this bug, please let me know.

[2018-04-21 17:07] iSoron commented on #359
Thank you for reporting this issue, @schneiderlars. This should no longer be an issue in the upcoming version 1.8.0 of the app. In the meanwhile, the option "repair database" in the settings screen should be able to fix this.

If anyone continues to experience this even after upgrading to Loop 1.8.0, please let me know.

[2018-04-21 17:07] #359 closed

[2018-04-21 17:09] iSoron commented on #363
Thank you for the suggestion, @falematte, however I am not planning to implement this feature, since it is already very similar to sorting by score.

[2018-04-21 17:09] #363 closed

[2018-04-21 18:14] jt007 commented on #272
Really looking forward to this @iSoron ! Do you have a time frame for when this could be added?

[2018-04-22 07:34] KeronCyst opened #404 "Change "best streaks" to "longest streaks""
Some of the habits I'm measuring are negative ones that I do not want to encourage, so it'd be more objective to just say "longest" instead of "best."

[2018-04-22 17:15] c33s commented on #323
what a pitty. from my usecase it would not only be to disable all notifications, it would be to pause a tracker.

[2018-05-01 02:31] ajtga commented on #203
I like the idea. I was thinking about an option that allows the user to select the day of the week that a given habit should appear in the list of habits. For instance, if I want to swim on Tuesdays and Thursdays, the habit "Swim" would not appear in my list on the other days of the week.

[2018-05-01 06:26] naught101 commented on #383
Yeah, this is bugging me too.  It'd be good if notifications beyond the first were grouped into the first, so you'd have:

* "Practice bass"
* "Practice bass, write journal"
* "Practice bass, and 2 other habits"

Etc.

[2018-05-01 08:05] KeronCyst commented on #404
Yeah, but say I did the negative habit early in the morning. Then I may forget in the evening whether I did it or not (did I do it today/should I check it?). I have poor memory and would rather have it inversely tracking, so that way I can immediately mark that I did the bad habit right on the spot than having to review whether I lasted the whole day into the evening, if that makes sense.

[2018-05-02 04:34] recheej commented on #379
I took a look into this. I believe it's related to this:

https://medium.com/@amitshekhar/android-memory-leaks-inputmethodmanager-solved-a6f2fe1d1348

[2018-05-02 04:47] recheej commented on #365
This is an interesting one. HabitsCardListView is a custom recycler view which is injected. You apparently can only set scrollbars in xml??? @iSoron

[2018-05-02 16:34] LMurphy001 commented on #394
Here is an alternative for implementing 2. "Only view habits in one category "

I suspect most of the code to implement this is already in the project's code.

In the menu that says "Hide archived," "Hide completed," and "Sort," add a toggle menu item "Show Color/Show All Colors"

That will bring up a way to select a color of the tasks to be shown.  There is already a filtering function for Hiding

[2018-05-02 17:53] adrienbeau opened #406 "Mark a day as Irrelevant / Not Applicable"
I have been using Loop for a few months now, and am overall very pleased with its current features and simplicity.

However, as I finally enjoyed a few days off this past week, and eyeing towards a two-weeks vacation, I found myself stuck between a rock and a hard place when it comes to work-related and home-related habits. These are *irrelevant* during vacations, but Loop currently only allows on

[2018-05-03 13:53] LosikiS opened #407 "The task's name(including Chinese) doesn't refresh instantly when it is changed."
When I change a habit's name(including Chinese character) in the main interface , The main interface won't refresh immediately.
If the habit's name is in English only,This problem won't appear.

To reproduce this problem:
1.Add a habit named 测试(means test)
2.Press the habit,and then change it's name to 测试1
3.The name of this habit is still 测试 , and it will be refresh when I press it again or open

[2018-05-06 16:01] boughtonp commented on #406
Came here to request basically the same feature.

I'm don't like the term "Irrelevant" for it though - either "Not Applicable" or "Ignored" would be better.

The ability to add a brief note explaining why would be nice, but not essential.

[2018-05-06 16:41] boughtonp commented on #362
I'm in favour of a per-habit option to start at 100%/50%/0%, with a global setting for deciding the default for new habits.

I don't see streaks as a solution to this - and until #124 and #406 are done, streaks don't work anyway.

[2018-05-08 02:04] recheej commented on #285
@iSoron Seems like this is now merged? Should this issue be closed now?

[2018-05-11 07:18] artem-p opened #408 "Notification for archived habit."
Hello!

Today I got a notification about habit that I moved to archive yesterday. The same issue was couple times early.

[2018-05-12 14:41] NicoCaro opened #409 "Allow user to track mood (and other categorical variables)"
I'd like to have a *mood tracker* special habit. I think it's already possible to create an habit to represent one's mood but this representation fails to capture "mood oscillations" (because of the score algorithm for habits). So this mood tracker should only plot the current and past *mood values* without any transformation. I've seen this in apps like *remente* and I find it very useful.

[2018-05-22 08:25] lokesh-krishna opened #410 "Add FAB to add habits"
Could you please consider moving the add button from the top of the app to a FAB? This will really improve reachability.

[2018-05-23 03:36] woj-tek commented on #410
I would argue that you more often look at (current) habits statistics/entries than adding new habits, and the FAB button covers quite a lot of space…

[2018-05-23 06:35] lokesh-krishna commented on #410
Ah yes, forgot that it would hide elements of the UI. Should I close this or can this serve as the place to discuss any alternative to the present position of the add button?

[2018-05-24 09:04] aschrijver opened #411 "Weekly habits should not display notifications every day"
When selecting a habit to check every week (choosing the standard Week setting) and enabling notifications, then the notification is triggered daily.

I would expect to be only get notified once a week, conform the habit.

[2018-05-24 09:07] aschrijver opened #412 "Allow user to switch back to standard habit frequencies after selecting custom"
When creating a new habit and selecting Custom, there is no way to switch back to Daily or Weekly without discarding the habit altogether, and you lose the text you just typed (not a very big deal, but allowing a switch to fixed periods would still be an improvement).

[2018-05-24 09:47] adrienbeau commented on #411
When you set-up a habit (or when you edit its settings), after you select the hour of the notification, you get an additional field that allows you to set-up the days of the week the notification is fired. By default, all days are selected. You can easily uncheck the days you do not want.

[2018-05-25 12:14] iSoron commented on #389
Our privacy policy is now available at http://loophabits.org/privacy. There is a link to this page on our Google Play page. I am also planning to include a link to this page inside the app itself.

[2018-05-25 12:14] #389 closed

[2018-05-28 16:59] hiqua opened #413 "The contrast of greyed out habits is too low in night mode"
I'm one of those users who use night mode for everything, at any time of the day.

Unfortunately Loop Habit Tracker seems to keep the same grey for e.g. habits that have not been completed yet.

This makes it hard to distinguish between those that have been completed in the previous days (grey tick), and those that should be completed (grey cross).

Please consider using a different colour in nigh

[2018-05-28 21:14] CryptoStar2000 opened #414 "Export to WebDAV and/or FTP"
An export function to WebDAV and/or FTP would be awesome.  At best as encrypted zip/7z :-). This would be good to sync different devices.

[2018-05-28 21:17] CryptoStar2000 commented on #104
Awesome! I would appreciate this!!

[2018-05-31 12:11] dorofino opened #416 "Full overview of habits"
I love this app.

It will be nice to have a screen where you can see a full overview of how are you doing across all habits.

[2018-05-31 12:15] dorofino opened #417 "Moon Faces overlay"
Together with my habit I track the moon Faces.
I notice that when it close to new moon I'm more propence to break my habit.

It will be nice to have a way to overlay the moon faces.

[2018-06-06 12:05] daledesilva commented on #416
Hi dorofino,
On my phone I’ve set up a number of widgets to do just that. I’d suggest that in the meantime, however, I’m keen to get involved as a developer in the future to make this work a bit smoother - cause I find this method of seeing the colours fill up the screen to be very self rewarding.

![d828f94d-ae3a-4d2a-8cf0-73e5e6df0284](https://user-images.githubusercontent.com/18710973/41037050-

[2018-06-06 18:00] Garf1eldGit opened #418 "Bad habit tracking"
Hi!
Is it planned to add tracking bad habits?
For example I want to set myself a limit. Do not do something more than once a week.
If I do this more than 1 time a week then a bad habit increases

[2018-06-07 08:18] adrienbeau commented on #418
This is the first question in the FAQ: http://loophabits.org/faq.html#q1

Here is the answer:

[2018-06-08 12:02] shkp commented on #365
Hey! I am an Android newbie but I'd like to try to implement this and contribute. Thanks.

[2018-06-08 14:00] morrel commented on #178
Automatic or scheduled CSV/Spreadsheet exports would also be highly valued!

[2018-06-15 23:37] iSoron commented on #418
@Garf1eldGit There are no plans to add this feature. I considered it before, but could not come up with a way to add negative habits, while keeping the interface simple and intuitive.

[2018-06-15 23:37] #418 closed

[2018-06-15 23:38] iSoron commented on #417
Thank you for the suggestion, @dorofino, but this looks like a rather specialized feature. I'm not planning to add it to the app, since I'm not convinced many users would use it.

[2018-06-15 23:38] #417 closed

[2018-06-15 23:38] iSoron commented on #416
Duplicate of #51

[2018-06-15 23:38] #416 closed

[2018-06-15 23:48] iSoron commented on #414
Thank you for the suggestion, @CryptoStar2000. Backup encryption is already covered by #382.

As for exporting to WebDAV or FTP, when you click the export button, the app already shares the backup file with other apps on your phone, and relies on them for the actual upload. For example, if you have Google Drive installed, the app can give the file to the Google Drive app, which will then upload it

[2018-06-15 23:48] #414 closed

[2018-06-15 23:53] iSoron commented on #410
Thank you for the suggestion, @lokesh-krishna. The reason why we don't have a FAB is precisely not to cover important information. Furthermore, as woj-tek mentioned, the primary action in the app is not adding new habits, but adding checkmarks.

If anyone has other ideas about the FAB, please feel free to open a new issue.

[2018-06-15 23:53] #410 closed

[2018-06-16 00:54] iSoron commented on #406
Thank you for the suggestion. This is a duplicate of #88.

[2018-06-16 00:54] #406 closed

[2018-06-16 00:57] iSoron commented on #404
Thank you for the suggestion, @KeronCyst, however the app was specifically designed with positive habits in mind, so I am not planning to change this. As for forgetting the checkmark, please have a look at #125.

[2018-06-16 00:57] #404 closed

[2018-06-16 01:00] iSoron commented on #392
Thank you for letting me know, @kpeckett. The correct name for the launcher icon is "Habits". If your launcher is showing anything else, that is probably a bug in your launcher. I'm closing this, as there is not much we can do about it.

[2018-06-16 01:00] #392 closed

[2018-06-16 02:14] iSoron commented on #403
This is now available at the `dev` branch. It also works for numerical habits.

![device-2018-06-15-211300](https://user-images.githubusercontent.com/4699657/41494888-f8b65c68-70e0-11e8-8527-852375f4be19.png)

[2018-06-16 02:14] #403 closed

[2018-06-16 17:55] bykursat commented on #393
I agree
Please consider adding shortcuts for habits

[2018-06-17 01:01] iSoron commented on #45
Thanks to @vyu1, it is now possible to stack multiple widgets together. This works not only for the checkmark widget, but for any other widget we currently have available. Please see the screenshot below.

At this time, I am not planning to add a widget similar to the app's main screen. This is mainly due to Android limitations. I already said this before, but Android widgets are truly limited on

[2018-06-17 01:01] #45 closed

[2018-06-17 12:52] iSoron commented on #407
Thank you for the bug report, @LosikiS. I have tried this in the development version of the app, and this issue seems to have been fixed. If the problem is still there when version 1.8.0 becomes available, please let me know.

[2018-06-17 12:52] #407 closed

[2018-06-17 12:57] iSoron commented on #393
I am aware of this new Android feature, but I'm not sure how could Loop benefit from it. What kind of app shortcuts do you think it would be interesting?

[2018-06-17 13:00] iSoron commented on #390
Thank you for the bug report. I believe this has been fixed in the development version of the app. If the problem is still there when version 1.8.0 becomes available, please let me know, and I will reopen this issue.

[2018-06-17 13:00] #390 closed

[2018-06-17 13:05] iSoron commented on #391
This is a good suggestion, however I think it would be somewhat hard (from a technical perspective) to implement. I'm not planning to work on this myself, but if anyone would like to try, I would be glad to help.

[2018-06-17 13:47] iSoron commented on #387
Thank you for the suggestion, @aschrijver. There was some discussion about this in #86. As explained in that issue, I am against password-protecting the entire app. Not only because there are already other apps that can do that for you, but, more importantly, because it would be hard to do it right.

However, I am open to the suggestion of hiding private habits on the main list. One way this could

[2018-06-17 13:55] iSoron commented on #379
The settings activity is very seldom used. Unless this can be fixed very easily, I don't think it's worth the effort. If anyone finds such a memory leak in the other activities, please let us know.

[2018-06-17 13:55] #379 closed

[2018-06-17 13:56] iSoron commented on #375
Duplicate of #387

[2018-06-17 13:56] #375 closed

[2018-06-19 07:56] bykursat commented on #393
Example:
Ebook file shortcuts
Pdf file shortcuts
Excel file shortcuts
Image file shortcuts
App shortcuts
Internet link shortcuts

[2018-06-19 08:42] amitguptagwl opened #420 "Feature request: Kids version"
No doubt it's my favorite. I love it's simple interface. What I'm looking for Goal meter like illustration so I can motivate my kid to make good habits. And showing a map / path to achieve the reward / trophy. Best part can be if I can upload the image of reward.

Though I'm not aware with Android development, I would be happy to contribute.

[2018-06-19 16:49] ajszoke opened #421 "Feature Request: Change the first day of the week"
I like to consider a week started on Monday, as is the standard in Europe and other places, instead of on Sunday. So when viewing a specific habit's page, in the "History" and "Frequency" grids, it would be nice for the first row of the grids to be Monday instead of Sunday. So, I would like there to be a setting to select what the first day of the week should be, and update the grids accordingly.

[2018-06-21 16:07] hoseinit commented on #421
I Agree
Also in Persian Calendar, Saturday is the first day of the week. It would be great if we could change the starting day of the week accordingly.
Thanks

[2018-06-21 17:31] Erudition commented on #96
First tap: Miss
Second tap: Check

Simple. Then the default workflow is to double tap. That's one idea.

Either way, it's not necessary to have the user distinguish between "skip" and "fail". They need only a "miss" option (which is automatically assumed at the end of a day with no check). The software can easily know whether that miss is a fail or a skip!

After all, if you have a habit to be don

[2018-06-21 17:38] Erudition commented on #384
How does one *read* the habit data in Tasker though?

[2018-06-21 19:31] iSoron commented on #384
@Erudition This is not currently possible. Please, feel free to open an issue about this. This has not been implemented yet because we need to figure out a way to do it securely. I don't want every app on your phone to have access to your private habit data.

[2018-06-21 19:51] iSoron commented on #421
The app is already supposed to select the first day of the week according to your locale. Could you guys please let me know (i) what locale (language & time zone) are you using? (ii) what was your expected first day of the week? (iii) what day of the week did the app select instead?

[2018-06-21 20:15] ajszoke commented on #421
Thanks for my reply. My locale is EST/English, so by that logic my app correctly set its first day to Sunday. However, my personal preference is Monday as I mentioned, and I am able to override my locale default first day in almost every other app I use that uses calendars. I would appreciate similar functionality in this app. 
-------- Original message --------From: Alinson Xavier <notifications@

[2018-06-22 10:02] aleksandar-stefanovic opened #422 "Don't show the snackbar when a new habit is created"
Currently, when a new habit is created, a snackbar is shown saying "A habit has been created" (translated).

I think that this is a bad design because:

1. The user can clearly see the new habit appear in the list.
2. The action isn't volatile (e.g. doesn't depend on the network), it is expected to be successfully executed 100% of the time, so there isn't really much information in explicitly sayi

[2018-06-22 16:06] Erudition commented on #384
Ah, I didn't realize that was an issue. For now I'll just have to have Tasker read the notifications to see the reminders.

I'll open the issue.

[2018-06-22 16:20] Erudition opened #423 "Allow Tasker to read habit data"
While I suppose it would be nice to have a habit automatically checked off when something happens (as is currently possible with the check habit action in Tasker), it's not really relevant in the critical process of _forming_ habits. Where Tasker automation would really be powerful is in that area: "if I haven't done _xyz_ yet today, nag me (with some set of actions) until I have". This could make

[2018-06-22 19:09] hoseinit commented on #421
Thanks for answering,
My Locale is IRST and my preferred first day of the week is Saturday.

[2018-06-24 15:29] KeronCyst commented on #404
iSoron, I still want to suggest this. To be blunt, I was using Loop to help myself get over my ex by tracking my frequency of not-checking-up-on-her. But having to be REMINDED of the daily victory of not checking up on her still kept her in my mind daily, so I eventually created an inverse habit that only tracked my frequency of when I DID check on her, which helped a lot more. I believe this was

[2018-06-25 04:04] PatrickKuehn1994 commented on #422
Hey @aleksandar-stefanovic, I think this is not a good idea, because the user can't see a new habit directly, if he has more habits than can be displayed on the screen.

This could be better, if the new habit is added at the top of the list and has a different background for a few seconds. In that case I would also suggest to remove the snackbar "A habit has been created" .

[2018-06-25 10:31] omol1991 commented on #44
Hello from the future. So I am new, premium member of habitbull. I need some vsialization of select habits from a .csv file. I am on an Ipad which habitbull doesn't support, and it doesn't even support mport of csv files afaik.

[2018-06-25 10:32] omol1991 commented on #44
Is there any way I can do this fsirly fast?

[2018-06-26 11:34] naught101 opened #424 "Real/integer-valued habits"
It would be really cool to have the option of setting an integer or real-value target on habits.

e.g. if I want to practice guitar 4 hours a week, then it would be nice if I could put in that I practised 0.5 hours one day, 1.0 hours another day, and so on. Or if I wanted to try to reach 5o push-ups a day, then I could say I did 10 the first day, 12 the next, etc.

The UI could be almost the same,

[2018-06-30 14:10] aschrijver commented on #387
Very nice elaboration of the options, @iSoron !

With regards to protecting private habits and the security requirements, i would say: It does not need to be super-secure. Protection against average users should be enough (friends/family who are sniffing your phone, the average bum who stole it).

So going from a KISS approach and given the app is fully offline I'd say on each point:

- Forgotten

[2018-06-30 14:42] kpuljek commented on #194
+1 for this, i'm trying to watch more movies and it would be great if I could add their name to individual entries

[2018-07-01 01:17] jakedp7 opened #425 "Widgets don't work for numerical habits"
The current numerical habit implementation doesn't include functioning widgets. Before the feature can be made public, this must be fixed - most importantly, for CheckmarkWidget.

[2018-07-08 19:30] sciamano commented on #421
@ajszoke : why do you want to go that complicated way and change preferences in every app instead of just fixing you locale settings once and get the correct first day (and more) in all places automatically? The system locales are not just some funny stuff, they are here for a reason and for quite long time.

[2018-07-08 19:59] ajszoke commented on #421
That setting is not available on its own on Android. The only way I could force that would be to pick another city with a shared time zone, all of which are Spanish speaking cities. 
null

[2018-07-08 20:11] amitkot commented on #178
I might be able to help with developing an MVP of this feature.

I was thinking along the lines of two options:
1. If this is something we thing many people would like - saving a number of daily backups (say 3) to a readable path on the sdcard.
2. If this is something only pro-users might be interested in - exposing a Tasker task for exporting the data, this way the users can decide for themselves

[2018-07-08 21:05] sciamano commented on #178
Hi, just my personal opinion: i think the apps should not reinvent the wheel again and again :)
so in that case i'm for option 2 and against 1 (that way it will also keep the required permission low)
And a backup really make sense only if users managed to get it out of the phone e.g. into some cloud.
Then the cloud will take care about keeping some previous versiont etc. and you do not have deal w

[2018-07-09 22:37] Yumi08 commented on #424
I really like that idea!

I can also think of some different input types that could be used. Such as a time measurement, like you said, or scientific measurements like distance or volume, and other things like repititions, currency values, and maybe even user-definable units!

[2018-07-11 17:07] jakedp7 commented on #425
@iSoron Just following up, looking to hear back about the design questions above.

[2018-07-14 18:21] PrototypeNM1 opened #426 "Fix for "Don't list archived Habits when creating Widgets." didn't work."
https://github.com/iSoron/uhabits/blob/dc74c0e54b45f0e26addcca1ee4d514303d4f11a/uhabits-android/src/main/java/org/isoron/uhabits/widgets/HabitPickerDialog.kt#L53

Any ideas why this wouldn't be working? (apparently I was wrong in [the PR](https://github.com/iSoron/uhabits/pull/309) that this was straightforward. :B)

[2018-07-17 00:11] extensibleseth commented on #311
Could you define a habit quality/value range slider?

[2018-07-30 08:46] RickvdStaaij commented on #421
It would be great if it's possible to change the "first day of the week" in the uhabits app settings.

I live in the Netherlands, yet the app starts at Sunday instead of Monday. Probably because my primary language is English instead of Dutch.

[2018-08-02 02:55] mayqiyue opened #427 "About iOS app"
I’m the developer of iOS app Loop - Habit Tracker.
Hope you can take time out of your busy schedules to see my email. Thanks in advance.

[2018-08-08 02:13] RayBB commented on #267
@nickdbush have you worked on this at all?

I'm willing to build this but would like some guidance on the design. I could make a simple page as shown in the mockups.
@iSoron any thoughts?

[2018-08-12 01:44] #427 closed

[2018-08-12 02:00] #285 closed

[2018-08-12 02:02] iSoron commented on #412
We should certainly improve the user interface with respect to this.

However, just to let you know, you can still get the same behavior as "daily" or "weekly" habits by entering "1 in 1 days" or "1 in 7 days".

[2018-08-12 02:31] iSoron commented on #423
I agree that this is an important feature, and I would be very happy to review pull requests implementing this feature.

From the feedback I received, however, I know for a fact that many users are using the app to track very sensitive habits (for example, related to medical conditions or addictions). For this reason, I would only accept such a pull request if security measures were put in place t

[2018-08-12 02:38] iSoron commented on #409
I agree that this would be a nice feature to have. The current plan is to finish the work on numerical habits (issue #42). After that feature is working well, we can start working on variations such as the one you propose (e.g. How was your day / How is your mood? Excellent, good, acceptable, poor, terrible?).

[2018-08-12 02:45] iSoron commented on #365
As usual in Android, this seems to be way more tricky to fix than expected. There is [some discussion about it on StackOverflow](https://stackoverflow.com/questions/27056379/is-there-any-way-to-enable-scrollbars-for-recyclerview-in-code), but I have not tried it. If anyone wants to give it a shot and submit a pull request, I'd appreciate it.

[2018-08-12 02:49] iSoron commented on #420
Thank you for the suggestion, @amitguptagwl. This sounds interesting, but, given the amount of changes we would need to introduce on the user interface to make this work, I think it would be better to do this as a separate project. If anyone wants to fork our code and start a kid's version, please go ahead and keep us updated.

[2018-08-12 02:49] #420 closed

[2018-08-12 02:57] iSoron commented on #424
This is a duplicate of #42.

[2018-08-12 02:57] #424 closed

[2018-08-12 03:34] iSoron commented on #311
@deutrino @extensibleseth We are currently working on numerical habits (e.g., how many miles did you run today?) and after that works well enough, the plan is to add support to other variations (e.g. How well did you do something? Good, acceptable, poor?). Behind the scenes, this just assign a numerical value for each option, say, from 1 to 10.

What @hyiltiz is suggesting seems to be different, t

[2018-08-12 03:37] iSoron commented on #422
Thank you for the suggestion, but I like to err on the side of too much feedback rather than the opposite, so I am not planning on changing this.

[2018-08-12 03:37] #422 closed

[2018-08-14 17:45] adrcotfas opened #429 "Logging / statistics library"
The statistics page looks awesome and is well designed.
Do you have any plans to release a general purpose library which can be used for visualizing data with a time and date?

[2018-08-14 19:49] hyiltiz commented on #311
I think difficulty could be subjective and objective as well, and when it comes to shaping habits, those who have "strong will power" might even tame "difficult" habits (subjective or objective). I guess, as for subjective difficulty, we can ignore it or only use it as prior (a starting point), and infer/compute objective difficulty based on the habit history, as @iSoron suggested.

[2018-08-15 15:37] Kasurus opened #430 "Translation incomplete"
The "Customize notifications" option in the settings is not translated (screenshot). On the translationsite (http://translate.loophabits.org/) it says German 100%. So i assume it is a bug?

Habits Version: 1.7.9 (from F-Droid)
Device: OnePlus 5T (Android 8.1.0)

![screenshot_20180815-165654](https://user-images.githubusercontent.com/38571075/44156184-9e2847d0-a0af-11e8-90b9-f26d4bbec513.jpg)

[2018-08-15 20:58] Kasurus commented on #430
ok, i realized that you handel the strings.xml differently. so no need for a pull request there... :smile:

[2018-08-16 14:11] iknownothingaboutcomputers opened #432 "Unable to Read the Number(s) in Best Streaks"
Using dark theme. If the streak is short, then the colour of the number and the background is the same, thus making it difficult to read the number. If the streak if long, then the background colour changes to whatever colour user has set for that particular habit.

[2018-08-16 20:16] iSoron commented on #432
Thank you for the bug report. Could you please upload a screenshot, so the problem becomes more clear?

[2018-08-19 15:28] mr-flibble opened #433 "[not a bug, SOLVED]Streak problem with first day of the week"
Hello, I find out strange behavior with one of my habits and I'm think that app is not supposed work like that.
I'm using English (United Kingdom) locale because I want to week start at monday. So week should be monday to sunday
I have habit with setting "5 times in 7 days"

My streak is strangely interrupted when I missed friday and saturday

![image](https://user-images.githubusercontent.com/519

[2018-08-19 19:56] jphofmann commented on #433
This is working as intended.

As if Friday the 17th your habit was completed 4 of the 7 day period so it counted as miss. The streaks do not consider the days of the week, or the start day of the week. The streak is a rolling period of days, in this case the last 7.

The "start day" of the week is just to make the display look more natural to the user.

[2018-08-19 20:07] mr-flibble commented on #433
Thank you for nice explanation, now I get it - streak is floating.
So my workaround is change repeat from 5 times in 7 days to 15 times in 21 days - that solve problem with short term misses.

[2018-08-19 20:08] #433 closed

[2018-08-20 08:06] skvord89 opened #434 "Loop "94%-99%-94%...""
Hello there!
I met a strange situation growing habit-score to nearly 100%.
At first, score was growing as I expected - slower and slower while growing.
But at some point I entered the loop. Every day habit-score is 94% before check and 99% after check. Next day it's 94% again.
It seems to be something wrong, doesn't it? How it's possible grow from 94% to 99% in one day in that algorithm? And drop

[2018-08-21 21:17] gjmwoods opened #435 "Habits which require completion multiple times in a day"
One of the things I'm using Loop for is to track my progress with physiotherapy exercises. Normally these are needed to be done multiple times a day. Would it be possible to support this? At the moment I have to create three different items to represent the same habit.

Thanks!

[2018-08-22 17:48] gjmwoods commented on #435
apologies I didn't find that one when I had a quick look earlier. Cheers!

[2018-08-22 17:49] #435 closed

[2018-08-24 00:39] iSoron commented on #429
I have no plans to extract that code into a library at the moment, but if anyone wants to do it, please feel free.

[2018-08-24 00:39] #429 closed

[2018-08-24 00:52] iSoron commented on #425
Sorry for the long delay, Jake. Note that the constructor of `CheckmarkWidget` has a `Habit` object as parameter. The information you want can be accessed from this object. More specifically, you should do `habit.targetValue` or `habit.targetType`.   Since we may have tens of thousands of `Checkmark` instances in memory, these objects contain only very minimal information.

Please feel free to sub

[2018-08-24 00:55] iSoron commented on #430
Yes, this is a bug. Thank you for reporting. I will close this issue after the string becomes available in our translation platform (http://translate.loophabits.org).

[2018-08-28 08:57] ferittuncer commented on #293
I thought you gave up on this. Sorry @iSoron

[2018-08-30 12:14] imanjundi commented on #96
i think this feature as @disser requested "enter an X for a day deliberately" is really important because it would make it easy to see which habits are still relevant for the day.

**Why it's important?**
if you already know in the morning that you missed your morning jogging, it's a bit annoying and distracting for your brain to see this habit with no indication throughout the whole day! As @nj99

[2018-08-30 14:07] iknownothingaboutcomputers commented on #432
@iSoron

![screenshot_20180826-143656](https://user-images.githubusercontent.com/26545454/44856860-07a5a680-ac5e-11e8-90ac-f83f0c4b6d1a.png)

[2018-08-30 14:09] iknownothingaboutcomputers commented on #432
@iSoron Not easy to see those numbers when viewed on a phone with screen brightness set to minimum.

[2018-08-30 23:58] c-e-p-x-u-o opened #436 "Please add several times a day habits"
like Tickmate does, but it's not material, ugly and dead

I'd like to clear teeth twice a day (with two reminders)
I'd like to count how much cakes I've eat in a day

[2018-08-31 19:03] matthewfcarlson opened #437 "Add Group By"
Big fan of Habits, I've gotten a few friends hooked. I'd love to be able to group by color or frequency of habit (daily vs weekly) and then sort by another metric

[2018-09-04 16:31] matthewfcarlson commented on #437
I think I'll try and create a pull request that implements this feature

[2018-09-04 16:32] matthewfcarlson commented on #82
I'd be happy to work on this

[2018-09-04 17:32] iSoron commented on #437
Hi @matthewfcarlson, I'm not sure I completely understand your proposed idea, but I would be very glad to review such a pull request. If you have any questions implementing this, just let me know.

[2018-09-04 17:52] matthewfcarlson commented on #128
I'd love to work on this

[2018-09-05 16:44] hyiltiz commented on #311
Just wanted to follow up. What do you guys think? Shall we drop this for now? Otherwise I could write up the function I mentioned above and send a pull request.

[2018-09-24 18:17] Dim25 opened #440 "Current version is great. Keep it simple."
Thank you Alinson Xavier (@iSoron) and everybody who have contributed to this app. Amazing job!

There are over 1,000,000+ installs of this app on Google Play, with vast amount of positive reviews. In my opinion the app is in perfect state right now, it's simple to use and extremely efficient. As a user I do not want to see any major updates or new features which can increase the complexity or dis

[2018-09-28 03:15] zekooooo opened #441 "Different "midnight" time"
Hi, first gotta say I love your app, I've been using it for a couple of months now and it's helped me a lot in life :) I love the layout and the all black theme that lets me style it like old Android.

I've got just one suggestion for you, can you add a feature to select a different time from 0:00 as the boundary between days? I work nights and it's a minor annoyance that the app switches the day