[2018-09-30 18:13] aaviran opened #442 "No "Delay" option (snooze) on notifications"
Hi, Recently installed the app on my phone and there is no "Delay" option on the notifications. It clearly says in the app description:

So I'm pretty sure this is a bug. My phone is a Sony Xperia XZ2 Compact. I can provide more details if needed.

My loop app version is 1.7.9, Android version 8.0.0

Thanks

[2018-09-30 18:14] aaviran commented on #442
![screenshot_20180930-211007](https://user-images.githubusercontent.com/10272703/46260975-c8d16d80-c4f5-11e8-87d6-63751420d2a6.png)

[2018-10-01 21:28] oraant commented on #437
+1, too many item, want to show them in different ways group

[2018-10-02 10:42] puth7 opened #443 "Misbehave date of reminder"
Hi, I found a small weird behaviour on the reminder setting of the days:
Suppose we have 2 habits and set (in order) the alarm setting as follow :
1st:  habit 1: Mon, Tue at 9:00
2nd: habit 2: Fri, Sat at 10:00
Now I wanted to change the time of habit 1, say at 8:00.
After I changed the time, the date of habit 1 is no longer on Mon, Tue, but changed to Fri, Sat.
I think it would be nice if this sm

[2018-10-07 11:11] MarosPataky commented on #443
Hi @puth7,

I was able to reproduce the issue on app installed from Play Store.

@iSoron, can I try working on this?

[2018-10-08 20:46] MarosPataky commented on #442
Hi @iSoron, I provided a PR for this. Please, check it out when you have time.

[2018-10-11 04:08] Clarkeyyy opened #445 "Automatic Export of Data"
Hello!

I have a couple items that track my personal data (this being one), and I would like to run an automatic update of the export csv data option being sent to my email or google drive or w/e. Once the data is sent I can work with it there.

Just a basic cron of daily or weekly data being sent to me.

I was wondering if this would be possible/would be something I could help work on?

Is there

[2018-10-11 04:41] licaon-kter commented on #445
/duplicate #178

[2018-10-11 15:01] Clarkeyyy commented on #178
Hey, what's the status on this?

[2018-10-14 07:09] gingerling commented on #178
Hi, I would really appreciate this feature, or a paid service from the app devs. I rely so heavily on this app now, it's been a big gsme changer for me managing my health conditions - since I started using it with widgets, it's been just amazing. But, I'm really worried about the backup situation (and my phone isn't rooted)

[2018-10-26 21:06] madl-ash commented on #104
Any update on this @iSoron ?
also, i cant find `features/sync` branch.is it deleted?

[2018-11-07 17:39] luther9 commented on #434
You should see that same pattern no matter what, unless yesterday's score is less than 20%, in which case the penalty might not be visible due to rounding off. The score you see before adding the checkmark is what your score *would* be if you did not add the checkmark for the day.

[2018-11-08 07:29] LoopTrooper commented on #104
Still have huge interest in this feature :-)!!

[2018-11-21 08:27] apelivan opened #447 "Swipe between detail pages"
To see the details of my habits (score, graph), I have to tap one, leave, tap the next. I suggest to iterate through details pages by swiping left and right.

[2018-11-27 22:00] CryptoStar2000 commented on #104
Is the app still in development? Sync would be so great. Or at least the ability to save and restore in cloud.

[2018-11-28 17:12] MrGreenTea commented on #12
A similar idea I have:
Custom achievements/goals/rewards.
I am imagining that I create a goal for a habit, like 1 full month. I write some text as a reward, like fancy dinner, some gadget I really want or whatever.
When the goal is reached I get a notification saying "Get your fancy dinner, winner ;)" or something.

What do you think?

[2018-12-03 17:02] sojusnik commented on #441
See https://github.com/iSoron/uhabits/issues/50

[2018-12-07 12:31] iSoron commented on #441
Thank you for the suggestion, @zekooooo. In the next version of the app, the new day starts at 3am instead of midnight.

[2018-12-07 12:31] #441 closed

[2018-12-07 12:33] #445 closed

[2018-12-08 01:55] iSoron commented on #43
I am closing this issue, since I no longer think this kind of habit is within the scope of the app. There has also not been much user demand for this feature.

[2018-12-08 01:55] #43 closed

[2018-12-12 00:24] daledesilva opened #448 "Export or Import Incomplete"
Upon creating a full backup to Google Drive. I then uploaded into a new install and not all habits imported and no history data imported.

I've attached the db file.
[Loop Habits Backup 2017-12-26 030952.zip](https://github.com/iSoron/uhabits/files/2669963/Loop.Habits.Backup.2017-12-26.030952.zip)

**Additional Info:**
- Same phone
- Wiped phone inbetween (so can't re export to test)
- Last habit

[2018-12-12 02:15] iSoron commented on #448
Thank you for the bug report, Dale. Just to double-check, are you sure this is the latest backup file exported by the app? The filename suggests that this file was created back in December, 2017. For your information, our backup files are [SQLite databases](https://en.wikipedia.org/wiki/SQLite). You can open them with [this viewer](https://sqlitebrowser.org/), for example.

[2018-12-13 09:53] SVNKoch opened #449 "third type of check mark which doesn't break nor add to streak"
I have some task which can only be done at home. I'm often not at home due to vacation for example.
That's why I suggest a third type of check mark (maybe a circle?) which doesn't count as done, however also doesn't break your streak.
I find it frustrating breaking my streak every so often even though it's not my fault.

[2018-12-13 10:01] SVNKoch commented on #208
I think this is an Android (7?) bug and not related to either Nova nor uHabits.
My dad and a friend of mine had issues with widgets not updating properly. Can't remember which app it was for my dad but for my friend it was a alarm widget (Samsung OS included app I think)

[2018-12-13 11:29] #448 closed, assigned to nobody

[2018-12-13 15:35] iSoron commented on #449
Thank you for the suggestion. This is a duplicate of #88.

[2018-12-13 15:35] #449 closed

[2018-12-19 23:40] YohananDiamond opened #450 "Gamification #feature-request"
I'd like to have a XP & Levels system, I think it's more motivating :)
Also, if, for example, the user didn't do the habit on a certain day (selected by the user, like on some weekdays etc.), the player could lose XP (but never go down on level)

[2018-12-20 00:05] YohananDiamond commented on #387
Well, maybe there could be also a recovery key (randomly generated) that could be given to the user when the password is enabled, and he/she would be asked to annotate them in a secure place, like a password manager, a hidden paper or something.

[2018-12-20 00:35] YohananDiamond commented on #42
Also talking about what @johnnybaloney said, a combination of both the examples would be great.

[2018-12-20 00:54] YohananDiamond opened #451 "Theme-related Issue"
I couldn't find a good title for this.
1. **_OLED-friendly theme:_** all the background elements could be black, being more battery-friendly to OLED Screen Devices.
2. **_Custom themes:_** the user could choose the color of the **action bar**, of the **background** and of the **habit cards**.
3. **_Scheduled Themes:_** for example, schedule a day theme, an afternoon theme and a night theme.

[2018-12-28 16:47] goldmanm commented on #450
One simpler way to gamify it would be to just show the % completion as a number inside or over the loop. This is easier to quantify than the ring, and users can think of this as experience for various skills without complicating the inner workings at all.

[2018-12-29 15:20] Erudition commented on #442
You're missing a major detail. In modern android there's snoozing built in, so the snoozing provided by the app gets disabled. You didn't specify which one wasn't working for you.

Your notifications look exactly like mine, and mine snooze just fine, so that screenshot isn't helpful.

In case you didn't know how you can snooze any notification in Oreo:

Begin swiping the notification away, but sto

[2018-12-29 15:53] Erudition commented on #423
Okay, then how about an app setting that's simply "Allow other apps to read my habit data", disabled by default?

That is, if it's not simply possible to just restrict access to exclusively automation apps like Tasker. Which would be the more obvious approach, so I'm assuming you can't do that?

[2018-12-29 16:00] Erudition commented on #362
The percentage is supposed to be habit strength. When you first start a habit, you haven't been doing it, so it's strength, by definition, is zero.

Either way, IMO, if you're looking for incentive to build your habit, the strength meter is not the best place to look.

[2018-12-31 18:34] YohananDiamond opened #454 "Scheduled Habits"
Hello, I would like to suggest **Scheduled Habits** on Loop Habit Tracker. Here's how they could work:
1. The user can schedule days where the habit is obligatory.
2. These habits will have the checkboxes highlighted on the scheduled days.
2.1. If the day passes and the user didn't check off, the habits can have an "X" on the checkbox.

Also, some extra features related to this:
1. Option to filte

[2019-01-02 05:11] blunket opened #455 "Got an archived reminder after importing from full export."
on my old phone I had a habit (I'll call it "A") that I had a reminder on for 12pm every day. then I archived it and replaced it with a new one "B" that had a reminder at 11pm every day.

fast forward about 6 months, I get a new phone, do a full export from my old phone, transfer it to my new phone and import. then (same day as the import) at 11pm (the time for habit B's reminder), on my new phone

[2019-01-04 18:35] javier-artiles commented on #277
@iSoron I really dig this app and I was considering porting it (with as much fidelity as I can) to iOS using React Native. Just wanted to check with you and the rest of the community that it would be OK to do so. I can keep the same type of licensing and distribute the app for free on the Apple App store.
After developing closed source for a long time I wanted to develop a OSS project, and this lo

[2019-01-05 11:19] JuliaCastillo commented on #437
I actually think that would be really helpful. At the moment I group the habits by using different colours, but I would love to be able to maybe create different groups (i.e. morning routine, before bed) and be able to collapse one of those groups, so it only shows the name of the group and not each habit.

[2019-01-05 20:04] javier-artiles commented on #277
Regarding the naming of the repo and the iOS app. Would this be appropriate?
* Repo name: `rn-loop-habit-tracker` with a description such as "React Native port of the original Loop Habit Tracker (https://github.com/iSoron/uhabits)".
* iOS app name: "Loop Habit Tracker", also with a description stating clearly the original work being the Android app.

[2019-01-06 01:16] iSoron commented on #277
@javier-artiles Thank you for your interest in helping the project. I am very interested in seeing how close to the original a React native port of the app could look and feel, and also how would the performance compare. I suggest that you start by simply copying the interface and don't worry about the business logic -- you can use hard-coded data for now. If the interface looks and feels very nic

[2019-01-07 01:10] hyiltiz commented on #277
Excited about this @javier-artiles! Happy hacking!

[2019-01-15 17:11] ralfkr commented on #56
@iSoron I am interested in implementing this feature as you have described it (i.e.: an optional "notes" field) as a way for me to familiarize myself with the app's code.  Feel free to assign it to me and I'll work on it this week.

[2019-01-16 05:10] hyiltiz commented on #277
That is great progress! Excited to see the prototype so close to being ready.

[2019-01-17 15:00] muhkuhxy commented on #443
I just started using the app and really like it. I have the same issue on version 1.7.9. Any additional information I can provide?

[2019-01-19 01:33] openjck commented on #88
Some other apps have this feature. It can be really useful.

For example, a user who works full time might have a habit like *Go for a walk during my lunch break*. What should they do on a holiday? Checking it doesn't make sense, but leaving it unchecked doesn't make much sense either, as it would hurt their score.

[2019-01-19 01:45] openjck opened #456 "Provide an option for a repeating habit to be completed some number of times in a calendar week (or a calendar month)"
Loop allows users to create habits that need to be completed some number of times over some number of days. For example, someone who wants to exercise three times per week might create an *Exercise* habit which needs to be completed 3 times in 7 days.

The problem with this approach is that it doesn't allow for much flexibility. Imagine that person exercises on Monday, Wednesday, and Thursday one

[2019-01-19 22:12] YohananDiamond opened #457 "Habit Groups"
This feature could be something like **Fabulous**'s rituals. They would be a collection of habits to be done on a specific time / day.
They can be seen on the list just like normal habits (with a group signifier somewhere). When clicking on a day on its row, it would open a window showing all habits of that group.
To show that a habit group have been completed, it should show a completion mark (ju

[2019-01-19 22:16] YohananDiamond opened #458 "Color Naming"
Maybe the colors could optionally receive names for, when an habit is open, it shows the color and its name.
This can be good for helping the users to memorize their color-coding. I tried to do one but I am struggling myself having to open a separated app just to get the names related to each color.

[2019-01-19 22:20] YohananDiamond commented on #457
Oh, I have realized that this is basically the same thing as the **Time Blocks** from issue #394

[2019-01-20 08:06] chennemann commented on #432
This also applies to the other color modes and the calendar chart as well. I fixed that in the referenced pull request. There I also attached screenshots of every theme configuration. Light, dark and black.

[2019-01-20 08:07] Sirove opened #462 "Can't save habit if description is too long"
Hope the screenshot makes the issue clear:

![screenshot](https://user-images.githubusercontent.com/24733228/51436709-737ebf00-1c92-11e9-80cd-aae7f1ea832e.png)

[2019-01-20 08:11] chennemann commented on #436
I very much like this idea. But how should a part success be handled?

If you did one of three repetitions should it be counted as success or failure. Also how should we indicate a partly success?

[2019-01-20 09:11] chennemann opened #463 "Break days on non-daily habits should not decrease the strength"
I think it's a bit counter intuitive and even demotivating that the strength goes down for days on which you don't have to complete the habit (let's call them break-days).

It's best explained with a picture:
![](https://i.imgur.com/GoOBZCX.jpg)

As you can see the habit is completed every time it should be completed and the streak is ongoing. Nevertheless I have to rebuild the strength every week

[2019-01-22 22:11] iSoron commented on #277
@javier-artiles That's very good progress. While you were building the frontend, I have spent some time putting together a proof-of-concept version of the core module, and integrating it with React Native. I have also made some refinements to the interface, to make it look more native on both platforms. The result is in the `multi-platform` branch. [You can see it here](https://github.com/iSoron/u

[2019-01-22 23:05] chennemann commented on #463
I just implemented a working change. But I'm actually not happy with my approach.
It works for my use case but it is quite inflexible so we should look for a different approach. Maybe someone has an idea that would diminish the nasty double check and that also works with numerical habits.

[2019-01-22 23:08] iSoron commented on #462
Thank you for the bug report, @Sirove. In fact, this should not happen.

[2019-01-22 23:09] iSoron commented on #436
This is a duplicate of #121. Let's discuss it there.

[2019-01-22 23:09] #436 closed

[2019-01-22 23:19] iSoron commented on #442
As @Erudition explained, this feature has been removed since, starting from Android Oreo, you can already snooze the notifications of any app by dragging them to the right. Furthermore, our previous implementation did not work reliably on some phones.

[2019-01-22 23:19] #442 closed

[2019-01-22 23:19] chennemann commented on #267
What are the requirements that should be met for the landing page? Maybe that would be something we should decide on.

[2019-01-22 23:51] javier-artiles commented on #277
Thank you for working on this @iSoron . I will read the branch in more detail this week. My only concern is related to local persistence. I don't see how the core Kotlin/Javascript library would do this task. RN apps either rely on [AsyncStorage](https://facebook.github.io/react-native/docs/asyncstorage) (probably sufficient for this app) or things like [RealmJS](https://github.com/realm/realm-js)

[2019-01-23 06:03] chennemann opened #465 "idea: Usability improvement"
I think when multiple habits are selected we should not show the archive action. I would rather suggest that we only hide the edit icon. That is because the actions change positions which is confusing for the user. We should minimize the possibilities of getting to a result and for archiving there are currently two ways depending on the selected habit count.

I hope it is clear what I mean. If not

[2019-01-23 07:41] chennemann opened #466 "Make habit list horizontally scrollable"
I don't know whether this was already suggested but I think it could be a nice thing to make the habit list horizontally scrollable so that you are able to see more than just the last five days.

Maybe the scrolling should be a little bit harder to trigger. What I mean by that is that it starts not simultaneously with the finger movement but with a bit of a threshold.

[2019-01-23 08:29] chennemann opened #467 "Habit type selection with night mode is not readable"
![](https://i.imgur.com/Q3TLdYu.jpg)

[2019-01-23 08:36] chennemann opened #468 "bug: The creation of a numerical habit without a target fails"
If you delete the target value the app crashes when you try to create the habit.

[2019-01-23 12:37] chennemann opened #469 "feat: Add way to enter numbers in a fast way"
If you want to track numbers which are quite high it's actually pretty hard. You have to scroll the spinner a lot until you reach the desired number.

I would propose a customized keyboard that is carefully purposed for entering numbers. That means it contains only numbers and the decimal separator. This keyboard can then be used to enter a number quickly and without thinking too much.

I think it

[2019-01-23 17:23] padluq commented on #56
I wholeheartedly support LuccoJ's request.  In fact, at this point the I feel this is the only advantage that Habit Bull has over Loop Habits.  Thanks!

-Adrian

[2019-01-25 09:57] qazip commented on #401
This would be a good thing for me. If this happened, I could sync the DB with syncthing to my computer. I could then create a CLI to add/remove/edit/whatever habits on my computer and have it shown on my phone or vice-versa.

Is this something you still don't want, @iSoron ?

[2019-01-25 16:08] DvP17 opened #473 "idea: Credits for Habits"
Get credits for habits and pay them for rewards.
I have made excellent progress with this great app by combining every habit with a specific amount of credits that I get if I follow the habit. Further, I have a list of rewards that "cost" a specific amount of credits (e.g. eating my favourite meal) that I can exchange against the "earned" credits. I only wanted to share this idea with you, because

[2019-01-27 18:25] chennemann opened #474 "idea: Change order of history and calendar"
I think it would be better to change the order of the calendar and the history widget. That is because the user is more likely to find out on which days he completed the habit than how many times he did the habit in a certain month.

Also it would put the history and the best streak chart together which kinda belong together in my opinion.

What are your thoughts about this?

[2019-01-28 04:19] #465 closed

[2019-01-28 04:30] iSoron commented on #462
Fixed in #472.

[2019-01-28 04:30] #462 closed

[2019-01-28 04:41] iSoron commented on #466
@chennemann You can already scroll the list horizontally by dragging the header (the grey part on the top which shows the days of the week). I agree that this is not very discoverable. Please feel free to build a prototype where the list can be dragged horizontally anywhere. As you mentioned, getting this right might be a little complicated.

[2019-01-28 07:06] chennemann commented on #466
Awesome. I didn't know that. The discoverability of my solution would not be better I guess.

I think we should just add another "did you know" to promote this feature.

It should show up as soon as the user has one habit checked more than the visible days ago.

What do you think about that?

[2019-01-30 09:39] chennemann commented on #474
No I think I didn't put across my point clear enough. Habit strength is the most important thing for me as well.
I was referring to the bar chart that shows how many times you completed the specific habit in a given month and the calendar view.

Following is a screenshot of my adjustment:
![](https://i.imgur.com/uewh8wG.jpg)

For reference I'm taking about those two charts. The order of those is n

[2019-01-30 16:04] chennemann opened #477 "Optimize background of popup elements (such as dialogs and menus) for pure black mode"
popup elements in the pure black mode use the default theming of the dark mode which looks a bit odd because it's too light. So I suppose we should change the color accordingly.

[2019-01-30 16:36] ziem commented on #474
Now this change makes sense 👍 . I had uhabits 1.7.9 from Google Play and the layout on my device looked differently.

[2019-02-06 19:00] Anshoe commented on #456
Yesss. I desperately want this feature. We already have it for two times a week but would like it for other options as well

[2019-02-06 19:01] Anshoe commented on #463
Agreed

[2019-02-07 04:00] Anshoe commented on #372
That would be quite useful

[2019-02-11 12:45] gigaguy opened #481 "idea: add gps location to habit"
Some habits I track, i'd like to add GPS info to.  Just wondering if that's possible?

[2019-02-11 12:50] chennemann commented on #481
Could you elaborate for which habits that could be useful? AFAIK it is not possible at the moment though.

[2019-02-11 12:57] gigaguy commented on #481
Just using some example from the screenshots.  Maybe I play chess is a different park and want to look back on where i've played. Same can be said for pretty much any habit.  Where did I read, where did I use a restroom, where did I meditate, where did I have coffee.  Examples could go on. Let me know if you need more info.

[2019-02-13 05:03] azwarners opened #482 "Project fails to build with Instant Run enabled"
Sorry to have to ask this. I don't have any experience contributing to GitHub projects, but I'd like to start with this one. I'm wondering if I have the wrong Java version. I'm using Ubuntu and for some reason I have both default-jdk (2:1.10-63) and openjdk-11-jdk (10.0.2+13-1). I wonder if I should be using Oracle JDK instead.

When I try to build, I get (sorry if this is TMI):
[code]

[2019-02-17 14:03] GeoGriffin commented on #88
This is one reason that got me looking for a different habit tracker, then I realized that I could contribute to the discussion/code... I haven't looked through all the discussions, but has there been consideration for other statuses besides (green) check or (red) x? Maybe the addition of a (blue) dash to indicate a skipped day? Maybe with a configuration option that defaults to the current usage,

[2019-02-25 11:41] mrstlmk opened #483 "WebApp"
Hello Everyone.
This is not an issue, so maybe posting it here is wrong.

I am a web developer and I created a web version of your great Habit Tracker. You can find it [here](https://mrstlmk.github.io/uhabits-db-viewer/).
Link to [GitHub](https://github.com/mrstlmk/uhabits-db-viewer)
The only thing you have to do is to download the database to your computer and then you can import it on the websit

[2019-02-27 07:10] eSkry commented on #483
Hi, it's great idea! i'm add to stars your repository.

[2019-02-27 08:49] eSkry commented on #481
Аor example, I want to walk slowly on walks, and for this it is necessary to check whether I am at home or not.

[2019-02-28 12:38] iSoron commented on #481
Thank you for the suggestion, @gigaguy. Unfortunately I am not planning to add this feature to the app, both for privacy and technical reasons:

(1) This would require declaring that our app would like to track the user's location. This has huge privacy implications. Most users would probably be surprised that the app even needs this sort of information.

(2) A significant number of users toggle t

[2019-02-28 12:38] #481 closed

[2019-02-28 12:49] iSoron commented on #482
@azwarners Thank you for your interest in helping the project! If you are just starting, I would recommend downloading the [newest version of Android Studio](https://developer.android.com/studio/) and building the application from there.

If you are already using Android Studio, could you try to disable Instant Run? You can do this on `Settings` > `Build, Execution, Deployment` > `Instant Run`, th

[2019-02-28 17:43] JackElsey commented on #456
If you read the reviews on the Google Play store, it seems like this is one of two main issues people have with the app (the other being the lack of an automatic data backup).

Would this take that much work to implement? I'm willing to offer a financial reward to anyone who submits a successful pull request with this feature.

[2019-02-28 18:13] JackElsey commented on #456
If I were to hire a freelancer to implement this feature, what qualifications should I make sure they have?

[2019-03-01 07:49] r4taw2mg opened #484 "Automatic Backup"
Please add an option to regularily back up data on a schedule (e.g. daily, weekly). Backup functionality is already part of the app, but I have to do it manually. It would be great, if one could choose, how many backups to keep.

[2019-03-01 08:40] mrstlmk commented on #484
Agreed. Good idea.

[2019-03-02 20:36] pasbc commented on #484
I too think that it would be a very useful feature. Just something that isn't overly complicated would suffice like syncing at whatever interval to Google drive or something similar

[2019-03-02 20:46] pasbc commented on #473
Interesting idea, do you imagine this part of the app to be similar to the original page where you get to check off a reward and track how many times you gain it? Do you have an example habit/reward and an explanation on how it would work together?

[2019-03-02 20:50] pasbc commented on #469
Do you think you could clarify? I'm not sure which input you are referring to and what type of number you want to track.

[2019-03-02 21:24] chennemann commented on #469
first of all I'm using the experimental tracking of numeric habits. I track my weight with it so I have to input numbers >60 which is quite hard with the current input wheel.

![](https://i.imgur.com/PVvtIMT.jpg)

To make it easier I would propose to have the ability to enter the number manually. to simplify this we could use the text input type number which instructs the keyboard to show the numb

[2019-03-03 00:13] iSoron commented on #483
@mrstlmk That's a nice project, thank you for sharing. You might be interested in the discussion we are having at issue #427. The plan is to rewrite the core of the app in Kotlin, which can be compiled into a Java module for Android, a native library for iOS, and a JavaScript package for the web.

Also, as a heads-up, your webpage no longer works with the development version of the app. To save sp

[2019-03-03 00:26] iSoron commented on #456
This issue has already been fixed in the development version of the app. The app no longer requires that you perform the habit exactly the same day every week. See screenshot below. Note that this update is not yet available on Google Play. To receive it as soon as it is ready for testing, please make sure that you are enrolled in our [testing program](https://play.google.com/apps/testing/org.isor

[2019-03-03 00:34] iSoron commented on #484
Duplicate of #178.

[2019-03-03 00:34] #484 closed

[2019-03-03 00:41] iSoron commented on #469
@chennemann Thank you for the screenshots. On stock Android, as soon as the number dialog pops up, the number field should become automatically selected and a numerical keyboard should automatically appear. See screenshot below. If you want to type a new (large) number, you can easily do so by using the keyboard. Typing a new number will automatically replace the old one, since the field is alread

[2019-03-03 00:46] chennemann commented on #469
I see. I just double checked and it worked. thanks for the hint. my keyboard did not show the number keyboard because the field was not selected.

so the bug would be that the correct field is not selected when opening the numeric input. (if that is a bug)

we should probably open a new issue and cross reference this one here to make it more clear.

[2019-03-03 01:06] iSoron commented on #456
Thank you for your interest in sponsoring the development of the app. This particular issue is already fixed, but, more in general, I will give full consideration to any pull requests submitted to the project, whether the author has been paid to write it or not. Even if the changes are ultimately not accepted into the official project, note that you could still hire someone to create a personalize

[2019-03-03 01:22] iSoron commented on #469
@chennemann The field should get automatically selected when the dialog appears. The numerical keyboard should also automatically appear. If any of these two things is not happening, that's a bug. Please feel free to open an issue about this. Pull requests are also very welcome. If you want to submit a pull request about this, there is no need to open an issue first. You can just link to this thre

[2019-03-03 05:53] mrstlmk commented on #483
Thank you for your answer.

At first I was wondering why my database has so many checkbkxes, even if at the beginning I have checked only like 5 or so. But I figured it out.

I am happy to hear you are changing this concept. I will take a look on the discussion and the dev version as soon as I can.

[2019-03-04 05:41] azwarners commented on #482
@iSoron Thank you for your reply, Dr. Xavier. I followed your advice and disabled Instant Run. I made it past my original error and then ran into more errors. I eventually fixed it all by deleting my hidden ".AndroidStudio3.3" configuration folder and starting over with Android Studio. I ran the unit tests (they all passed of course) and played with the app in the emulator after successfully build

[2019-03-04 16:51] JackElsey commented on #456
Hi Alinson, thanks for letting me know. I'm glad to see this feature is making its way into the app!

[2019-03-09 16:20] zuron7 commented on #454
+1 Habit notifications if stickied should automatically disappear at the end of the day or should have an option to mark not done.

[2019-03-09 16:49] eSkry commented on #454
+1 Good idea!

[2019-03-15 16:00] luisnabais commented on #277
Hello guys! No news on this? :(

[2019-03-16 07:02] Newdea opened #485 "Zoom in/out the strength graph(scale the time axis)"
it would be very nice if we can see the strength graph in a bigger time scale(just in day label), rather to see it in a fixed scale. Such as stock graph:
![image](https://user-images.githubusercontent.com/9208450/54471951-19b2f500-47fc-11e9-98f3-47f7fd18b935.png)
in the graph we can see the specific date and value.
hope  I make myself clear ^_^

[2019-03-17 19:59] trymeouteh commented on #104
I have a suggestion on how to make the sync feature easy to implement.

Have it so the habits is saved as a file on your android device. Every time you add/remove a checkbox, add or remove a habit it will update the file and save it. All that is needed now is for the user to setup Syncthing or their cloud storage app to sync the data between their devices. This method will not require adding a syn

[2019-03-23 18:06] YohananDiamond commented on #267
Hello. Just remembering this issue (if it was forgotten or something).
We currently do not have any information about how the landing page should be. Are there any, @iSoron ?

[2019-03-23 18:16] YohananDiamond commented on #12
@MrGreenTea that seems like a good idea.

[2019-03-26 17:54] javier-artiles commented on #277
Hi @luisnabais , I'm been going though an extended period of crunch time at current job. I should be able to resume work on the React Native repo by mid April.

[2019-03-27 10:48] luisnabais commented on #277
Thanks a lot for not letting this go :) Good luck on your job right now :)

[2019-03-27 15:19] iSoron commented on #277
I am still working on the prototype at the [multi-platform](https://github.com/iSoron/uhabits/tree/multi-platform) branch. After experimenting with React Native for the last two months or so, I have decided to move away from it. The prototype is now developed purely in Kotlin and Swift.

In the next couple of days, I am planning to make that branch the default development branch. At that time, I w

[2019-03-31 13:31] iSoron opened #486 "Make Loop Habit Tracker a multiplatform application"
Since the beginning of the project, one of the most requested enhancements to Loop Habit Tracker has been to make the app available on other platforms, such as iOS and the web. With the upcoming release of Google Fuchsia and [the constantly changing Android APIs](https://commonsware.com/blog/2019/03/25/death-external-storage-what-now.html), it's also an overall good choice, for the future of the p

[2019-03-31 14:47] iSoron opened #487 "Develop iOS version of Loop Habit Tracker"
## Overview

This issue will track the progress of migrating Loop Habit Tracker to iOS. As discussed in issue #486, this is Phase I of our larger effort to make the application multiplatform. The shared core will be written in Kotlin, while the iOS-specific code will be written in Swift.

The `dev` branch already contains a working prototype, with some basic features implemented. Below are a numbe

[2019-03-31 15:10] iSoron commented on #277
The `dev` branch now contains the prototype mentioned in my earlier posts. I have also created two issues to track the progress of our efforts to make Loop Habit Tracker multiplatform. Issue #486 describes the overall project, while issue #487 tracks tasks specific to iOS. Since we now have a concrete plan, I am closing this discussion thread. Thank you everyone for your input! You are still very

[2019-03-31 15:10] #277 closed

[2019-04-01 15:17] Ashik4ga commented on #223
Another idea: enable the user to send a notification to a given friend when the user has just checked a given habit, and reciprocally, enable the user to be notified when a given friend has checked a given habit.

[2019-04-01 19:54] SomeDude2 opened #488 "feature request: Adding a failure state"
Could there be a "failure" state after tapping the habit twice which would add bold cross instead of a tick and hide the habit (if the user has "hide completed" selected)?

For example "Wake up at 6" could be crossed off (and removed from the list) if the user fails to complete the task.

[2019-04-01 20:14] YohananDiamond commented on #488
That could be useful. It would help to have a clear list of what you're
actually going to be able to do on the day.

Em seg, 1 de abr de 2019 às 16:54, SomeDude2 <notifications@github.com>
escreveu:

[2019-04-01 22:42] iSoron commented on #488
Thank you for the suggestion. This is a mix of two existing issues: #96 and #272.

[2019-04-01 22:42] #488 closed

[2019-04-02 13:02] iSoron commented on #137
Given how hard it is to implement this feature and how infrequently users move habits in the first place, I no longer think this feature should be implemented.

[2019-04-02 13:02] #137 closed

[2019-04-02 13:05] iSoron commented on #78
As mentioned earlier, this feature is already implemented in Android Lollipop or later. Since we are dropping support for Android KitKat and earlier version of Android in the next release, I am closing this issue.

[2019-04-02 13:05] #78 closed

[2019-04-02 13:08] iSoron commented on #37
Since the release of the app, there has very little user demand for this feature. Implementing it would make the interface inconsistent and hard to explain (sometimes the number means something, and sometimes it means something else). It would also add complexity to the app, both for the users and developers. For these reasons, I no longer think we should implement it.

[2019-04-02 13:08] #37 closed

[2019-04-02 13:15] iSoron commented on #391
Given how hard this is to implement and the low user demand for this feature, I unfortunately no longer think we should implement it.

[2019-04-02 13:15] #391 closed

[2019-04-02 13:22] iSoron commented on #209
Since the release of the app, there has been very little demand for alternative calendars. Given how we assume the usage of the Gregorian calendar in almost every section of the app, implementing this feature would take considerable effort, and add considerable complexity to our code base. For this reason, I am closing this issue. If the user demand for this feature increases, I will certainly rec

[2019-04-02 13:22] #209 closed

[2019-04-02 13:48] iSoron commented on #477
Moved the discussion to #480

[2019-04-02 13:48] #477 closed

[2019-04-02 13:49] iSoron commented on #474
Moved the discussion to #475

[2019-04-02 13:49] #474 closed

[2019-04-02 13:53] #482 closed

[2019-04-02 13:58] iSoron commented on #458
@YohananDiamond Thank you for the suggestion. Naming the colors is complicated because we would need to update translations in all 30+ languages that the app is available. It would also restrict our ability to create new color palettes. However, I think your use case would be covered by #31. Instead of associating all "exercise" habits to the color green, for example, you could simply create a tag

[2019-04-02 13:58] #458 closed

[2019-04-02 22:53] chennemann commented on #468
would a label not be more appropriate than closing the issue? with a label we could still keep track of the issue. it's still a bug even though it's not in the released version.

[2019-04-03 13:59] spitofland commented on #342
I think just the current streak would be the most relevant information to the checkbox widget, because it's what you are currently working on. Trying to fit the best streak as well might get tight. Maybe have an option to just include the current streak and another option to also include the best streak.

For display, I think the best option would be to put the number(s) in the middle of the circl

[2019-04-06 15:45] hyiltiz commented on #486
Google Fuchsia release is upcoming?

[2019-04-06 21:49] YohananDiamond commented on #486
@hyiltiz probably in some years we'll have something funcional. I don't think it will be before 2022, though.

[2019-04-11 05:20] JayJJChen opened #489 "Feature Request: Add larger check button for daily check"
I know I can add a widget to desktop to check a specific habit, but it's easy to misclick. Is it possible to have bigger check buttons in app, say in the bottom row, for easier daily check? As checking a habit in a specific day requires some precise tap&hold now.

[2019-04-11 08:20] chennemann commented on #489
as far as I know we had this discussion already and dismissed the suggestion because the current implementation follows the material guidelines and should therefore not be changed.

nevertheless could we think about implementing a kind of accessibility mode that increases the touch targets. I'm not sure whether this is useful or not since I personally don't have problems with clicking on the corre

[2019-04-11 10:21] iSoron commented on #489
@JayJJChen Thank you for the suggestion. Could you make a sketch (say, in MS Paint) of what your suggested bottom row could look like? Also, would making all the buttons larger, as @chennemann suggests, solve the issue?

@chennemann We dismissed the opposite suggestion -- making the checkmark buttons smaller. I would be fine with more accessible checkmark buttons. For example, I believe the checkm

[2019-04-11 10:32] chennemann commented on #489
I see. I just remembered some sort of discussion about this topic but couldn't recall what it was about exactly.

In general it would be a good idea to have kind of a responsive design.

[2019-04-11 11:44] StuartMesham commented on #487
What version of Swift do you compile with?
Are there any dependencies for this project?

I am trying to build the iOS version but I am getting the error "undeclared type: Backend".

[2019-04-11 11:54] iSoron commented on #487
@StuartMesham The iOS build is temporarily broken. If you roll back to commit 1abc041d8, it should work. I will post an update when this is fixed.

    git clone https://github.com/iSoron/uhabits.git
    cd uhabits
    git checkout 1abc041d8 -b ios

[2019-04-11 12:46] JayJJChen commented on #489
hi @iSoron , thank you for your reply! I'm not familiar with material design. So the sketch maybe silly...
The idea is that maybe I can have 1 or 2 big buttons, I can only put them down in bottom right to be a shortcut, like picture below.
Or one icon(replace "meditate" with a + icon and remove the cook lunch on below image) to invoke more big buttons(like undone habits for the day/week), con is t

[2019-04-11 12:55] chennemann commented on #489
thanks for the clarification. I personally don't think those buttons will provide any significant value.

they even reduce the usability of the interface by covering parts of it.

I think your point in having an easier way of checking/unchecking of habits is a valid one that should be addressed by increasing the touch target for easier accessibility.

@iSoron will have the final word in this of co

[2019-04-11 13:09] JayJJChen commented on #489
@chennemann thank you for you feedback. I'm not a designer nor an Android developer, I just like a button that's big and close to my thumb :P
Your suggestion of the touch target solution could be a bigger checkbox before the habit, which will gray out if you reached your daily/weekly goal.

[2019-04-11 14:41] chennemann commented on #489
fair enough :smile:

I was actually more thinking about increasing the height for each habit row and reduce the number of visible checkboxes. that would lead into a bigger touch target for each individual checkbox so it is easier to press the correct one.

it won't solve the inconvenience of not being able to do everything with your thumb. on the other hand side I don't think we can find a better

[2019-04-11 19:13] hamjo opened #490 "It seems mathematically impossible to get 100% as score"
The current formula for the score is the following  :
[code]
where `k` is `0.948077` for daily habits, `0.984881` for 2 times a week habits and `0.992411` for weekly habits.
`f(x)` is the score for a day according to the previous score, `x`.
If we want to know what previous score is needed to get a score of `1` or `100%`, we replace `f(x)` by `1` and isolate `x` :
[code]
This means that we need a

[2019-04-11 20:25] iSoron commented on #490
Great analysis, but it is possible to achieve 100%. You just need to use the app for an infinite amount of time!

More seriously, though, for daily habits, it takes exactly 100 days to reach 100%. Although we don't round the scores when performing the computation, we do round them to two decimal digits on the user interface. After 100 days, your score will be 0.9951, and will get rounded to 1.

[2019-04-12 07:33] criscola commented on #486
Is there a Trello or something like that with a list of tasks?

[2019-04-12 09:57] iSoron commented on #486
@criscola For the iOS app, there is a list of subtasks at #487. If anyone is working at a particular subtask and would like to start an implementation discussion, feel free to submit a work-in-progress pull request.

[2019-04-12 14:47] hamjo commented on #490
Did not check for rounding in the UI. It totally makes sense now!

[2019-04-12 14:47] #490 closed

[2019-04-12 16:33] criscola commented on #486
Can we create one for the web version?

[2019-04-13 14:25] iSoron commented on #487
The previous issue is now fixed. To run the iOS app, just open `uhabits/ios/uhabits.xcodeproj` in Xcode and click the Run button. The shared code gets compiled automatically, so no extra steps are needed. If anyone is having trouble building the project, just let me know.

[2019-04-13 21:54] luisnabais commented on #487
Why are you not using TestFlight? We could be more beta testing this... Thanks a lot!

[2019-04-13 22:01] iSoron commented on #487
@luisnabais I will post a TestFlight link when we reach beta. Currently, the app is still unusable.

[2019-04-14 11:19] r4taw2mg commented on #178
I'd be happy, if the current backup functions (full and csv) could just be automated to do their jobs once a day. I too use syncthing to copy those to a non-mobile space. Today I have to do this manually with a high risk of forgetting.

[2019-04-15 03:08] skygate2012 opened #491 "How can I view the database file?"
I accidentally wiped my `/data` partition without backing up, so I am trying to recover the database files. Since the database of Habits is in SQLite format, I restored all of the deleted sqlite-typed files using `photorec`, but the problem is that I do not know which restored file belongs to Habits app. Moreover, the new database file `uhabits.db` which contains my newly created habits data showe

[2019-04-15 17:17] iSoron commented on #491
@skygate2012 Sorry to hear that. If you are using Linux, to detect which database file belongs to Loop, you could try to run the command `grep Habits *` in the folder that has all the restored database files. If a file matches, the message `Binary file FILENAME matches` will be printed, and you can restrict your search.

Also, our database file is not encrypted. You should be able to open it with

[2019-04-16 01:55] skygate2012 commented on #491
Thanks for replying. I ran the `grep` command and filtered out several files. However, none of them seems to be the database file of Habits because their size are so large (up to 1GB) and when I opened some of them the contents are just package indices of my previously installed apps. Besides, when I ran the command `grep Habits *` in the folder that contains the actual database file (`uhabits.db`

[2019-05-07 14:05] LuxoftAKutsan commented on #483
Would be nice to provide ability to keep database remotely either on web app using some API,
or on Dropbox/Nextcloud.
So mobile app could be always synchronized with web app

[2019-05-07 14:17] LuxoftAKutsan opened #492 "Add remote storage"
Would be nice to add ability for remote storage (NextCloud/Docker/ remote db server)
This will add ability to create web app, ios app, and sync habits across devices.

[2019-05-12 07:05] trmendes commented on #178
Same thing here. Using syncthing to backup my android and it would be nice to have automatic daily backups on my Habits \o/

[2019-05-12 12:57] chrisbarth01 opened #493 "Allow user to specify deadlines for habits"
**Component**

The component I want to suggest is a deadline feature for the Loop Habit Tracker.

---

**Description**

I so love this app that I promoted it in a heavy blog post yesterday, but then, I discovered that something was missing in the app. A deadline feature is a very very important one as this app helps people to achieve their long term goals. I am suggesting that a deadline feature s

[2019-05-17 22:25] PrototypeNM1 opened #494 "Add aggreate widgets"
Note: this is different from the stacked widgets currently merged in dev.

It would be nice to have something minimalist similar to the Apple Watch's activity tracker. Ideally this widget would fit nicely into a 1x1 tile and give a sense of all habits progress throughout the day at a glance. Ideally the design would also be a visual sore until completed to motivate action.

What I'm currently imag

[2019-05-20 15:46] malnvenshorn commented on #450
I second the idea for some kind of gamification. I found myself getting sloppy on my habits mainly because there is no real award or penalty involved and I don't feel attached to a plain number or percentage graph.

I don't think that the implementation has to be a clone of Habitica with XP, levels, skills, etc. Instead I could think of taking care of a plant or pet. E.g. earning coins when checki

[2019-05-21 04:50] malnvenshorn opened #495 "Allow user to create groups of habits"
I really like your app, but I'm missing this special feature: (sub-) tasks for habits. This feature would really help to manage habits like:

- Stretching exercises
    - Morning
    - Lunch break
    - Evening
- Learn Japanese
    - Review vocab
    - Complete grammar lesson

I'd really like to break down habits in tasks and be able to check them separately.

[2019-05-21 09:34] RichyHBM opened #496 "Allow task to happen multiple times per day"
At the moment there is a limit of a task only running once a day, I propose allowing custom tasks to run X times a day, with random reminders. The way the tasks would work is to rewrite all daily habits to have been completed for the day to be considered good

[2019-05-21 10:12] RichyHBM commented on #496
Seems to be a repeat of #121, will close

[2019-05-21 10:12] #496 closed

[2019-05-21 10:15] RichyHBM commented on #121
I'm in the scenario where I would like to have X tasks per day with random reminders, potentially being able to specify the window in which they could happen.

For example, between 9am and 8pm, have 5 reminders to check-in that I haven't had a snack

[2019-05-22 14:07] jindalshreyansh commented on #319
Please add this feature. I keep the habit notification persistent because I dont want to clear it when I press clear all. But if I fail to do the habit, I have to press check, then open app and uncheck.

[2019-05-26 16:12] minttea commented on #469
@chennemann hey, could you share where you got the code for the experimental feature? From #42, I see it should be in a branch called `feature/numerical-habits`, but that branch is not available on the repo right now.

cc also @iSoron - would you be willing to push that branch to GH again please? :)

[2019-05-27 09:27] RickvdStaaij commented on #178
I just lost one and a half year of data. It was my fault not for thinking of making a manual backup for before re-installing my phone, yet automated daily backups would have saved me.

It would be super awesome if this feature can make it into the app!

[2019-05-30 01:02] Vindexus commented on #493
This could be very cool. What would count as success? Would it be a certain score by a given date?

[2019-05-30 01:30] chrisbarth01 commented on #493
Success would be when you perform that task in the number of days you had set...

[2019-05-30 06:10] Vindexus commented on #493
Oh just the once? I guess was thinking it was more like "I have developed
this habit" as a goal, rather than "I have done it once" as a goal.

On Wed., May 29, 2019, 6:30 p.m. Chris Barth, <notifications@github.com>
wrote:

[2019-06-10 18:04] Dim25 commented on #491
Probably you already checked this, but it may be helpful for others:

From [FAQ](http://loophabits.org/faq.html#q13):

The interesting catch is that if you have your **Android's native backup service** enabled, but it fails to recover data by itself and you see an empty screen in your app you still may be able to restore it from the backup manually. Go to your app and try to make the full back up

[2019-06-11 06:59] skygate2012 commented on #491
Thanks for the suggestion, sadly I didn't enable Android backup service since I mainly use WebDAV and NextCloud.

[2019-06-13 08:26] yonootz321 commented on #469
Is this tracking for numeric habits released in the play store? My version doesn't seem to have it

[2019-06-14 00:06] iSoron commented on #469
@yonootz321 Yes, that feature is still work in progress.

@minttea That branch has been merged into the `dev` branch, but the feature is disabled.

[2019-06-16 19:30] ImAnnoying2 commented on #466
Maybe an option to launch the app in landscape by default could be a quick solution for those that have fewer habits but want to get motivated by streaks. Or maybe list habit streaks vertically instead of horizontally, also as an option?

[2019-06-16 19:36] ImAnnoying2 commented on #450
While a good idea overall,  I think this app's primary strength is its simplicity. What you're proposing can be easily accomplished by adding a Daily to Habitica called "Done all my Loop habits."

[2019-06-16 19:38] malnvenshorn commented on #450
The issue with Habitica is it's a pure privacy nightmare.

[2019-06-18 08:45] martinwake commented on #305
Would you consider instead adding an option to mark the habit as done from the statistics page? When I want to respond to a reminder it's usually because I have done the habit and need to mark it "done". It's frustrating to have to do the extra actions (tap back arrow) rather than being able to check the habit straight away.

I don't want to assume that my use of the app is typical, but I use the

[2019-07-08 20:26] Phieldar commented on #450
I agree with ImAnnoying2. This app strenght is its simplicity. In fact, I prefer this one to Habitica because it is not full of xp, gold and stuff like that. There are plenty of RPG style habit tracker (Do It now, HabitRPG, etc). I prefer this app, it is focused, simple and with no fluff.

[2019-07-08 20:28] Phieldar commented on #440
Agreed! Simplicity and efficiency is key!

[2019-07-10 19:01] Keavon commented on #101
I would really like this feature so that I cannot mark a task as complete at all unless I have an NFC tag present. That way I can't cheat, I have to go where the tag is located (near my habit/task).

[2019-07-10 19:07] chennemann commented on #101
that would actually be not really feasible. what if you forgot to tap the tag or it's somehow not working. then you still want to be able to check it manually.

the way I see this app is not as an app to keep you accountable but as a tool to help you track your stuff.

of course it's hard to build a new habit but if you rely on a tool to force you to do it, it will probably not gonna work.

[2019-07-11 10:35] macpac59 opened #497 "Sorting habits by score in reverse order"
Hi there,

First of all: a simple but great app! I'm just sorry for all the iOS users who can't use it...

It would be great to offer an option (maybe a check box or a sub menu) to sort the habits by score but in reverse order. This way, the weakest habit would be on top and thus in one's focus on what to work on primarily.

Best regards
macpac59

[2019-07-13 21:58] #358 closed

[2019-07-18 10:05] hiqua commented on #492
Seems to be a duplicate of #104, or is it not?

[2019-07-18 10:23] hiqua commented on #104
@iSoron can you expand on what should be synchronized, to understand better why Syncthing (in particular) is not an option? I have this in mind:

* name of the habit
* frequency
* reminder
* archived status
* days on which it has been completed
* color

Let me know if I'm forgetting something.

Now, for an habit, you could have a corresponding folder (folder name is a UUID which does not change),

[2019-07-22 21:32] openjck commented on #456
That's great! Is there an estimate for when that improvement will be released? I don't think I see it in the latest version of the app.

[2019-07-23 08:50] Tthecreator commented on #42
Hi there! I was wondering what the current state of this feature is and if anyone is still working on it right now? If not then I'll pick it up. I see there is some work done already. I've read that the feature branch has been merged into dev but is disabled. If nobody is going to give me any directions I'll just start working on checking the check boxes and testing the feature(s).

[2019-07-23 12:45] hiqua commented on #495
Can you expand on the advantages of having such a structure compared with having:

* stretching exercises: morning
* stretching exercises: lunch break
* stretching exercises: evening
* learn Japanese: review vocab
* learn Japanese: complete grammar lesson

That's what I currently do in such cases. The main shortcoming I see is that I cannot compute the stats about the main task directly (in your e

[2019-07-23 12:55] hiqua commented on #299
You're much better off using a dedicated tool for this, like Anki (https://github.com/ankidroid/Anki-Android). There are already plenty of such tools, IMHO there's no need for uhabits to start competing with them.

[2019-07-23 15:04] iSoron commented on #42
@Tthecreator Thanks for volunteering! There is no one working on this feature right now. In my free time, I am focusing on #486. If you would like to help with this issue, you're very welcome. The checkboxes in the first post are still accurate. I would recommend start by updating the charts and the notifications. Please feel free to submit a work-in-progress pull request if you would like to disc

[2019-07-23 15:47] iSoron commented on #104
@hiqua That's an interesting solution. Please feel free to code a prototype, but I'm guessing that you will run into several issues:
1. This requires users to install and maintain an external piece of software to make the feature work. I expect most users will find this too complicated, and simply never use the feature. I'm fine with features for power users (e.g. Tasker support) but I feel this o

[2019-07-23 15:50] #492 closed

[2019-07-23 15:53] iSoron commented on #299
I agree that this feature is beyond the scope of the app.

[2019-07-23 15:53] #299 closed

[2019-07-30 16:42] jimfarrand commented on #463
I built the current dev branch and it looks like the behaviour is a little different from the version in the play store.  With regards to the score calculation, implicit ticks for break days are considered NOT DONE on the Play Store version, but are considered DONE on the dev version.

The dev version behaviour seems a lot more sensible to me than the Play Store version.  However, it's not quite w

[2019-07-30 17:03] chennemann commented on #463
maybe you can have a look at my current implementation that I referenced in this issue and you find a more flexible solution than I did. I actually don't like both versions. neither increasing nor decreasing should be the actual behavior because you neither work on building your habit nor are you neglecting it.

[2019-07-30 18:37] jimfarrand commented on #463
Work in progress.  Tests need to be updated.

The interface to Checkmark and friends is kinda... not good.  It's not really providing any encapsulation and so callers to getValue() and friends have to be hyper-aware of the implementation details in other parts of the code.

But fixing that looks like a real bug job that is going to break anyone else that has WIP so I don't think I should tackle it

[2019-07-30 18:41] jimfarrand commented on #463
Though having said that, I'm tempted to push the conversion to a numerical value into Checkmark (or at least pull it out and put it somewhere where it can be reused)

[2019-07-30 20:14] dlicse opened #500 "ListHabitsActivity changes its state after a screen orientation change"
ListHabitsActivity, when I change the orientation of the device screen, changes its state. Below there are four different examples: the screenshots were taken before and after the screen orientation change and they are paired (before, after), (before, after)
![2019-07-25 21-21-55_before](https://user-images.githubusercontent.com/53469180/62161807-42eda100-b317-11e9-9251-1b32dae1f2de.png)
![2019-07

[2019-07-30 20:15] dlicse opened #501 "MainActivity changes its state after a screen orientation change"
MainActivity,  when I change the orientation of the device screen, changes its state. Below there are two different examples: the screenshots were taken before and after the screen orientation change and they are paired (before, after), (before, after)
![2019-07-25 13-27-08_before](https://user-images.githubusercontent.com/53469180/62161979-8f38e100-b317-11e9-824f-4a8258bce972.png)
![2019-07-25 13

[2019-08-02 21:44] alvVDC1846 opened #502 "Comma delimiter for CSV values is the same for decimals numbers in Scores.csv"
The delimiter for CSV values is the same for decimals numbers in Scores.csv. It is a problem for import in a spreadsheet.

Example:

`2019-08-01,0,9346,0,9700,0,6760,0,0000,0,0000,1,0000,0,9755,0,0024,0,9021,0,6916,0,9570,0,7798,0,7219,0,4663,0,5826,0,4142,0,2840,0,0097,0,0672,0,0274,0,0563,0,0960,
2019-07-31,0,9310,0,9684,0,6583,0,0000,0,0000,1,0000,0,9742,0,0025,0,8756,0,6589,0,9546,0,7678,0,706

[2019-08-02 22:08] alvVDC1846 commented on #502
It seems fixed here
https://github.com/iSoron/uhabits/commit/318caa886c8cd80ef42d09ad7dc9c42df4debb5e

[2019-08-06 05:02] mgttlinger commented on #96
There is also the need for a third state to mark a habit "not applicable" for the day which I guess is distinct from "failed" or "not entered" in the sense that it shouldn't count towards the metrics.

As an example, I have a goal to take the stairs to my office instead of the elevator which I want to do every workday. Now, if I am working from home or if I am on a business trip or vacation I obvi

[2019-08-06 14:16] datalossdetector opened #503 "Some activities change state after orientation change"
I developed an automatic test case generation tool and it detected these problems in your app.
I would like to know if you consider them as failures and, if not, why. Thanks for your collaboration.

1) When I change the orientation of the device screen, MainActivity changes its state. Below there are two different examples: the screenshots were taken before and after the screen orientation change

[2019-08-06 17:11] chennemann commented on #503
thanks for submitting that.
in my opinion they are all bugs but not all are worth fixing.

to clarify I would vote to fix case 3 and case 4. the other cases are so minor and probably unlikely to even occur that it is not forth putting in the effort.

[2019-08-07 10:15] dlicse1 commented on #503
Ok, thank you for your patience and attention!

[2019-08-10 17:00] iSoron commented on #502
Thank you for the bug report, @alvVDC1846. I have pushed an update which is supposed to fix this bug (version 1.7.11). The update is currently only available to our beta testers. You can become one by [following this link](https://play.google.com/apps/testing/org.isoron.uhabits). When you receive the update, I would really appreciate if you could update this issue telling us whether the bug is rea

[2019-08-10 23:39] iSoron commented on #463
@jimfarrand For discussion about implementation details of a particular feature, please open a WIP pull request.

[2019-08-10 23:44] iSoron commented on #503
Thank you for the bug report, @dlicse1. This seems like an interesting tool. I agree with @chennemann that only cases 3 and 4 seem worth fixing it. Pull requests are very welcome.

[2019-08-12 00:58] Erudition commented on #96
I'd like to re-emphasize that I think "_missed_" is a really good word to describe the third state.

@mgttlinger If you must view your habit as a _success_ or _failure_, you might want to reframe what your habit is - in this case, your desire is to _avoid_ taking the stairs. Now you have a question you can answer every day (habits ideally do not depend on the environment) - "did you avoid taking t

[2019-08-12 08:26] adrienbeau commented on #96
In an ideal world maybe. Practically speaking, they do, and in many case, it is fine to skip some days, as long as you fall back to your habit after that. Case in point: I measure my weight every day at home, but I do not when I am away (for work or holiday). I don't consider the days away as a success or failure, they are unrelated to the habit (currently my score tanks badly every time I am away

[2019-08-12 08:40] alvVDC1846 commented on #502
Yes, it's fixed in the beta version. Thanks you!

[2019-08-12 10:00] iSoron commented on #502
@alvVDC1846 Thanks for the update. I'm closing this issue.

[2019-08-13 14:42] MohamedKiouaz commented on #495
The other that I see, and that I would really appreciate would be to have logical relation between habits.

For example, in a main task "sport", I would have swimming, bodybuilding, soccer, and more. I physically cannot train 2 sports on a same day without falling apart.
So when one sub-task of the main task "sport" is checked, the others would be in a "passive check" state, and the habit score wo

[2019-08-13 17:09] hiqua commented on #495
Ok I see, in your example of course you could just track the activity `sport`, but I think what would be interesting is to still have minimum requirements for the subtask, e.g.:

* `sport` is some kind of *metatask* and is done at least 3 time per week, including
  * `swimming` at least once a week
  * `bodybuilding` at least once a week
  * `soccer` with no minimum

This *metatask* system is quit

[2019-08-13 17:20] chennemann commented on #495
In my opinion this feature seems to be really hard to implement (how to design an unobtrusive UI; calculating the overall score from all the sub-habits; build additional statistics UI for the meta-habit) while providing little value over all.

I see your point why this might come in handy but in my opinion the grouping can easily be achieved by assigning the same colour and sorting by colour.

[2019-08-13 20:58] malnvenshorn commented on #495
Don't automatically calculate a score for the main task from its sub-tasks. Every (sub)-task has it's own statistic and the main task has to be ticked of by hand.

If you do that you run out of colors pretty fast and additional colors won't help because the need to be easily distinguishable.

[2019-08-13 21:13] chennemann commented on #495
that means that you would need to check "doing sports" two times? one time because you went to the gym and one time because you completed the group?
that makes the usability not exactly good.

and if you handle every single sub habit and the group as its own entity by hand I am not able to see any advantage at all over the current version.

what I could see working would be a grouping function. so

[2019-08-13 22:15] iSoron commented on #495
This feature request is somewhat tricky because most users who request it are actually proposing a particular solution ("to create group habits") to a problem that they have never fully explained. There seems to be at least three perceived problems out there:

* **I want to create groups of habits so that I can better organize the list.** For example, if I am not particularly interested in some gr

[2019-08-13 22:37] iSoron commented on #325
Duplicate of #495. Keeping that one since it has more comments.

[2019-08-13 22:37] #325 closed

[2019-08-13 22:43] iSoron commented on #457
Duplicate of #495

[2019-08-13 22:43] #457 closed

[2019-08-13 22:43] iSoron commented on #191
Moving this discussion to #495.

[2019-08-13 22:43] #191 closed

[2019-08-13 22:44] iSoron commented on #437
Duplicate of #495

[2019-08-13 22:44] #437 closed

[2019-08-13 22:45] iSoron commented on #394
Moving this discussion to #495

[2019-08-13 22:45] #394 closed

[2019-08-13 22:46] iSoron commented on #293
Moving this discussion to #495

[2019-08-13 22:46] #293 closed

[2019-08-13 22:50] iSoron commented on #494
Thank you for the suggestion, @PrototypeNM1. I would be interested in seeing a prototype. Please feel free to submit a pull request. In the meanwhile, I will merge this issue with #495. Widgets for groups of habits are a part of that issue.

[2019-08-13 22:50] #494 closed

[2019-08-13 22:51] iSoron commented on #425
This will be fixed when #42 is completed.

[2019-08-13 22:51] #425 closed

[2019-08-13 23:00] iSoron commented on #493
Thank you for the suggestion, @chrisbarth01. A few other users have requested the same feature so I'm keeping this issue open for discussion, but honestly I still don't quite understand its purpose.

[2019-08-13 23:03] iSoron commented on #208
I have not heard from anyone else regarding this issue, so I assume it's fixed. If anyone is still experiencing this, please feel free to comment.

[2019-08-13 23:03] #208 closed

[2019-08-13 23:05] iSoron commented on #451
Thank you for the suggestion, @YohananDiamond. Loop already has an OLED-friendly theme; it can be activated in the settings. We also have a day theme and a night theme, and it's already fairly easy to switch between the two. I am not planning to implement custom themes, since it would add significant complexity to our source code and user interface.

[2019-08-13 23:05] #451 closed

[2019-08-13 23:06] iSoron commented on #455
Thank you for the bug report. This has already been fixed in the development version of the app.

[2019-08-13 23:06] #455 closed

[2019-08-13 23:11] iSoron commented on #434
Merging this issue with #463

[2019-08-13 23:11] #434 closed

[2019-08-13 23:16] iSoron commented on #447
If anyone wants to implement a prototype, I would be glad to review it. One issue is that we are already using horizontal swipes to scroll the charts. This could cause a lot of unintentional transitions.

[2019-08-13 23:19] iSoron commented on #388
Thank you for the suggestion. I have experimented a little bit with GitHub projects, but they don't seem very helpful. I think lists and checkmarks, however, work quite well, as you can see in this issue: #487.

[2019-08-13 23:19] #388 closed

[2019-08-13 23:21] iSoron commented on #357
Thank you for the suggestion. This makes sense, but I'm not sure how could it look like. Suggestions are welcome.

[2019-08-13 23:22] #491 closed

[2019-08-14 07:18] malnvenshorn commented on #495
I guess it would be nice that the main-task is checked automatically depending on constraints, but it is not that important for me. The real advantage with this would come with complex rules and this might be hard to implement.

With just grouping you don't have a statistic!

What I suggest is actually a combination of:

@iSoron

I just quote myself: "If you do that you run out of colors pretty fa

[2019-08-14 10:21] c33s commented on #15
@iSoron any chance to get this feature? i tried to change your view with https://github.com/iSoron/uhabits/issues/351#issuecomment-355340227
i would donate for such a feature.

[2019-08-14 16:47] MohamedKiouaz commented on #495
@iSoron I can imagine a somehow simple way to design and implement this.

1. A task can reference another task as it's main task. This would be a single input.
2. A task can have a rule : check if at least X sub-tasks are checked. The number N would be another input.
3. A task have a rule about how to behave with the main task. This would be limited to "weak check if main task is checked" (score i

[2019-08-17 07:41] WangGuox1n opened #505 "Some Exception when testing the app"
Hi, I developed an automatic-testing  tool and it detected these exceptions in your app(version 1.7.9).
I would like to know if you consider them as bug?

First exception:
**STACK_TRACE**= E/AndroidRuntime(25232): FATAL EXCEPTION: main
E/AndroidRuntime(25232): Process: org.isoron.uhabits, PID: 25232
E/AndroidRuntime(25232): java.lang.NullPointerException
E/AndroidRuntime(25232): 	at org.isoron.uha

[2019-08-17 07:42] WangGuox1n commented on #505
Second Exception:

**STACK_TRACE**= E/AndroidRuntime(26302): FATAL EXCEPTION: main
E/AndroidRuntime(26302): Process: org.isoron.uhabits, PID: 26302
E/AndroidRuntime(26302): android.content.ActivityNotFoundException: No Activity found to handle Intent { act=android.intent.action.VIEW dat=market://details?id=org.isoron.uhabits }
E/AndroidRuntime(26302): 	at android.app.Instrumentation.checkStartActi

[2019-08-17 07:43] WangGuox1n commented on #505
Third Exception:

**STACK_TRACE**= E/WindowManager(26406): android.view.WindowLeaked: Activity org.isoron.uhabits.activities.habits.list.ListHabitsActivity has leaked window android.widget.LinearLayout{52910060 V.E..... ......I. 0,0-264,96} that was originally added here
E/WindowManager(26406): 	at android.view.ViewRootImpl.<init>(ViewRootImpl.java:346)
E/WindowManager(26406): 	at android.view.Win

[2019-08-23 06:32] Erudition commented on #96
Maybe I should have phrased that differently. It's not the world that needs to be ideal, it's the habit. I gave an example of a practical way the habit can apply to every day. There aren't any practical obstacles to overcome. There may however be philosophical ones.

Actually, that is more a test of willpower that particular day, so statistically, with many habits it's nearly a random chance (depe

[2019-08-28 17:33] 4ut0-M-4t commented on #243
@iSoron, full notification drawer is the biggest cause of frustration really. You can add another **Reminder** setting defaulting to `OFF`, like it is done in [Tasks](https://github.com/tasks/tasks), for those uncapable of dealing with stackable notifications on their smart devices.
Please reconsider.

[2019-08-29 16:30] hiqua commented on #505
Is there a way to reproduce this?

[2019-08-29 16:44] hiqua commented on #104
Thans for taking the time to review my comment. I'll try to clarify possible solutions point by point:

1. This does not have to exclude any other in-app synchronization feature. My main point was that, by changing the data format (from sqlite), you could make it friendlier to dumb file synchronization apps, which would partially resolve this issue for some users who already use such apps. An in-a

[2019-08-30 13:27] ShyvayChamanNarved opened #506 "Feature Request: User login with Google or social media"
It can help very much

[2019-08-30 17:05] hiqua commented on #506
Which login are you referring to? There's currently no login procedure in the app AFAIK.

[2019-08-31 08:25] ShyvayChamanNarved commented on #506
I like to login with Google Account in this app so i can see my account or habits in another device.

[2019-09-01 21:47] hiqua commented on #506
Ok so unless I'm mistaken, this looks like a duplicate of #104.

[2019-09-03 15:58] olegivo commented on #300
Nowadays the Kotlin is one of standard Android languages. I assume the migration is useful especially in light of the multi-platform development direction.
I would like to contribute of step by step migrations.

[2019-09-04 09:53] olegivo opened #507 "Update Support Library to AndroidX"
Also may be useful to update targetSdkVersion:
[as mentioned](https://developer.android.com/distribute/best-practices/develop/target-sdk),

[2019-09-04 09:58] olegivo opened #508 "Develop on last stable Android Studio"
For now it is AS 3.5, with AGP 3.5.0 and Gradle Wrapper 5.4.1
Also may be useful to update Kotlin to last stable 1.3.50 (now in project 1.2.41)

[2019-09-14 13:51] cakerug opened #509 "Notifications broken after latest Android system update (10)"
![Screenshot_20190914-094508](https://user-images.githubusercontent.com/792431/64909018-cb13e400-d6d4-11e9-9da0-9bdb4c3a9f7d.png)

![Screenshot_20190914-094450](https://user-images.githubusercontent.com/792431/64909019-ce0ed480-d6d4-11e9-9278-94044d49679f.png)

After updating my Android system, the notifications are broken:

- visual: there is a large whitespace below the notifications (see above)

[2019-09-14 15:51] doublehelix24 commented on #194
Another +1. Would love this and used this feature a lot in HabitBull.

[2019-09-15 20:25] #506 closed

[2019-09-15 20:58] iSoron commented on #509
Thank you for the bug report, @cakerug.

1. Unfortunately, I could not reproduce the visual glitch shown in your screenshots. Does this happen consistently? Is this restricted to Loop Habit Tracker? Could you please send a bug report from within the app (Settings / Generate bug report).

2. Before you can swipe away an individual notification or execute any actions (such as adding a checkmark), yo

[2019-09-21 12:07] snigam3112 opened #511 "Having 'emojis/cross' instead of a 'check/cross' to mark off habits"
For example, when I check off the habit for "brush nightly", instead of getting a check mark, I could get a tooth-emoji (🦷) show up instead. I think this makes the app more visual without requiring too many changes. In this way, it would be similar to chains.cc

I should be able to choose what emoji represents success when I create the habit and that is basically what is used to replace all the 'c

[2019-09-22 01:14] cakerug commented on #509
It all seems to have fixed itself. Weird!

[2019-09-22 01:14] #509 closed

[2019-09-23 11:03] DuMuT6p opened #512 "Version confusion"
Hello,
Version v1.7.9 is marked as latest release, but on F-droid it is v1.7.11. On Google Play it is Version 1.7.10. Which one is considered latest stable?
Also v1.7.11 doesn't have release information and changelog file seems outdated.

[2019-09-24 02:40] iSoron commented on #512
Hi @DuMuT6p, the latest stable version is whatever is available on Google Play. Currently, that's version 1.7.10. If you enroll in our beta program, you should receive version 1.7.11. This version will become available to all remaining Google Play users after it has been tested for a while. Alternatively, you can get it immediately from F-Droid.

You're right that the releases page here on GitHub

[2019-09-24 02:40] #512 closed

[2019-09-24 02:44] iSoron commented on #511
Thank you for the feedback, @snigam3112. That's an interesting idea. Not sure how well would it work, but if someone wants to build a prototype, please feel free.

[2019-09-24 16:33] veyndan opened #513 "Abide by system wide theme in Android 10"
In Android 10, users can enable night mode across all apps [at a system level](https://developer.android.com/guide/topics/ui/look-and-feel/darktheme). My proposal is to remove the "Night mode" menu item for API 29+ and abide by the system wide day/night mode. I believe removing it for these users won't be an issue as (to me) it would seem odd to want dark mode across the whole phone and want light

[2019-09-24 23:06] iSoron commented on #513
@veyndan Yes, we should do that. Pull requests are very welcome.

[2019-09-28 08:07] JadeQi opened #514 "Where is the IOS version downloaded?"
Unable to find download path on Apple phone

[2019-10-05 11:32] iSoron commented on #514
Please see #487. It's not available yet.

[2019-10-05 11:32] #514 closed

[2019-10-07 04:21] ocwa1 opened #515 "Add 3rd, partial completion option"
It'd be cool to add an option for a partially completed task.  A 3rd option, in-between completed and not completed.  There are days when I know I'm not going to get to a habit, despite any best efforts, so being able to mark it eliminates it from my to-do.

Use cases include:
- You don't complete a habit because you were incapable or injured
- You don't have access to required equipment
- Mark ha

[2019-10-07 06:40] JanMalch opened #516 "Button in notification to open specific app"
I would love to see a feature to add a button in the notification which opens a specific application, depending on the habit.
Like opening a fitness app or a language learning app, etc.

[2019-10-07 13:38] adrienbeau commented on #515
It looks like your issue is a duplicate of issue #96.

[2019-10-07 14:39] iSoron commented on #515
Thank you for the suggestion, @ocwa1. As @adrienbeau points out, this is a duplicate.

[2019-10-07 14:39] #515 closed

[2019-10-14 08:57] ComedyTomedy commented on #497
+1 for this

[2019-10-14 09:11] ComedyTomedy opened #518 "Sort by (Notification) Time"
The notification times I've set roughly describe an itinerary of my day - given this, I'd like to be able to sort the list by time, to create an "Agenda View".

I'd prefer habits without a time field to be sorted to the end of the list.

[2019-10-15 10:18] ComedyTomedy commented on #518
(If this isn't a wide use case I'm also happy dragging things manually! Thanks for a great tool!)

[2019-11-04 00:24] xavier-pardonnet commented on #421
Same problem. My language setting is en-us because that's my working language, and I want to keep using the US spelling, but I live in the NL, so I would like my start off the week to be Monday (it's Sunday atm)

[2019-11-04 12:10] woj-tek commented on #421
AFAIR you can set locale to en_GB and that will only affect the UI. Spell-checking is separated so they won't clash.

Arguably setting en-gb locale is the most sensible option out there for everyone wanting device in English without US silliness related to dates… And it works for all apps in the system.

[2019-11-04 12:51] xavier-pardonnet commented on #421
I found a way to change the locale to a more sensible one on https://www.ctrl.blog/entry/android-en150-localization.html
As much as it seem it would solve a lot of problems, it's still quite involved, and probably more so than than adding a simple "Week start on Monday" option to the app, as so many have, imho.

[2019-11-04 12:58] woj-tek commented on #421
Or, you can use British locale, which virtually achieve almost the same thing instead of asking that every app include this switch...

[2019-11-05 08:28] fted opened #521 "Multiple Line Chart Widget for "Habit Strength""
Could be cleaner to use the "Habit Strength" Widget if it could contain multiple Habit lines.
Currently have several charts for each habit but since axis are fixed a multi-line chart would be great! =)

[2019-11-05 08:47] quatran opened #522 "Feature request: delete multiple habits"
It would be more convenient for the users to have an option to delete several habits at once than to do for each unwanted habit: long press a habit, click on the menu, click on delete and finally confirm the deletion.

[2019-11-05 17:25] quatran commented on #522
Yep I can...
I'm feeling dumb right now.

[2019-11-05 17:25] #522 closed

[2019-11-05 18:49] iSoron commented on #522
In any case, thank you for the feedback, @quatran!

[2019-11-06 14:40] luisnabais commented on #487
Has anyone tried Habitty on iOS? It looks a lot like Loop Habit Tracker. And it's also totally free.

[2019-11-06 15:26] iSoron commented on #487
@luisnabais Please do not advertise non-open source software in our bug tracker.

[2019-11-06 16:25] luisnabais commented on #487
You misunderstood me. I'm not advertising anything. I was just telling you that I think it was a total rip-off of Loop Habit Tracker, maybe not even authorized.

[2019-11-06 16:41] iSoron commented on #487
@luisnabais Thanks! I removed your message because even leaving the name of their app here helps to promote them. These clones are not endorsed by or affiliated with our project in any way. In particular, I cannot guarantee that they respect the privacy of your data in the same way that Loop does.

[2019-11-06 21:23] mickdekkers opened #523 "Unable to build project using developer guidelines"
Hello, I'd like to contribute to the project and perhaps take a crack at #423

The problem is, I'm having some trouble getting the project to build. I'm familiar with software development in general, but I'm new to Android and Java development. I'm probably missing something simple. Hopefully someone here can shine some light on it.

These are the exact steps I took:
- I installed Android Studio (

[2019-11-07 19:05] mickdekkers commented on #523
I figured it out 😄

I tried downgrading Android Studio to 3.3, which fixed the `ClassNotFoundException` build error. Once the error no longer appeared, I could see an "all files are up to date" message.

Given this and the fact that the `Build APK(s)` option was greyed out, I figured the problem might be that Android Studio did not recognize the project as a valid Android project. A bit of Googlin

[2019-11-07 19:05] #523 closed

[2019-11-07 19:57] mickdekkers commented on #523
Update: I couldn't get the Emulator working in Android Studio 3.3 -- it kept freezing and crashing, and the app would never install.

I updated to Android Studio 3.5 (opening the `uhabits/android` folder, the build ran successfully), which fixed the freezing/crashing and lack of app install. However, the app kept crashing on startup. I finally tried the branch from #517 and now the app is running

[2019-11-07 21:41] iSoron commented on #523
Thank you for the update, @mickdekkers. I will try to replicate these issues here.

[2019-11-07 22:08] mickdekkers commented on #523
Thanks, @iSoron! To summarize, getting the project to build was a matter of:
- opening the correct folder `uhabits/android`, not `uhabits`
- using the right version of Android Studio (3.5 for the #517 PR branch)
- installing the correct version of the Android SDK (API level 27)
- installing the Build Tools (Android Studio prompts you for this automatically)
- running `Build > Make Project`, not `B

[2019-11-10 02:30] iSoron commented on #523
@mickdekkers After having a better look into this, it seems like the problem is that you are using JDK 13 to run Android Studio and to compile the app. I recommend using JDK 8 for Android development. There is very little benefit in using newer versions of JDK and you will probably run into numerous Android Studio bugs or compatibility issues with Gradle.

I am currently rewriting the compilation

[2019-11-10 10:59] nottheend opened #525 "Reminders show hours early or hours late following time zone changes"
Seems the app does not care about timezone, but reminds always according to the same UTC time.

Experienced behaviour: if you travel to +1 hour timezone, it will remind you one hour later than before.

I would expect that the reminder comes always at the same relative hour, e.g. 9 am. If you travel to timezone +1 hour, it will still remind at 9:00 am, which is one hour earlier then

[2019-11-10 14:50] iSoron commented on #300
For anyone working on this, please do not submit changes to any files in `uhabits/android/uhabits-core`. All these files will be replaced by `uhabits/core`, which is a rewrite in Kotlin Multiplatform. Changes to `uhabits/android/uhabits-android` are still welcome.

[2019-11-10 14:52] iSoron commented on #508
See discussion in #517.

[2019-11-10 14:52] #508 closed

[2019-11-10 14:53] iSoron commented on #507
See discussion in #517.

[2019-11-10 15:07] iSoron commented on #525
Thank you for the feedback, @nottheend. Yes, this is a bug. If the time zone changes after the alarm has been scheduled, then it will show up in the original time zone, not the modified one. The correct solution is probably to reschedule all alarms following a time zone change.

[2019-11-11 10:36] olegivo commented on #507
@iSoron, I think the discussions in #517 is not related to the subject as AndroidX and Android Studio can be updated separately.

[2019-11-13 16:04] petkahl commented on #121
I too would really like this feature. There are two versions that would be useful to me:

- Do habit X times per day
- Track how many times I do a habit per day.

The second one isn't necessarily on/off. If I do the habit in a day, it's "done". But I'd like to know that, for example, I noticed myself procrastinating and got myself back on track 6 times today, but only twice yesterday.

I'd go for

[2019-11-17 21:31] iSoron commented on #507
Reopening. Pull requests for this are very welcome.

[2019-11-25 09:29] Anshoe commented on #513
I'm not sure what the popularity would be for others but I am certainly someone who uses a dark mode system wide and has some apps as exceptions. I also know many others who do that. I would like it if the night mode menu item can stick around and behave as it currently does. Can't speak for what everyone's choice would be though

[2019-11-25 10:26] mmazur opened #526 "Add a 2×1 widget showing time elapsed since habit last ticked"
Some habits are sparse, but still regular. I can quickly inspect just one of them in a 2×2 calendar widget, while I could fit two at 2×1 in the same visual space.

(When tapped the widget would act just like the 1×1 and tick the habit for the day.)

[2019-11-26 08:46] kamil7x opened #527 "Incorrect streak behavior"
I think, that streak behavior is quite weird. For example if I set my goal to "repeat 3 times in 4 days", I need to do my habit exactly on days 1 2 and 3, to make break on day 4 as not breaking streak.

In my opinion, it should work more like: 3 times in 4 days, starting with day 1, so:
a) 1 2 3 x - would work like it's working now
b) 1 x 3 4 - it's also 3 times in 4 days and I think x should be c

[2019-11-29 03:37] maoruibin opened #528 "Can you show the score of the week?"
Can you show the score of the week? And whether a setting option can be added to the score displayed on the home page to control the week or month of the score displayed on the home page. Thanks ~

[2019-11-29 15:51] nxxxse opened #529 "Add a notes field to habits which is not shown in notifications for privacy reasons"
Habits have a name and optional question currently. I would propose to add a "notes" field for two reasons:

* Both name and question are shown in notifications. "Notes" should not be shown outside of the app. This allows more private notes to be entered there instead what is shown in your notifications as they are far more likely to be (accidentally) shown to someone else when you show something

[2019-11-29 15:53] nxxxse commented on #387
Just to ping the people subscribed to this issue, I created #529 which addresses a related issue that I am surprised nobody in this issue has faced before.

[2019-12-01 02:40] FlashBlaze commented on #267
I have created a basic landing page. Let me know what you think
https://loop-habit-tracker.flashblaze.now.sh
Right now the repo is private, and I'll be making that public soon.

[2019-12-01 07:34] gundalow commented on #267
@FlashBlaze wow, very clean and profesional looking page.

[2019-12-01 09:16] FlashBlaze commented on #267
@gundalow thanks. Glad you like it.

[2019-12-01 11:48] chennemann commented on #267
@FlashBlaze I like the page. But I think the animations take too long. I would make them probably twice as fast.

[2019-12-01 14:33] FlashBlaze commented on #267
@chennemann thanks for the feedback, I'll look into it.

[2019-12-01 18:14] c33s commented on #267
my personal opinion is that such a simple content page should be working without javascipt. the "error" message "This app works best with JavaScript enabled." feels like a little like joke on a page without content.

if i view the source i see that all the content is there, all html tags are there but hidden via css per default. the defaut setting sould always visible if no javascript is active. j

[2019-12-02 04:44] FlashBlaze commented on #267
@c33s I never thought that way. Thanks for pointing these things out.
1. So do you recommend downloading the font and then using it instead of using google fonts?
2. The same should go for images too right? By downloading the content instead of linking to other sources?
3. Thanks for pointing out that the content is not visible if js is disabled. I'll have to look into it.

Great feedback. Thanks

[2019-12-02 10:26] c33s commented on #267
@FlashBlaze

1. yes, simple download the font to the server which ships the webpage and use them from there (of course they are still google fonts but shipped from your server instead the google server). of course cdns can make things load faster but they are very bad for tacking and also build a centralized internet ("single" point of failure). just imagine the servers from google, amazon and mic

[2019-12-02 12:31] FlashBlaze commented on #267
@c33s no no, thank **you**.  These were some great tips and I'll definitely implement these.

[2019-12-03 23:52] cyphysan commented on #497
Yup, this would be useful.

[2019-12-04 10:09] snpefk commented on #527
Double that!
I have a gym training every Tuesday and Thursday. Skipping Tuesday means an unmarked Monday next week even if I disciplined attend every training.

[2019-12-09 17:31] cyphysan commented on #529
I find it helpful to experiment with different Cue, Routine and Rewards for a habit, made famous in a book called "The Power of Habit". Here's a [link](https://charlesduhigg.com/how-habits-work/). I'd LOVE to have a tiny "note" in a habit I'm tracking, like what @nxxxse raised.

Great app and absolutely loving it, thanks!

[2019-12-10 10:18] adrienbeau commented on #267
Make sure the font license allows such a redistribution though. Some attribution or link to license or author may be needed, depending on the font.

[2019-12-10 11:54] c33s commented on #267
Roboto Mono is under the apache license

https://github.com/google/fonts/blob/master/apache/robotomono/LICENSE.txt
https://fonts.google.com/specimen/Roboto+Mono

[2019-12-14 11:47] GANGST1ER commented on #178
Hi! I really need this function. Please add it.

[2019-12-14 18:33] r4taw2mg opened #530 "Idea: Third Status "Unknown""
I propose something of a third state for marking your daily progress. Currently there is set and unset. For a habit like: "Do not eat sweets!" I have to sit back at the end of the day and think, if I have violated my rule today. If I am sure, I haven't, I put a check mark.

A third state like "unknown" would solve this problem. As soon as I eat some sweets, I would set the days habit state to "uns

[2019-12-15 05:03] BrighTide commented on #178
I knocked together a quick and dirty branch that creates a daily export. If you want the functionality bad enough feel free to use it :)

https://github.com/BrighTide/uhabits/tree/poc-add-daily-export

[2019-12-15 13:39] tapchik commented on #487
@iSoron, I don’t know if it’s right place for comments like mine, but I am so in love with your app that it prevents me from buying an iPhone! I made a research and nothing seems to be anything close to Loop on iOS.

I wish you good luck with creating iOS version of the app and can’t wait for a release!

[2019-12-18 13:02] SuperHeroWebDev opened #531 "Create widget with list of habits (similar to the main screen)"
Hi habit lovers! Having a simple condensed widget with habit list would take this app to another level.
Example in picture. The idea is that you could quickly view and check habits directly from the phone desktop instead of opening the app.

If anyone is capable of doing it I would be super grateful since I tried doing it myself but have no idea how to make it happen :(

![habits](https://user-ima

[2019-12-23 08:23] anlalalu opened #532 "crash when rating the app"
###### Reproduction Steps

1. tap 'more options'
2. tap 'About'
3. tap 'Rate this app on Google Play'

###### Stack Trace

E/AndroidRuntime: FATAL EXCEPTION: main
                                                 Process: org.isoron.uhabits, PID: 3372
                                                 android.content.ActivityNotFoundException: No Activity found to handle Intent { act=android.intent.a

[2019-12-23 08:23] anlalalu opened #533 "window leak in ShowHabitActivity"
###### Reproduction Steps

1. select a habit
2. long clickc 'more options'
3. press 'back' quickly

###### Stack Trace

E/WindowManager: android.view.WindowLeaked: Activity org.isoron.uhabits.activities.habits.show.ShowHabitActivity has leaked window android.widget.LinearLayout{5293e398 V.E..... ......I. 0,0-264,96} that was originally added here

[2019-12-23 08:24] anlalalu opened #534 "crash when editing habit"
###### Reproduction Steps

1. select a habit which enable reminder
2. tap 'edit'
3. tap 'Any day of the week' and the Select days dailog appears
4. uncheck all the days
5. rotate the screen
6. select a day

###### Stack Trace

E/AndroidRuntime: FATAL EXCEPTION: main
                                                 Process: org.isoron.uhabits, PID: 3411

[2019-12-23 08:26] anlalalu commented on #505
@hiqua All these issues are reproduced. See #534  #532  #533

[2019-12-28 07:27] StanczakDominik commented on #272
I suspect there's nobody working on this right now. I haven't really done any Android dev work before, but I'd really like to have this functionality in there somewhere. I may find a few hours within the next month to start on this.

The way I see this working is:

* Add a third hideable state for habits called "skipped", off by default
* Add some handler to toggle this state for a habit on side s

[2019-12-29 11:00] And96 commented on #530
+1

[2019-12-29 11:07] iSoron commented on #530
Thank you for the suggestion, @r4taw2mg. This is a duplicate of #96.

[2019-12-29 11:07] #530 closed

[2019-12-29 11:13] iSoron commented on #272
@StanczakDominik There isn't anyone working on this feature right now. Pull requests would be very welcome. As a first implementation, I would recommend simply making the habits temporarily swipeable on the main screen; after restarting the app, they would all appear again. Later, we can see how to add persistence to this. Please feel free to submit a work-in-progress pull request if you would lik

[2019-12-29 11:16] iSoron commented on #532
Thank you for the bug report. This is a duplicate of #354.

[2019-12-29 11:16] #532 closed

[2019-12-29 11:18] iSoron commented on #505
Thank you for the bug reports, @WangGuox1n. This seems like a useful tool. Let's move the discussion to their specific issues #534, #532 and #533.

[2019-12-29 11:18] #505 closed

[2019-12-29 11:21] iSoron commented on #533
Thank you for the bug report, but I wouldn't consider this a significant issue.

[2019-12-29 11:21] #533 closed

[2019-12-29 11:40] iSoron commented on #531
Thank you for the suggestion, @SuperHeroWebDev. I agree that this feature could be very useful, but unfortunately I am not sure it's technically feasible. Android widgets are very restricted, and even our current (very simple) widgets already required multiple implementation hacks to overcome a number of non-obvious limitations. This would push it to another level.

If anyone is willing to try to

[2019-12-29 12:41] SuperHeroWebDev commented on #531
Thanks for taking the time to clarify and answer. It's to bad the implementation would be so hard to do. Hopefully android widget development gets easier in the coming years.

Thanks again for everything. For me still the best habits app out there so thank you on that.

[2019-12-29 17:53] ghost opened #536 "Export to SD card option?"
Am I missing this option? When I click export I get a list of share items such as text or email. But I would like to back up my data to the local SD card instead.

[2019-12-30 01:09] #513 closed

[2019-12-30 07:06] ezekiel747 opened #537 "still get reminders for archived habits"
hi,
first - thank you for this great app.
I noticed that i still get reminders for archived habits - is this normal?
Thank you.

[2019-12-30 08:28] iSoron commented on #319
This has been implemented and will be available in Loop 1.8.

[2019-12-30 08:28] #319 closed

[2019-12-30 18:00] iSoron commented on #463
This is indeed the case; the score now keeps slowly increasing over break days, instead of slowly decreasing. I would expect most users to find this acceptable, so I am closing this issue. These changes will ship on Loop 1.8.

[2019-12-30 18:00] #463 closed

[2019-12-30 18:02] iSoron commented on #537
@ezekiel747 Could you please submit a bug report from within the app, so we can better investigate this?

[2019-12-30 18:12] angelseye commented on #486
@iSoron
Hi! I'd be interested in helping to lead/develop the web platform. I have a background in web applications and especially on the web UI side. My background spans over 20 years with my most recent work experience getting me into React.
In looking for a habit tracker to facilitate my goals for 2020, I found this one and it would facilitate a habit to produce more development content in 2020.

[2019-12-30 18:14] iSoron commented on #536
@evitalis Every time you export your backup, a copy is automatically saved in your internal storage (Internal Storage » Android » data » org.isoron.uhabits » files » Backups). Be aware that this folder will be deleted when the app is uninstalled. If you would like to keep the backups on the SD card after the app is uninstalled, you should move them to another folder.

[2019-12-30 22:04] #376 closed

[2019-12-31 03:02] iSoron commented on #382
I no longer think this feature is worth implementing. File encryption is complicated, and it clearly falls the main scope of the app. Library support for encrypted archives also seems very weak; Apache Commons Compress, for example, doesn't support writing encrypted files. Finally, if we add any encrypted backup file formats, we will need to support them for a very long time.

Based on this, if yo

[2019-12-31 03:02] #382 closed

[2019-12-31 16:06] lashoun commented on #272
If I may, I think the system used in [this app](https://everyday.app) is quite nice. It's a third state which keeps a streak alive as long as you don't skip the habit twice in a row. As of now when you press on a habit it either ticks or unticks it: we could make it so that state rotate, for example unticked -> ticked -> skipped -> unticked.

[2019-12-31 16:44] iSoron commented on #272
@lashoun The feature you describe is being discussed in #88. Essentially, skipping days is an essential feature for other don't-break-the-chain apps because one failure in those apps resets your progress to zero. With our scoring algorithm, however, occasional failures have almost zero impact anyway.

The feature being discussed in this issue is simply hiding the habit until the following day, so

[2019-12-31 20:12] #421 closed

[2019-12-31 20:13] iSoron commented on #421
It's now possible to change the first day of the week in the settings. These changes will ship in Loop 1.8.

[2020-01-02 16:48] jeff92 opened #539 "bug when creating new habits"
when I try to create a new habit it's name changes to a random habit I already created .
this mostly happens when I try to rearrange my new habit.

[2020-01-03 01:13] rdadkins opened #540 "All notifications dismissed at once"
Phone: Samsung Galaxy S9 Android 10 Beta
App Version: 1.8

Scenario: two or more notifications present, click the "Yes" option and notice all notifications are dismissed at once. The habit that I clicked "Yes" on goes through but the rest are not marked.

What should happen: only the notification that I click "Yes" or "No" should disappear.

[2020-01-03 02:08] recheej commented on #534
I have a fix for this

[2020-01-03 02:47] iSoron commented on #540
Thank you for the bug report, @rdadkins. Another user reported a similar issue, but was not able to reproduce it. Is this happening consistently for you? Did this happening with version 1.8.2, or an earlier beta version? If this happens again, could you please open the main app and submit a bug report from the settings?

[2020-01-03 02:51] iSoron commented on #539
Thank you for the bug report, @jeff92. Does this happen consistently? If so, could you list the steps to reproduce it? Also, what version of the app are you using? You can see this information in the About screen.

[2020-01-03 02:52] #467 closed

[2020-01-03 02:53] iSoron commented on #430
This is now fixed.

[2020-01-03 02:53] #430 closed

[2020-01-03 02:54] iSoron commented on #159
I no longer believe this is an issue. We now perform most of the operation in-memory, so this type of lag has reduced significantly.

[2020-01-03 02:54] #159 closed

[2020-01-03 02:55] iSoron commented on #199
This has probably been fixed along the way. If anyone still experiences this issue, please let us know.

[2020-01-03 02:55] #199 closed

[2020-01-03 02:56] iSoron commented on #354
Duplicate of #181

[2020-01-03 02:56] #354 closed

[2020-01-03 02:57] #238 closed

[2020-01-03 03:01] iSoron commented on #527
This has been fixed in Loop 1.8, now available for beta testers on Google Play.

[2020-01-03 03:01] #527 closed

[2020-01-03 04:34] TheWithz commented on #539
I had this issue as well.
Getting the latest update from the playstore (I'm on the beta) fixes the issue.

Pixel 2 XL
Android 10 December security patch
Loop beta 1.8.2

[2020-01-03 04:42] TheWithz commented on #539
Hmmm. Please disregard my previous comment. The issue is still occuring. When I create a new habit, it overwrites the previous habit rather than creating a new one. The name and question update, however, the streak stays. Which has the strange effect of also updating the widgets.

[2020-01-03 06:35] spncrhrstn commented on #540
@iSoron I've been experiencing this issue too. Only seen the issue since the 1.8.0 (or 1.8.1 or 1.8.2 but at least 1.8.0). It happens consistently when there are multiple habits in the notification shade. Expanding one habit, selecting Yes or No, and then all the notifications disappear. The selected habit is updated, but none of the others.

Bug report just after it occurs: [https://pastebin.com/

[2020-01-03 12:59] iSoron commented on #539
Thank you for the extra information, @TheWithz.

* Could you please generate a bug report from within the app after the problem occurs (Settings / Generate bug report)? Feel free to either attach it here, or to send it by email to me.
* If you could provide a screen recording of the bug happening, that would be very useful. You can use an app such as [ScreenCam](https://f-droid.org/en/packages/com

[2020-01-03 14:04] TheWithz commented on #539
Bug report and screen recording sent to `dev@loophabits.org`
I repaired the database before the screen recording and the problem persisted.

[2020-01-03 15:08] iSoron commented on #534
A fix for this issue was implemented in b9c9d68, and should be released with Loop 1.8.3. Thank you @anlalalu for reporting it, and @recheej for fixing it!

[2020-01-03 15:08] #534 closed

[2020-01-03 18:06] iSoron commented on #539
Thank you for the bug report, @TheWithz. Here is the relevant part of the stacktrace.

	01-02 23:39:47.586 23653 23653 E AndroidRuntime: java.lang.IllegalStateException: Two different ViewHolders have the same stable ID. Stable IDs in your adapter MUST BE unique and SHOULD NOT change.
	01-02 23:39:47.586 23653 23653 E AndroidRuntime:  ViewHolder 1:ViewHolder{98c66b6 position=2 id=2, oldPos=-1, pLp

[2020-01-04 08:43] FlashBlaze commented on #267
@c33s @chennemann apart from the javascript is disabled, I have made some optimizations and I think it is a bit faster than before. Would love to hear your opinions again.

@iSoron any changes / opinions would be helpful

Thanks

[2020-01-04 11:08] chennemann commented on #267
thanks for your contribution. the animations are good now. In the attached screenshot you can see one additional problem that I found. the text does not scale correctly in all elements. (I'm currently only on my smartphone so I don't have a good way to test it). and the other thing is more subjective. I'm not really sure about the cards to display the text. it seems to be kinda off. unfortunately

[2020-01-04 11:40] FlashBlaze commented on #267
@chennemann what phone are you using. I'll look into the issue. Wasn't aware of it.

[2020-01-04 15:06] olegivo commented on #507
WIP

[2020-01-04 18:46] Kedar-K commented on #267
Hello @iSoron
I have been using your app for a long time and it's absolutely awesome.
Yesterday I noticed that it was open-source and coming across issues I found this interesting as I am a web developer and don't have any idea about android.
I thought I could contribute it in some way. I am not sure about the current progress of this webpage but I just designed a quick and rough layout.
There is

[2020-01-04 19:15] Kedar-K commented on #267
@FlashBlaze I guess the issue is not with kind of phone, its browser. If you see at the top of image you can notice that it's neither chrome or any other browser but it looks like link has been opened from seperate application. For ex. When you open link on Twitter app or Facebook app it doesn't take us to proper browser like chrome instead page opens in same application.

[2020-01-04 22:53] iSoron commented on #540
@rdadkins @spncrhrstn Could you please try out the new beta version (1.8.5), released today on Google Play, and let me know if this problem is still happening? Thank you for your help.

[2020-01-05 00:43] TacoTheDank commented on #507
I'll make one for this :)

[2020-01-05 05:07] spncrhrstn commented on #540
Just tried it out on 1.8.5, problem is no longer occuring. Thank you for the fix!

[2020-01-05 09:38] olegivo commented on #507
done

[2020-01-05 14:38] iSoron commented on #539
@TheWithz @jeff92 Thank you for the bug report and for your cooperation in investigating this issue. A new beta version (1.8.6) will be published shortly on Google Play. When it becomes available to you, could you please download it and verify if it fixes the problem?

[2020-01-05 22:24] szpak opened #545 "Use dark theme also in settings window"
Having the dark theme enabled I was surprised to open the settings page and be glared by the while background there. It's not a big issue, but it the back theme could be used consistently.

1.8.5 on Android 10.

[2020-01-06 00:47] #507 closed

[2020-01-06 01:06] iSoron commented on #545
Thank you for the feedback, @szpak. I agree that the settings should follow dark theme too. Pull requests are welcome.

[2020-01-06 03:28] chennemann commented on #531
what we might be able to do is a not quite as sophisticated version.
I'm not sure whether or not it is possible but we could maybe implement a widget that is not scrollable and that tries to fit a configurable amount of habits into the given space. by scaling the space and font size down accordingly.

[2020-01-06 03:59] chennemann commented on #495
@MohamedKiouaz I very much like this idea. The only really complicated part (for the first working version) would be the implementation of your second point. creating sophisticated rules with subtasks.

I imagine that to be quite complicated because every sub task can have different goals.

1: complete 4 times in a week
2: complete 2 times in 2 weeks

How could the grouping rule look like?

1: che

[2020-01-06 07:33] recheej commented on #56
@iSoron. Thinking this one through....

Honestly I think this could be marked as closed. Right now the "question" field is only known as question as the hint in the xml, and the default values you present are in question form. Other than that... it's referred to as "description" in the rest of the code, including the sql column.

I think you could make it even more generic by simply:

1. Make the

[2020-01-06 11:33] iSoron commented on #56
@recheej I think we should create a new "question" field in the database, move the current description there, then add some interface elements to allow the user to see/edit the actual description. Having one field to store two different pieces of information (question+notes) is a bit confusing, and may restrict our options in the future (for example, if we want to present the question in some othe

[2020-01-06 12:21] iSoron commented on #495
@chennemann I think this might work. Are you interested in implementing it? I would suggest starting from the core classes (org.isoron.uhabits.core.models) and dealing with the UI later. Feel free to submit a work-in-progress pull request, so we can discuss the implementation.

[2020-01-06 19:43] szpak opened #546 "Notifications in large number no longer combined together in 1.8.x"
I might be wrong, but I recall that notifications when in large number (3+?) were combined together in the top bar in Android 10 and were visible as one icon there.  When swiped down I had to expand the Habits category to see them all (which was much better than 8+ notification at 11 pm to scroll).

However, it no longer happens after an upgrade to 1.8/1.8.5/1.8.6. There is one other icon at the f

[2020-01-07 00:12] iSoron commented on #540
I just verified that the issue is still there in version 1.8.6. Steps to reproduce:

1. Install the app and create two habits with reminders.
2. Open the About screen and tap the version number 5 times to activate developer mode.
3. Select both habits, tap the overflow icon and select "Reminder". Two notifications should show up.
4. Open the recent apps screen and swipe Loop Habit Tracker away, to

[2020-01-07 01:50] spncrhrstn commented on #540
@iSoron there's also another bug I noticed that is probably related to this. If there are multiple notifications, swiping one away will also dismiss all the other ones. This is occurring in 1.8.6 and I believe it's been happening since the 1.8 update. Previous to that update, swiping notifications would only swipe that specific one away.

[2020-01-10 18:01] nyshocka commented on #531
I love this idea. FYI Nine has a scrolling setup for their Calendar Widget. I dont know the complexity though.

[2020-01-12 00:00] prcmt commented on #441
Hi @iSoron, has the 3am change since been reverted? My day seems to start at midnight.

[2020-01-12 13:30] StefanTheWiz opened #548 "Migrating from Android to iOS app"
Hi,

I've been using the app on Android and it's helped me a lot so thanks for all the effort all of you put in! 🙌

In meanwhile I've moved to iOS and I'm having trouble moving my data over.

First, is this the app? [link removed] ?

Second, when I'm trying to import the db from Android to iOS, I get an error saying "This data could not be recognised. Please try again"

Please advise
Stefan.

[2020-01-12 14:08] iSoron commented on #548
Hi Stefan, thank you for the feedback. The app you linked is an unauthorized clone not related to our project. The official Loop Habit Tracker for iOS is currently under development.

[2020-01-12 14:08] #548 closed

[2020-01-12 19:44] finedust commented on #495
I'm with @MohamedKiouaz, that would be a flexible and simple solution, but a couple of potential issues came to my mind:

1. This would allow a large number of nested tasks and the score computation will be cumbersome since the relation between parent and child is two-way.
2. In fact this is a consideration: we would need to compute the score of every task of the group (at least. Here group means

[2020-01-13 10:45] chennemann opened #549 "Enable sorting of cards in ShowHabitActivity"
I think it would be great to enable the user to sort the widgets in the habit details view. That would make problems like the following obsolete:

1. I think the best place to show it is as a new card in the ShowHabitActivity, either directly below the current SubtitleCard, or after the OverviewCard. (Originally posted by @iSoron in https://github.com/iSoron/uhabits/pull/547#issuecomment-572012252

[2020-01-13 10:56] chennemann opened #550 "Design change"
I looked at the screenshots of the IOS close of this app mentioned in the issue https://github.com/iSoron/uhabits/issues/548 and there was one thing that caught my eye that we could use in Loop as well that could improve the usability.

I'm talking about the big tiles in the history (see attached screenshot). My suggestion is to increase the size of the tiles of the calendar card in a similar fash

[2020-01-13 16:01] MohamedKiouaz commented on #495
Hi guys,

Thanks for the replies. I would love to contribute but I have 0 background in Android development. I have a Ryzen CPU so I could not install Android Studio on my computer.

Do you know any way to contribute ? Maybe only using the core of the software and a JVM ?

[2020-01-14 23:05] davidwilliston opened #551 "Repeat Custom in Fibonacci Sequence"
Spaced repetition learning is based on the idea that the forgetting curve is exponential. To reinforce long term memory formation or habit forming a review repetition of increasing intervals is proven helpful. Spaced repetition intervals seem to vary as I read from different papers, but all are somewhat similar to that of the Fibonacci sequence.

A custom repeat in Fib seq would be as follows:
0 =

[2020-01-15 06:05] sameerhussain commented on #536
Can we export data in excel sheet format to SD card and import it same way back from SD card?

[2020-01-15 14:36] ayseenver commented on #545
Hi both,

I was going to try and fix this but on my version of the app (1.7.11), the settings page is dark on night mode. Does it still need fixing?

[2020-01-17 05:35] ganorberg opened #552 "Visualization for completing all habits each day"
I'm loving the app so far, so thank you to everyone who has contributed to its success!

Please correct me if I'm wrong, but I don't see any visualizations that track whether you have completed all of your habits for a particular day. For example, this photo shows how Productive has a calendar view with green circles filled in to show full completion, along with some aggregate stats: https://thesw

[2020-01-17 18:54] TheWithz commented on #539
After testing for a number of days, the issue appears to be fixed as of 1.8.6.

[2020-01-20 12:11] #539 closed

[2020-01-20 12:49] iSoron commented on #549
I agree this would be useful. Pull request are welcome. We should also figure out how to make this feature discoverable.

[2020-01-20 13:06] iSoron commented on #551
Thank you for the feedback, @davidwilliston. This has been brought up before in #299, but I still think it's outside the scope of the project. I recommend using [Anki](https://apps.ankiweb.net/) instead.

[2020-01-20 13:06] #551 closed

[2020-01-20 13:06] #540 closed

[2020-01-20 14:00] evitalis commented on #536
@iSoron I am looking for a way to bypass any of the other export methods and only export to the SD card.

[2020-01-25 11:49] szpak commented on #545
@ayseenver Just tried with 1.8.7 and the settings page is still white. The dark theme ticked in the app.

[2020-01-25 11:54] szpak commented on #546
Wouldn't be enough to just [set](https://github.com/iSoron/uhabits/commit/58ed7592241d3bad87b3b70517147807052056bc#diff-fac3426849f74e19413fdcc13a8e54baL129-R127) a group for notifications to `default` or `"group" + habit.getId()` depending on the configuration switch to have two modes available? @iSoron I wonder, what was the purpose of the change (e.g. people disliking grouped tasks in newer And

[2020-02-03 10:04] chrrris1987 commented on #531
I'm not sure if this is a new suggestion, because it's about combining habits in 1 widget.
I love this suggestion to see an overview in the widget, even though you could not check it in the widget and you still get directly to the checking screen when you click it.
I would love if this would be posibble for more widgets, like the ones that give a graphic dot or line how you are doing on a habit ov

[2020-02-03 14:44] Alp7 opened #553 "Untranslated line in Turkish translation"
There's an untranslated line in Turkish translation of the app. It should be:

![SS1](https://user-images.githubusercontent.com/60614101/73662364-96a8c080-4693-11ea-9543-a4fecc0370c4.png)

Customize notifications ==> Bildirimleri özelleştir
Change sound, vibration, light and other notification settings ==> Ses, titreşim, ışık ve diğer bildirim ayarlarını değiştirin.

[2020-02-03 14:57] Alp7 opened #554 "Streak calculation for non-daily habits is inconsistent"
Take a look at this example:

![SS2](https://user-images.githubusercontent.com/60614101/73662570-f606d080-4693-11ea-9e45-665bb3429f0d.png)

I set a habit to track my workouts, which I do three times a week. As you can see in the pic, it did not count second and fourth day of the first week even though I did that habit three times that week. And as you can see with last week, even though I did it 3

[2020-02-03 18:10] chrrris1987 commented on #267
I love this! I came across this topic and I'm just checking out the designs.
What made me download this app was definitely the widgets. I would recommand to show this on the page.

Like @FlashBlaze you made a nice animation where you can see this widget feature. Love that! (Would choose another font though.)

@nickdbush Love that 'Make those habits stick' on the first page! Also a nice and short d

[2020-02-03 18:42] chrrris1987 commented on #521
I was thinking the same. I love the widgets, but they are all seperate at the moment. Would be nice to choose more habits (would not set it at all or 1 habit, but that you can choose).
That way you can pair similair habits like sports together.

[2020-02-03 19:56] chrrris1987 commented on #531
![2020-02-03 08 52 05 1](https://user-images.githubusercontent.com/60602902/73685861-2e73d200-46c7-11ea-89fc-bb27e941b895.jpg)

For example like this. Above a widget which you maybe can mark, put portrays how you are doing these days. In the example you see all habits, but could be for just the food related habits. And if more widget can combine more habits, you could for example show a graphic li

[2020-02-04 07:17] Kedar-K commented on #267
@chrrris1987 displaying widgets would be cool, thanks for idea.
I have lot of changes on my mind that we can do including fonts.
Waiting for @iSoron 's approval so that i can start developing it.

[2020-02-04 21:28] adrienbeau commented on #553
Translation are done on this website: https://translate.loophabits.org/ You can register there and contribute. :)

[2020-02-11 01:45] kashura commented on #487
`error: Build input file cannot be found: '/Users/valera/Library/Developer/Xcode/DerivedData/uhabits-hhrqwstlmqlbkgcqbnajyhvvlelr/Build/Intermediates.noindex/SwiftMigration/uhabits/Products/Debug-iphonesimulator/uhabits.app/PlugIns/uhabitsTests.xctest/uhabitsTests' (in target 'uhabitsTests' from project 'uhabits')`

`BUILD FAILED in 0s
Command PhaseScriptExecution failed with a nonzero exit code`

[2020-02-11 10:04] truvaking opened #555 "Keep track of other metrics of a habit?"
Hello. I haven't been able to have the right keywords for my particular issue so apologies if this was already discussed.

I was thinking if it would be a good idea to provide an optional feature where one can track other metrics of a habit? I'm mostly thinking about how long that habit took, or the quantitative or ordinal outcome of it. For example, one could input how many sketches they drew, or

[2020-02-13 02:33] scrimbly commented on #497
I found myself wanting this too. I hacked up a quick fix that just adds another menu item, but I'm curious what UX the community would prefer. I can imagine a few options, but I'm open to more:

1. Two menu items, different icon
* By score (V)
* By score (^)
2. Two menu items, different text
* By score descending
* By score ascending
3. One menu item, toggles invisibly
* By score
4. One menu item,

[2020-02-13 03:41] scrimbly commented on #272
@StanczakDominik Did you make any progress on this? I'm craving this feature, and I'm motivated to code it up. Any code/prototypes/sketches you'd like to share?

[2020-02-13 05:50] StanczakDominik commented on #272
I get the same cravings, but unfortunately I haven't been able to start on it yet due to deadlines on other projects... If you'd like to start, go right ahead, and I'll try to help however I can.

[2020-02-13 08:30] scrimbly commented on #272
Poll: Swipe left to dismiss or swipe right to dismiss? Or both/either?

[2020-02-13 11:59] StanczakDominik commented on #272
I'd say both!

[2020-02-13 16:59] macpac59 commented on #497
Cool that you take care of this topic! I would perceive solutions (1) and
(4) as quite intuitive. Texts get too long and (3) might be confusing.

Am Do., 13. Feb. 2020 um 03:33 Uhr schrieb scrimbly <
notifications@github.com>:

[2020-02-15 15:34] KopfKrieg commented on #555
I've got the same question and also found issue #42 which seems to solve your problem.

[2020-02-15 17:19] woolfog commented on #178
Having backups automated would be helpful. If it could save a backup to a folder that Syncthing is watching on a daily bases, that would be awesome.

I am rather clumsy so at least this way my data would be safe if I were to drop my phone in water or something.

[2020-02-16 19:03] mfadel85 opened #557 "can we get the full database description?"
Thanks very much for this application, it is amazing,

I tried to find a place or file that contains the database, it is distributed in many migrations, can you refer to a place where the database is located?

[2020-02-19 13:01] mfadel85 commented on #557
Ok, I got it, it is in this path /core/assets/main/databases/template.db, thanks

[2020-02-20 02:55] scrimbly commented on #272
I just posted a WIP where I got the swiping + dismissing + filtering working, but I'm still working on properly refreshing the list after the swipe.

[2020-02-20 04:44] scrimbly commented on #497
I tried adding :arrow_up_small: and :arrow_down_small: icons to the menu items, and it looks like this:

![sort-menu](https://user-images.githubusercontent.com/38977720/74901426-72720280-5368-11ea-960d-2f25b498c7a9.png)

[2020-02-20 08:03] macpac59 commented on #497
Looks nice! Will you soon implement this function in the main app or create
a fork?

scrimbly <notifications@github.com> schrieb am Do., 20. Feb. 2020, 05:44:

[2020-02-20 08:35] scrimbly commented on #497
@macpac59 I opened PR #556 and hope for it to be merged into the main app once @iSoron approves it

[2020-02-21 00:16] iSoron commented on #555
Thank you for the feedback. This is a duplicate of #42.

[2020-02-21 00:16] #555 closed

[2020-03-01 20:11] #56 closed

[2020-03-01 20:11] #529 closed

[2020-03-01 20:17] iSoron commented on #546
Notification bundling is temporarily disabled in the beta version of the app. I am planning to re-enable it, but much less aggressively (e.g. bundle only 5+ notifications instead of 2+). The reason is that, from the feedback I received over the last few months, a large number of users had no idea notifications could even be expanded.

[2020-03-01 20:20] iSoron commented on #554
This is a duplicate of #124. Please try out the beta version of the app; this has been fixed.

[2020-03-01 20:20] #554 closed

[2020-03-01 20:21] #553 closed

[2020-03-01 20:25] iSoron commented on #557
Hi @mfadel85, our database schema is not part of our public (published) API. What this means is that the format can change at any time. We may even switch away from SQLite in a future version of the app.

In any case, to get the most current schema, the easiest way is to export a backup and have a look using `sqlite backup.db` then `schema`.

[2020-03-01 20:25] #557 closed

[2020-03-01 20:30] iSoron commented on #497
Thank you for the pull request, @scrimbly. I was away from the project for a few weeks, but I am planning to review it soon. Many users would certainly find this feature useful; it has been requested a couple of times.

[2020-03-01 20:33] szpak commented on #546
Thanks for you comment. It was a new mechanism in Android (at least for me migrating to Android 10). However, I believe that people are/will be more and more aware of that change (looking at some other applications it is a default behavior for notifications and it has to be manually changes - as you did - to disable it).

Maybe you could add a switch in the app to disable it? Then both groups of p

[2020-03-01 20:37] szpak commented on #536
@evitalis It's just a workaround, but having an application such as ($free and without ads) [Total Commander](https://play.google.com/store/apps/details?id=com.ghisler.android.TotalCommander&hl=en) allows you to handle that sharing request and just saving the backup file to SD card (or some other folder in the internal storage).

[2020-03-01 21:10] iSoron commented on #536
Currently, you can click "Export full backup" then close the dialog that asks you to pick an app. The backup will still be saved to the SD card. I'm aware this is not intuitive at all; we should improve this.

[2020-03-01 21:21] iSoron commented on #536
Just to expand on this issue a little bit, the reason it's so awkward to export to the SD card is because (i) we don't have permission to see other SD card folders, only the ridiculously hidden `Android/data/org.isoron.uhabits/...`; and (ii) even if we could ask permission to read the entire SD card, this option will likely disappear in a future Android version. Google has been slowly but persiste

[2020-03-06 10:54] sersorrel opened #560 "New streak behaviour doesn't work for all use cases"
I track a habit which I can only do once every 2 days; this used to work fine, but in the 1.8 beta (since #124 was fixed) the reminders now aren't scheduled properly if I miss a single day.

For example:

- day 1: complete the task
- day 2: do not complete the task
- day 3: do not complete the task
- day 4: complete the task
- day 5: do not complete the task

Under the old system, day 3 would be u

[2020-03-07 18:19] ghost opened #561 "Feature Request: Option to display the percentage success rate for all habits over a certain time period."
Ultraworking's [Light's Spreadsheet](https://ultraworking.gitbooks.io/lights/content/) makes use of a really simple but nice concept where it shows the percentage of habits you did successfully for a given week.

The idea is that you pick a threshold (they suggest 70%) and if you go below this threshold you are trying to do too much and you should make your habits more achievable. If you get signi

[2020-03-07 19:22] chennemann commented on #560
Hey @sersorrel,

could you maybe provide a specific example to when this pattern is that relevant? I cannot think of anything specific so it's hard to justify having both approaches which would come with a significant cost in regards to usability and code complexity.

[2020-03-11 23:18] sersorrel commented on #560
It's not a great example, but: I guess if you imagine that the app supported completing a task multiple times per day, then imagine you have a task to brush your teeth twice a day – it wouldn't make sense to brush your teeth three times in a day after you forgot to brush them once on the previous day. Generally it would be useful for any other task where the need to complete it increases over time

[2020-03-15 16:53] lldata opened #562 "Import csv files"
I had to reset my phone and by accident, I exported a csv file instead of a full backup.
So now I want to be able to import the zip file with csv files...

Pull request incoming ...

[2020-03-16 09:20] lldata commented on #536
Maybe this problem can be solved with the PR related to #563 as well.

At least with my PR I was able to export data as a CSV zip file to my google drive and reimport it again (tested in emulator).

For me personally I'd much prefer having a backup in the cloud, rather than some obscure folder on a sd card.

[2020-03-20 11:24] p32929 opened #564 "Resetting all habits and start from the beginning"
in issue #61 @sojusnik mentioned about a feature to select multiple habits and reset the selected checkboxes. But @iSoron replied with some drawbacks of the feature & completely respect his decision. But how about a feature to reset all the habits without selecting and starting afresh?

in #61 @iSoron mentioned that, we can easily delete and create a new habits. But deleting a lot of habits and re

[2020-03-23 06:58] akfaew opened #565 "Hide completed, but only if you've explicitly checked them today"
I track around 25 habits with the app, and sometimes struggle with organizing them.

I have some physiotherapy exercises that I intend to do 5 times in 7 days at a minimum to have peace of mind, but of course it's better to do them 7 times in 7 days.

I'd also like to shave at least once every three days, but naturally it's better to do it every day.

Currently there is a very convenient option: "

[2020-03-27 10:44] gaborhub commented on #42
+1 this is the only missing function of the app

[2020-03-30 19:20] drewta commented on #42
Can we track time in addition to numeral and boolean? A la #129

[2020-04-02 16:17] runo280 opened #566 "Add option to change the app's language manully"

[2020-04-08 16:03] VinayMichaelSamuel opened #567 "Navigation bar does not change with theme"
Android Version 9 with Samsung One UI
App version 1.7.11

Issue
I am using the AMOLED theme but the the Navigation bar is the same as the light mode.
![Screenshot_20200408-194559_Habits](https://user-images.githubusercontent.com/59197885/78806253-7d91f800-79d3-11ea-86a4-6bafbd6bc28e.jpg)

Suggestion
Here's how another open source app is doing this. The navigation bar background changes colour when

[2020-04-11 08:23] agepoor opened #569 "App crashes during sorting"
App crashes when you don't select 'sort manually' and still select a habit item, right at the moment where you should have been able to drag and drop the item to a different place.

[2020-04-11 10:51] heretoenhance opened #570 "[Feature request] Make it possible to write short notes attached to days"
I think it would be very useful to have the possibility to write short notes to habit's days so that I can track not only if I did something one day but also how, or if I broke a streak I can write what happened. The user would then be able to read the notes clicking on the dots on the graph and/or on the History calendar squares.

Thank you for this amazing app!

[2020-04-11 11:25] borjafv commented on #570
I've been using the app for a long time and this is the only thing that I feel is missing. I use it to track stomach issues among other things and it would be awesome if I could write down what I ate the day that I felt sick.

Thanks for the effort put into the app, it's awesome.

[2020-04-11 14:10] iSoron commented on #569
Thank you for letting us know. Could you please send me a bug report from within the app (Settings / Generate bug report) after the app crashes, so we can have a better look?

[2020-04-11 16:21] iSoron commented on #562
Please see https://github.com/iSoron/uhabits/pull/563#issuecomment-612456639

[2020-04-11 16:21] #562 closed

[2020-04-11 16:23] iSoron commented on #570
Duplicate of #194

[2020-04-11 16:23] #570 closed

[2020-04-11 16:29] iSoron commented on #566
Thank you for the suggestion, @runo280. Unfortunately, this feature would require significant development effort and would benefit only a very small proportion of users. If the translations for your language have quality issues, we would really appreciate if you could provide better suggestions in [our open translation platform](https://translate.loophabits.org/).

[2020-04-11 16:29] #566 closed

[2020-04-11 16:30] iSoron commented on #567
Thank you for the bug report, @VinayMichaelSamuel. Could you try out the beta version of the app and confirm if this issue is still there? You can join our beta program in the link below:

https://play.google.com/apps/testing/org.isoron.uhabits

[2020-04-12 07:27] Aquabrick commented on #531
I really support this idea. Im new to software development so had no idea this would be so tricky.
Given its usefulness, maybe a non-scrolling widget which simply shows the remaining un-ticked tasks for the day? Clicking would just open the app?

[2020-04-13 21:54] NunoAGoncalves opened #571 "Feature Request: Option to let users explicitly mark a habit as failed"
Explicitly marking a habit as failed (instead of either completed or leaving it blank) will encourage the user to keep track of their habits daily.

With the current system, I tend to go several days without using the app because I failed my habits. Failing a habit leads to less use of the habit tracker overtime since failures are not recorded; you just leave them blank. I then ultimately forget a

[2020-04-14 05:42] VinayMichaelSamuel commented on #567
This issue is fixed in version 1.8.7.

I had installed the app from F-droid. It still has 1.7.11 as the latest version. Will you be updating the app on F-droid or should I get it from Play store only?

[2020-04-14 09:15] heretoenhance commented on #194
+1 Any update on this one?

[2020-04-21 00:11] bootleg-icarus opened #573 "Best streaks has duplicated the latest streak"
First of all thanks for the app

After a 27 day streak the streak data shows 2 entries of the longest streak. I can fix it by removing the 'tick' for the last day and adding it again. But the next day if I add to the same streak, it happens again.

Environment:
Android: 7.0 ( Moto G4 + )
Loop Version: 1.7.11

[2020-04-22 13:32] r4taw2mg commented on #571
I think, this is a duplicate to #96.

[2020-04-22 13:42] r4taw2mg commented on #96
As this topic comes up on a regular base, I would like to know the opinion of @iSoron  : Do you think about implementing something in this direction?

[2020-04-22 13:45] r4taw2mg opened #574 "New Feature Request: Note for Each Habit"
I just find there not to be enough space to describe a habit. Sometimes I want to make an addition, e.g. under which circumstance I see the habit as successful. So room for 2 to 3 sentences would be fine.

[2020-04-22 15:36] MoSattler commented on #104
Hi @hiqua, did you make any progress on this?

[2020-04-22 20:05] matthewsnell opened #575 "Habit strength graphs don't reset when switching scale"
When you scroll back the graph I'm day view and then switch to quarter the graph goes blank.

[2020-04-23 02:36] iSoron commented on #575
Thank you for the bug report @matthewsnell. Yes, this is a bug. Steps to reproduce:

1. Open the detail page for a habit that has a long history.
2. Switch the score chart to daily intervals, then scroll back in time.
3. Switch to quarter intervals. The graph goes blank (because we scrolled way past the data).

[2020-04-23 02:38] iSoron commented on #574
Thank you for the suggestion, @r4taw2mg. This is already available in the development version of the app, and should be available to all users in the future. See #547.

[2020-04-23 02:38] #574 closed

[2020-04-23 02:38] #571 closed

[2020-04-23 08:58] hiqua commented on #104
@MoSattler no.

[2020-04-25 08:28] #567 closed

[2020-04-25 10:32] tlvince opened #576 "Missing git tag/GitHub release for v1.8.7"
Please could you create a git tag/GitHub release for [v1.8.7](https://github.com/iSoron/uhabits/commit/58d8c799ce301fb35be132f36f129d92d79366e0)? That way, F-Droid will pick up the update. Refs https://gitlab.com/fdroid/fdroiddata/-/issues/2013. Thanks!

[2020-04-25 11:56] amerker commented on #531
I also love this idea of having an overview of multiple habits. Something simple, non-scrolling would already be enough imo.

Specifically I'm thinking of a widget that just shows all active habits, with a (toggleable) checkmark for each habit, which corresponds to its state for the current day.
Which would be the same as creating a Checkmark widget for each habit individually (if you have many, t

[2020-04-26 05:23] nottheend commented on #525
Interestingly in recent past I get the reminders at the correct timings.

Explanation: Reminders occur at the relative timings which have been scheduled originally, no matter which timezone I am in. In other words, the reminder will popup at a point in time depending on the current timezone.

Did anything change in the code on this regard @iSoron?

Another recent change is that I am using Android

[2020-04-28 03:00] nsnitesh7 commented on #178
@iSoron - When are we targeting to work on this and release?

[2020-05-02 04:15] jillrabbit commented on #82
Any chance there's been progress on this? If you have a stale branch for it I could try to take a crack at it.

[2020-05-02 04:16] NellyWhadsDev commented on #82
Did this end up taking off?

[2020-05-02 05:58] NellyWhadsDev opened #577 "Google Assistant Integration"
Planning to play with the Google assistant API to create conversational interactions that track daily activities. Could I build it as an addition to this code base? I imagine the same is possible for Siri, however, that would not be the scope of my (most likely amateurly attempted) work.

It seems it would be against one of the principles outlined in the readme: _internet connection requirement fo

[2020-05-02 10:34] virzen commented on #473
I am strongly against this. I'm using Loop specifically because it doesn't have gamification like, say, Habitica. I have a goal of forming a habit, I don't need nor want additional reinforcement.

[2020-05-02 11:19] chennemann commented on #577
I like the idea. But you are probably right in that it would conflict with the attempt of privacy.
A possible solution to that could be to implement/extend the API for external services such as Tasker and provide some kind of plugin that handles that.
I don't know the status of this feature though

[2020-05-02 16:32] matthewfcarlson commented on #82
I started but ran into some issues and got caught up in other things. I don't know if I ever had something worthy of pushing up

[2020-05-02 18:45] iSoron commented on #82
I still consider this an interesting feature to have. Prototypes are welcome.

[2020-05-02 18:59] iSoron commented on #577
Thank you for the suggestion, @NellyWhadsDev. Could you give some concrete examples of actions you would like Google Assistant to provide? I am not very familiar with Google Assistant integration, but from [this webpage](https://developers.google.com/assistant/app/overview) it seems to be based on the Android intent system. Would we need to include any Google SDKs during compilation to make this w

[2020-05-03 11:52] nikolayhg opened #578 "Add First Day of Week setting"
Currently the first day of the week is Sunday. This is valid for the America continents and China, but not for the rest of the world according to: http://chartsbin.com/view/41671

Please add the option the user to chose whether Sunday or Monday is the first day of the week.

This issue is related to #336, but created as a separate self-containing issue.

[2020-05-03 14:09] Jeehut commented on #487
Hey @iSoron, I just discovered this great open source project and checked the current state of an iOS equivalent. I see that you have long-term plans to provide a Kotlin-based alternative, which I can understand. But as it looks the progress is really slow on that end, or did I miss something?

Reason I'm asking is because I was planning to create a habit tracker open source application for iOS fo

[2020-05-03 20:25] kathytu opened #579 "Highlight habits that need to be done today"
Hello! I'm new to Loop and I love it so far. Thanks to everyone for working on this app.

I have a question about easily seeing what still needs to be accomplished for today. I know currently you see a light grey "x" for undone habits, and as well I know you can choose to hide completed habits. I'd love to be able to see all my habits at once, but just the ones that need to be done are somehow hig

[2020-05-04 03:06] iSoron commented on #578
Hi @nikolayhg, that's already available in the beta version of the app. Please try it out:
https://play.google.com/apps/testing/org.isoron.uhabits

[2020-05-04 03:06] #578 closed

[2020-05-04 05:31] chennemann commented on #579
Thanks for your suggestions. I agree with you that it's not visible all that well. I like your third suggestion to improve the contrast for a better readability.
We need to see however what side effects a change like that would have.

[2020-05-04 10:29] nikolayhg commented on #578
Awesome, thanks!

[2020-05-07 04:08] MatthewChatham opened #580 "Can someone point me to where the strength is computed?"
From reading other issues and the FAQs I understand the app uses exponential smoothing. I'm a data nerd, so out of pure curiosity would anyone be able to point me to the bit of code that calculates the score?

[2020-05-12 14:33] cdanne commented on #42
+1 for this feature. I also consider this the no. 1 missing feature, because it would allow to track progress and improvement over time. Putting the goal number in the habit definition ("_do x for at least y minutes/hours/pages/glasses/..._") would require to repeatedly change the definition in case you improve and want to "raise the bar" over time. So you do not preserve information about your pr

[2020-05-13 03:58] goforgold opened #581 "Allow user to dismiss sticky notification"
Hi @iSoron

Heartfelt thanks for this wonderful application!

I am in kind of need of a small change since you developed a very useful feature #106.

I have enabled sticky notification so I don't accidentally clear the notification which I did plenty of times when I had sticky notifications disabled.

But I also need something so I can mark a habit unchecked (or skip for the day) at the same time.

[2020-05-15 04:58] MRoyDroid commented on #545
Hi, @iSoron I've implemented the Dark Theme on Settings Screen. I've created a new Dagger Component (SettingsActivityComponent) for SettingsActivity to get access to the ThemeSwitcher. But I have a confusion, as I've used the HabitsApplicationComponent to build my new SettingsActivityComponent. Is that okay or do I need to create a SettingsApplicationComponent for that?

[2020-05-20 17:32] NellyWhadsDev commented on #82
Thinking more about how to implement this, it seems we run into similar issues as if we were implementing multi-device-sync.

- How to handle "completion" on one device and propagate to the other seamlessly
- How to handle offline changes.

The first could be resolved with a simple master-slave relationship. Phone is always master, Wear OS is always slave. Queries on Wear OS app-launch can update

[2020-05-20 18:49] NellyWhadsDev commented on #580
I think [this is what you're looking for](https://github.com/iSoron/uhabits/blob/dev/android/uhabits-core/src/main/java/org/isoron/uhabits/core/models/ScoreList.java#L264)!

[2020-05-20 19:21] NellyWhadsDev commented on #565
The current work flow is based on "at least N days in M days" to consider a habit "complete". The proposal seems to be to modify this to be "at least N days up to M days in P days".

This would fit a user story along the lines of "I'd like to shave at least 3 times a week, but 5 times is when I consider my habit schedule met."

This would however introduce another degree of freedom to the "complet

[2020-05-20 19:38] NellyWhadsDev commented on #516
This might be a little better scoped if it targeted [Tasker](https://play.google.com/store/apps/details?id=net.dinglisch.android.taskerm&hl=en_CA) integration. This would allow users to create a Tasker tasks which are not limited to app launching (setting a timer, calling a phone number, playing an audio file, etc.).

Don't know if this is anywhere on the radar for the dev team though. Just some r

[2020-05-20 22:37] iSoron commented on #580
[This is also relevant](https://github.com/iSoron/uhabits/blob/aee0da2c649aae5bfae38e587858a3e34fc5414e/android/uhabits-core/src/main/java/org/isoron/uhabits/core/models/Score.java#L49). It's a very simple formula.

[2020-05-20 22:41] iSoron commented on #82
For a first version, I wouldn't mind if the watch app required a constant connection to the phone. It could not even store any data locally; just request it from the phone and display it. When we have device sync, the watch app could become another full client.

[2020-05-20 22:43] iSoron commented on #581
Thank you for using the app, @goforgold. This should be now possible in the beta version of the app. Please try it out on Google Play. Instead of "check" there are now two buttons: yes and no.

[2020-05-20 22:43] #581 closed

[2020-05-20 22:50] iSoron commented on #579
Mocks or prototypes showing alternative color schemes are very welcome, but I think it would be hard to make the "x" more noticeable while keeping the interface visually attractive.

Another idea could be showing the habits that need to be done at the top of the list, and the habits that have already been completed at the bottom. That is, we could implement a new sorting method. This should be fai

[2020-05-21 02:03] goforgold commented on #581
Hi @iSoron

Thanks for this update.

Actually, I see there are three buttons now. Yes, No and Later.

Can you please tell me the difference between No and later?

[2020-05-23 04:03] maxiqboy commented on #277
I saw [Habitty IOS app ](https://apps.apple.com/us/app/habitty-habit-tracker/id1228128916) from a guy named Yury Paliashchuk from app Store with many things is similar to the Loop android app

Is this clone from this project?

[2020-05-23 12:44] iSoron commented on #277
@maxiqboy Please don't advertise non-open source apps in our bug tracker. No, that app is not related to Loop Habit Tracker in any way.

[2020-05-24 01:10] maxiqboy commented on #277
I saw he steal the idea from you, and want to report to you, not advertise him,

[2020-05-25 03:42] n3h3m opened #583 "Publish in Huawei App Gallery"
I'm using my Huawei P40 pro. This app works flawlessly in P40. It's remarkable since few apps will fail and won't open at all even though the app wouldn't require with Google Play Services.

Since the app is already working fine in Huawei devices, take a moment to publish in App Gallery since it will reduce the hesitation for other people to install as `.apk`

[2020-05-25 13:07] primeapple commented on #576
Hey, @iSoron , we would greatly appreciate this. Please push forwards for more open source software and create a release :-)
It should be done pretty fast!

[2020-05-27 02:32] alfred4x opened #584 "Trying to add widgets when no habits have been created only dims the screen"
When i drag the widget from widget menu to the home screen and release it the screen gets a little darker((as it does when "permission to create a widget" dialogue box appears for other app widgets)) but nothing appears on the screen. God bless ya. and good luck.

[2020-05-28 10:59] n3h3m commented on #67
@iSoron is there an option to export as Json?

[2020-05-30 01:08] jigneshdarji91 commented on #178
Is the scope of this task to add support for daily SD card export only? Or is the scope also to add Google Drive daily export?

[2020-05-31 19:27] tonypuglieso commented on #466
Hello other posible solutions, Add a symbol so that the user knows that it can be moved and / or a smaller mode, so that in the vertical mode more days are filled.

![loop habits sketch](https://user-images.githubusercontent.com/52177646/83360864-f1f57180-a35a-11ea-9837-2bdbfb7d8f51.png)

I understand that a minimal mode, it can be difficult to press such small buttons. That could be a problem. Bu

[2020-06-05 10:03] szpak commented on #546
I wonder, if you decided to give it a try to tune up the settings to make it more friendly for people preferring bundled notifications?

[2020-06-05 23:25] patrickferguson95 opened #586 "Habit ticked by default"
Suggestion: give users an option to have a habit ticked by default. This would make it easier to track habits that will be ticked almost everyday. For example, the avoidance of a bad habit ("didn't smoke"); or a habit that has become a genuine daily habit and no longer benefits from ticking off each day.

[2020-06-06 08:49] chennemann commented on #586
I don't think this is a good idea. If you really believe you managed to implement a new habit into your life you should archive it instead. Checking off a habit automatically bears the inherent risk of forgetting about it completely and it removes the reward of accomplishing something.

So as I said if you think of the checking of more as a chore than a reward you should just archive said habit an

[2020-06-07 05:40] noamteyssier opened #587 "Class of activities [feature request]"
Hello all,

I love this app and use it all the time, but there's a feature I think would be incredibly useful that I would love to have implemented.

Essentially having sub-habits within a single habit. For example having an exercise habit and being able to nest running, biking, climbing etc within it. So when any of them are checked the highest level (exercise) is checked but each sub habit can s

[2020-06-07 08:34] chennemann commented on #587
This was already requested multiple times and is quite complicated to implement. We discussed a potential solution [here (#495)](https://github.com/iSoron/uhabits/issues/495).

As far as I know nobody has started to work on it so far.

[2020-06-07 15:20] iSoron commented on #587
Let's keep this discussion in #495

[2020-06-07 15:20] #587 closed

[2020-06-09 11:52] patrickferguson95 commented on #586
The operative word here is "almost": you can't track an archived habit.

Archiving is worse in both respects.

Moreover, the app isn't for dictating how users should track habits based on questionable folk psychology. Feasibility of implementation or the need for a simple UI are more reasonable objections.

Really, lol?

[2020-06-12 21:30] digitalcircuit commented on #423
In the meantime, if you have root access or (untested) ADB WiFi set up, it's possible to hack around this in Tasker by searching for the notifications posted.

[code]

This will either print the notifications from Loop, or `absent` if none are currently posted.  I haven't extended this to determine *which* habits are currently in the notification list.

Similar, Tasker can use notification permiss

[2020-06-12 22:33] rtevans01 opened #588 "Description field."
Hello. I'd like to request an option be made to type a description when creating or editing habits. Since the title field is limited for visible space, it would be nice to have a second box for inputting context or notes. Thanks in advance e for the consideration.

[2020-06-13 10:57] bookshelfninja opened #589 "Feature request: Add a button to randomly suggest an open task"
Quite frequently I'd like to have a random suggestion for an unfinished task. A dice button at the top choosing one task at random and maybe offering a "roll again" function would be nice.

[2020-06-14 12:26] vyujitanaka opened #591 "Will there be new updates for the Loop Habit Tracker App for 2020?"

[2020-06-14 12:29] iSoron commented on #591
Yes, there will.

[2020-06-14 12:29] #591 closed

[2020-06-14 15:39] hiqua commented on #565
I interpreted the proposal differently, and indeed, I was looking for this issue before creating my own describing what I think @akfaew tried to describe.

Basically there's no completion logic change, but only a new UI option, which is to add a 3rd option to the already existing:

1) Hide archived
2) Hide completed

to end up with something like:

1) Hide archived
2) Hide completed
3) Hide ticked

[2020-06-14 15:42] hiqua commented on #589
This could easily be done by implementing a random sort on the habit list (that would require that you open the app though), but I'm not sure how many people would use this, and if it's even desirable in practice. If you can't complete all your goals, it means that these goals are too high.

[2020-06-14 15:45] hiqua commented on #588
There's already a "question" field, does this not satisfy your needs? If not, do you have a more precise example?

[2020-06-14 16:31] akfaew commented on #565
Yes, that's what I meant. Sorry if I didn't write it clearly enough. Thank you @hiqua.

[2020-06-14 22:22] hiqua commented on #584
Can you give more information about which Android / Smartphone you use? Does it always happen? What happens if you use "add automatically"?

Can you use "generate a bug report" from the settings and add the report here (be sure to review it before posting, I don't think any personal info should be there, but we never know).

Thanks!

[2020-06-14 22:24] hiqua commented on #583
Is installing FDroid an option?

[2020-06-14 22:39] hiqua commented on #573
Can you reliably reproduce this issue? How?

[2020-06-15 13:34] iSoron commented on #583
I will leave this issue open as a discussion. If there is enough demand for it, I might do it. Otherwise, I would recommend installing it from F-Droid instead of downloading the APK directly, as @hiqua suggested.

[2020-06-15 13:35] iSoron commented on #588
Thank you for the suggestion. We recently added a "notes" field in the development version of the app. It should become available to all users in the future.

[2020-06-15 13:35] #588 closed

[2020-06-15 13:40] iSoron commented on #423
I think that would be fine. If anyone is interested in implementing this, feel free to submit a pull request.

[2020-06-15 13:48] iSoron commented on #576
Release 1.8.7 has now been tagged. Before making v1.8 available on F-Droid, I was doing a staged rollout on Google Play to make sure no serious bugs were present; and, in fact, we had a couple. Updates should be more frequent there now.

[2020-06-15 13:48] #576 closed

[2020-06-15 15:38] cwerner1 commented on #583
+1

The advantage of publishing the app in the App Gallery is that it can generate a large number of users, because not all users have F-Droid installed.

I installed it via F-Droid myself.

[2020-06-16 00:12] alxmjo commented on #575
Just to be clear, I'm understanding that expected behavior on this is:

1. …
2. …
3. Switch to quarter intervals. The graph automatically resets its position such that it's scrolled all the way to the right and "today" (or as close to today as can be reached) is against the right side of the app.

Is that correct?

[2020-06-16 03:27] iSoron commented on #575
Yes, that's correct. The correct behavior is to reset the position to "today" whenever we change the interval.

[2020-06-16 11:38] mayank-ramnani opened #593 "Unable to remove notification if ticked manually from inside the app"
## Steps to reproduce:
1. Wait for notification reminder to appear on notification bar.
2. Go into the application and tick the habit manually.
3. Get out of the app and try to "check" the habit from notification.

## Expected behavior:
Since the habit was already checked manually from inside the app, clicking on the "check" button should remove the notification from the notification bar.

## Actu

[2020-06-16 13:55] chennemann commented on #593
Even better (I don't know whether it's possible though) would be to remove the notification as soon as you check the habit inside the application.

[2020-06-16 20:32] alxmjo commented on #575
I'd like to take this on, but it's been ages since I've worked with Android. Perhaps you can give me some pointers.

My hope was that I would be able to call `chart.scrollTo(0,0);` from within `doInBackground()` (in `ScoreCard.java`), but I find that this method affects the entire view (i.e., calling `chart.scrollTo(300,0)` shifts the entire view to the left) rather than the scrolling behavior.

A

[2020-06-16 23:05] iSoron commented on #575
@alxmjo You're on the right track. The scrolling behavior in all of our charts in handled by the [ScrollableChart](https://github.com/iSoron/uhabits/blob/8fd8c2802b60c9a1121c0c9432791f6f46fadf63/android/uhabits-android/src/main/java/org/isoron/uhabits/activities/common/views/ScrollableChart.java#L29) class. The current position is stored inside the `ScrollableChart.scroller` object. I suggest that

[2020-06-17 01:02] iSoron commented on #593
@mayank-ramnani Thank you for the bug report. Could you try out the [beta version of the app](https://play.google.com/apps/testing/org.isoron.uhabits) and let us know if the problem still happens? If it does, could you send us a bug report from within the app after you experience this issue?

@chennemann That's what the app already tries to do; when a checkmark is added, the app tries to dismiss t

[2020-06-17 01:04] iSoron commented on #573
@bootleg-icarus Thank you for the bug report. I believe this is already fixed in the [beta version of the app](https://play.google.com/apps/testing/org.isoron.uhabits). Could you try it out and let us know?

[2020-06-17 01:04] #580 closed

[2020-06-17 03:56] alxmjo commented on #575
Thank you for the pointers. I've opened a PR.

[2020-06-17 23:00] NegatioN opened #597 "Widget fadeout relative to time until habit is non-chainable"
Preface: Love the app.

For me the widget (my main interface) is not enough in my face about when a habit is no longer chainable, since it's simply in a state of `Checked`(completely lit up) or `Unchecked` (Black background / Transparent).

A long time ago I used another app (MyChain, now somewhat defunct) which had a widget progressively fading out (or moving progressively from Green-->Red) which

[2020-06-18 00:10] iSoron commented on #564
Thank you for the suggestion, but I unfortunately don't see this as significantly different from what was proposed #61. My comments in that issue are still valid. I have also not seen significant user demand for this feature.

[2020-06-18 00:10] #564 closed

[2020-06-18 00:32] #575 closed

[2020-06-18 01:12] NegatioN commented on #342
A lot of you mention a need for Current Streak shown in contrast to the Best Streak. This seems a bit like scope creep on a somewhat simple feature, and I (personally) don't really see the need for this, especially considering there's such limited real-estate in the 1x1 square.

I think simply showing the current streak looks great, no?
![number](https://user-images.githubusercontent.com/4037769/8

[2020-06-21 03:16] p32929 commented on #564
I'm not actually asking YOU to implement the feature if you don't want to. I'm just asking, if you could guide us a little bit about which file to change, where to look for, etc that would be really helpful :)

[2020-06-21 08:44] chennemann commented on #564
There is a (now closed) pull request for this feature [here](https://github.com/iSoron/uhabits/pull/592). You might have a look there to see how to solve your particular issue.

[2020-06-21 11:16] p32929 commented on #564
Thanks :) Really appreciate :)

[2020-06-21 19:21] iSoron commented on #560
Loop 1.8.8 (available soon for beta testers) has yet another algorithm, which should work well both with the example you show here, as well as the one from #124. Please try it out when it becomes available to you, and let me know if it behaves as you expect.

Here is a screenshot for "1 time every 3 days" habits:
![Screenshot_20200621-141221](https://user-images.githubusercontent.com/4699657/85233

[2020-06-21 19:31] iSoron opened #598 "Crash: IllegalStateException in MemoryHabitList.reorder"
According to Google Play Console, quite a few users are experiencing the crash below with version 1.8.7, but I have not been able to reproduce it yet. Reproduction steps / pull requests to fix it are welcome.

[code]

[2020-06-21 22:53] woj-tek commented on #546
I just upgraded to uHabits 1.8.6 from f-droid and was flooded with notifications. I have a couple of habits I track and set reminder for them at the beginning of the day (to have a "nudge"/reminder, with the idea to postpone them throughout the day, though postponing wasn't working in previous versions). In previous versions they were neatly groupped and now they use basically all status bar (also

[2020-06-22 18:07] myrdd commented on #560
This somehow looks more like "2 times every 7 days" ... are you sure it's 3 times @iSoron?
if it's indeed 3 times, why is 24.-28.(March) and 17./18. (May) marked?

I've got quite the same use case as @sersorrel, but "1 time every 7 days".
Or, better said, **"max. 7 days between one completion and the next one"**.

---

PS: Thanks for the great app!!

( PPS: FWIW, I once have been using HabitRPG, a

[2020-06-23 00:51] iSoron commented on #560
@myrdd You're right; my example was wrong. Below is a fixed example, "2 times per week". Also, thanks for the link. Very interesting to see how other apps deal with this.

![Screenshot_20200622-194427](https://user-images.githubusercontent.com/4699657/85348453-43f46780-b4c1-11ea-9b2b-8e65f6c7363c.png)

[2020-06-23 15:33] sjl872964789 opened #599 "Rotating the screen while setting the reminder time will cause the set time to be lost"
**Describe the bug**
 Rotating the screen while setting the reminder time will cause the set time to be lost

**To Reproduce**
Steps to reproduce the behavior:
1. Install and open uhabits
2. Click the Add button
3. Click the drop-down box after ”reminder“ to set the time
4. Rotate screen
5. Click "Done"

**Expected behavior**
The selected reminder time will not be lost

**Consequence**
As users ca

[2020-06-24 02:46] sersorrel commented on #546
Bundling is a normal behaviour for apps on Android 10, including commonly-used ones like Gmail. Obviously user feedback is paramount, but it's a lesson that users only have to learn once across the entire system – if bundling is turned off everyone has to live with the unbundled notifications forever.

Do you know if people were generally struggling with expanding the bundle, or with expanding the

[2020-06-24 02:49] sersorrel commented on #560
It'll take me a few days to see how notifications behave now, but from how my history looks this looks like exactly the behaviour I was hoping for. Thank you so much!

[2020-06-24 06:16] myrdd commented on #560
I just tested 1.8.8 and the "1 time every 7 days" case works exactly how I would have expected. So indeed, thank you so much!

FTR, here's a screenshot of my use case:
![Screenshot_20200624-075536](https://user-images.githubusercontent.com/4286829/85506817-a09a7400-b5e0-11ea-8076-3ecc735afbf2.jpg)

Still, @iSoron, I'm wondering why in your screenshot (I cite below) days 24 to 28 of march are marke

[2020-06-25 20:09] jigneshdarji91 opened #601 "Enabling vacation mode support to pause breaking streaks"
With the onset of Summer, most people are taking days off and might want to pause some habits. But this shouldn't break the streaks. It's not a result of laziness but a planned break.

Todoist does a similar feature. Here's a snippet for example.
![image](https://user-images.githubusercontent.com/7569156/85790462-1982f400-b6e5-11ea-9893-6d14b36cdb70.png)

[2020-06-25 21:55] chennemann commented on #601
I really like this idea. To circumvent this I always decide from a case to case basis whether I just loose the streak or check it off even though I didn't actually do it to not loose the streak/strength

[2020-07-01 13:17] mrshll1001 commented on #601
I think this is a good idea. I've been gunning for a vacation or suspension mode for habits for a while. In some cases the user might want to be trying to maintain the habit despite the vacation e.g. using the classic example of "meditation" you can still meditate while travelling for work, on vacation, etc. but a lot of the time there isn't scope for some habits.

For example a habit to clean the

[2020-07-01 13:22] chennemann commented on #601
One thing we should think about though is the way we want to handle it. It might be desirable to suspend certain habits but keep others active. Would we implement a global switch and just allow for explicit checking or should we make every habit suspendable independently?
I don't think we should have both options and the one by one strategy is probably too much overhead to be usable. Any other ide

[2020-07-01 13:27] mrshll1001 commented on #42
I think this is slightly out of scope for this app. What a habit is, semantically, is the performance of a task / action consistently.

Numerical habits such as exercise repetitions, running distance, time spent etc are all related to habits but are their details rather than the act of performing it. For example in Habits I have `Training` as a habit which is performed x times a week and I track w

[2020-07-01 15:39] KopfKrieg commented on #42
I've got a lot of numerical data I *have to* track that definitely isn't any type of workout. Just think about medical data for example.

And I'd prefer to not have a separate app for it. Especially because this app is open source and able to export in various format.

[2020-07-01 18:18] woj-tek commented on #42
This! There are many habits/task that require certain repetitiveness...

[2020-07-02 06:50] Myridium opened #602 "Remove implicit negative response"
I have used this app for almost a year now.

A huge problem is that on days without a checkmark, there's no way to distinguish between whether I failed to record the habit that day, or whether I didn't perform the necessary action and made a conscious decision to leave it unchecked. For this reason, looking at the calendar history of habits provides little useful information to me. I have no idea

[2020-07-02 12:04] iSoron commented on #602
Closing this as a duplicate of #96.

[2020-07-02 12:04] #602 closed

[2020-07-02 12:16] iSoron commented on #601
This seems fundamentally the same as #88, although the proposal here is to pause all habit simultaneously, while the proposal there is to pause them individually. Let's keep this discussion focused on one thread, so that new contributors can find it more easily.

[2020-07-02 12:16] #601 closed

[2020-07-02 21:16] jigneshdarji91 commented on #601
@iSoron ack!

[2020-07-02 21:26] jigneshdarji91 commented on #88
I didn't know about `Strength` before reading this. I actually still don't understand what `Score` means. Streaks is a standard construct across a lot of different apps. Duolingo and Todoist are two popular apps that I know use streak as a primary metric for motivation.

I think most people who care about a pause mode or vacation mode find streaks to be a highly motivating factor to continue the h

[2020-07-03 08:07] slix commented on #441
I'm also curious if the changed has been reverted. My widgets change around midnight.

[2020-07-05 06:30] tingsu commented on #599
Similar issue here. Any update? Thanks.

[2020-07-05 12:50] iSoron commented on #599
Thanks for reporting. This issue has already been fixed in the `dev` branch.

[2020-07-05 12:50] #599 closed

[2020-07-06 12:52] real-or-random commented on #88
I fully agree with #88. I'm having this problem right now, and it doesn't feel good. I have a few work-related habits, and I just don't know what to do with these when I'm on vacation or when there's a holiday.

I believe Strength is a very nice concept and what makes this app better than others (at least for me), and I think if your philosophy is Strength (again, depends), then you don't need a f

[2020-07-07 08:39] asdoi opened #603 "Remove internet permission"
In the privacy policy (https://loophabits.org/privacy) is written, that the app does not send any data and does not use any analytical services/libraries.
After I read that I analyzed the AndroidManifest.xml and saw that the app uses the Internet permission.
Basically this app does not send any data or something else, so I did not see any reason for that permission.

After some research I found #1

[2020-07-12 15:48] iSoron commented on #503
Case 3 is fixed in the `dev` branch. I don't consider the remaining cases serious issues.

[2020-07-12 15:48] #503 closed

[2020-07-13 20:12] biolauri commented on #603
I'd definitely prefer the removal of the permission as long as there's no need for it.

[2020-07-16 12:50] iSoron commented on #603
I will remove this permission in Loop 1.8.9 and reintroduce it when we finish implementing #104 (probably in Loop 2.0).

[2020-07-16 12:55] #338 closed

[2020-07-16 12:57] iSoron commented on #569
This seems to be the same bug as #598.

[2020-07-16 12:57] #569 closed

[2020-07-16 12:58] iSoron commented on #525
It's not clear this bug still exists in Loop 1.8.8. If anyone is still having this issue, please let us know and I will reopen it.

[2020-07-16 12:58] #525 closed

[2020-07-16 12:59] iSoron commented on #365
Fixed in #459

[2020-07-16 12:59] #365 closed

[2020-07-16 12:59] iSoron commented on #353
It's not clear this is still a problem in Loop 1.8.8. If anyone is still having this issue, please let us know and I will reopen it.

[2020-07-16 12:59] #353 closed

[2020-07-16 13:05] nottheend commented on #525
Can confirm that the bug no longer exists for me.

Thanks for fixing! 🎉

[2020-07-16 13:13] iSoron commented on #160
There are still a large number of users complaining that reminders are unreliable. This has been a persistent issue since the first version of the app, and is probably related to aggressive power saving modes in some phones. See [dontkillmyapp.com](https://dontkillmyapp.com/) and [this AOSP issue](https://issuetracker.google.com/issues/122098785).

In Loop 1.8.8, we now print a lot of debug messag

[2020-07-17 19:08] Putr opened #606 "Add Github sponsor to repository"
Hi, love the app!

The app works great, is opensource and as I can see has some great ideas and leadership for future development.

I would be more than willing to a few coffees per month into supporting this project. So, @iSoron enable the feature, you deserve the cash. Even if it's probably not gonna be that much.

[2020-07-19 14:10] me-manikanta commented on #593
I have tested this today and looks like it is working as expected

[2020-07-19 14:27] me-manikanta commented on #549
A quick question if we are going to implement this feature:
Will this be a global setting by that I mean will this be applicable to all habits or whether this is habit specific?

If this is habit specific then the only way to show this to the user is in the menu button of the ShowHabitActivity, if not then we can actually show this in all settings menu

I hope I am clear and not adding more confus

[2020-07-19 15:06] mdaudali commented on #104
Hey! Just thought I'd add my 2 pence here - from a theoretical point of view, Conflict Free Replicated Data types would be the way to go (https://crdt.tech/ for some background reading). These data structures allow each node / device to operate over the data with defined operations (e.g, marking the task as completed), and have defined serialisation rules that ensure multiple nodes can merge their

[2020-07-20 07:03] slix opened #607 "Re-add different midnight time (3am) for when the "next day" starts"
Starting the day at 3am was added in a75a27ad428e7cacb42ba12c2006b3b688f61b54 . But it seems to have disappeared during a re-write?

I'm a night owl and use the 1x1 habit widgets. I often am still completing habits after midnight, and that makes the habit widgets a headache to use (and somewhat demotivating).

Is https://github.com/iSoron/uhabits/blob/dev/android/uhabits-core/src/main/java/org/iso

[2020-07-20 07:03] slix commented on #441
Opened #607 for this re-adding this feature.

[2020-07-21 02:50] xuhuanfeng opened #609 "Notification Not Work on Mi 10 Pro"
Hi,

  Recently, I'm using the Mi 10 Pro(Android version is 10, MIUI version is 12.0.2 Stable), But I found that the notification is not work.

  I'm sure that already enabled the "Make notifications sticky" option as well as allowed the system permission for notified

  But it couldn't notify me, which is working well in Mi 6.

[2020-07-21 15:05] ZackStone opened #611 "Add big picture mode"
Create a feature to view the data like the image below.
It helps me to get some insights when I see the data in this format, grouping some habits.

![IMG_20200721_115603583](https://user-images.githubusercontent.com/9125490/88071348-13e4c680-cb4a-11ea-8f27-c9789a2d1030.jpg)

[2020-07-21 20:16] KristianTashkov commented on #560
There are some inconsistencies created by the current logic and I'm not exactly sure how to solve for them:
1) Very similar example as the one above, but producing a different result:
![image](https://user-images.githubusercontent.com/3768676/88102056-9e0f4800-cba7-11ea-9ab9-2e8d2ff6bcac.png)
The two sides of this example are: you technically did do habit 2 types per week, but the second repetitio

[2020-07-21 22:22] myrdd commented on #560
IMHO it should be possible to distinguish between
* x times per calendar week (@KristianTashkov's case)
* x times within 7 days (any 7d series, not bound to calendar weeks; that's my use case from above)

@sersorrel's use case would fall into the first type, but with 2d groups instead of 7d ”calendar week“ groups.
No idea how to support both types without sacrificing too much usability and simplic

[2020-07-22 17:39] UjwalNK opened #612 "Feature Suggestion"
Please add a feature to categorize habits.
Such as Morning, Evening etc... And show the progress of the specific categories, also time each category /  set an alarm for each category

[2020-07-22 21:06] KristianTashkov commented on #612
Duplicate of https://github.com/iSoron/uhabits/issues/31

[2020-07-23 07:52] KristianTashkov commented on #560
I think I figured out what is happening. When the habit must be done more than once a week, we are heavily double counting days. If we look at the staircase example I gave above, this is a 2 times per week habit, but if you change it to 1 times per week, you get the same graph for the middle weeks, which intuitively sounds wrong.  If we stop double counting this is what the staircase example looks

[2020-07-24 23:40] ivb98 commented on #487
Has there been any progress on this?

[2020-07-25 13:34] iSoron commented on #487
Folks, this is an issue to discuss the official iOS version of Loop Habit Tracker. If you are interested in developing your own habit tracker for iOS, that's fine, but please move the discussion to your own issue tracker.

@Jeehut Sorry, I cannot provide a timeline for this.

[2020-07-25 13:54] iSoron commented on #560
For each one of these examples, could you let us know what did you expect the result to be?

How did you produce this chart? Was it manually or did you modify the app in some way?

Until I understand these examples better, I am erring on the side of caution and giving the user more "off" days than they potentially deserve. In the chart where you stop double counting, why have you decided to mark J

[2020-07-25 13:56] #612 closed

[2020-07-25 14:00] iSoron commented on #611
Thank you for the suggestion, @ZackStone. What is the difference between this feature and the current app in landscape mode?

[2020-07-25 14:04] iSoron commented on #609
Hi @xuhuanfeng, thank you for the bug report. Could you wait until the notification was supposed to show up, then, after you have confirmed that they indeed didn't appear, could you go into the settings and send me a bug report from within the app? Also, please make sure you update to Loop 1.8.8; we have made some changes to the notifications in that release.

[2020-07-25 14:08] iSoron commented on #607
I reverted those changes because it caused some strange issues with reminders and notifications. This was indeed how I implemented it before, but I no longer think modifying this function is the way to go, because this function is used in other places where the correct timestamp is required; for example, when scheduling reminders. We should probably create a new function for this delayed midnight

[2020-07-25 14:16] iSoron commented on #593
Closing this as fixed. If you are still experiencing this bug, please let us know.

[2020-07-25 14:16] #593 closed

[2020-07-25 14:18] iSoron commented on #573
Closing this as fixed. If you are still experiencing this issue, please let us know.

[2020-07-25 14:18] #573 closed

[2020-07-25 14:24] iSoron commented on #584
Thank you for the bug report, @alfred4x. I think the issue being described here is that, when no habits have been created within the app, trying to add a widget display an empty list, which is actually completely invisible. To the user, it looks like the app is just dimming the screen, instead of showing the habit selection dialog. When there are no habits, the app should say so, instead of showin

[2020-07-25 14:26] iSoron commented on #589
Thank you for the suggestion, @bookshelfninja, but I don't think there's enough user demand for this feature. If anyone disagrees, please feel free to leave your comment here; if enough users are interested in it, I may reconsider it.

[2020-07-25 14:26] #589 closed

[2020-07-25 14:28] iSoron commented on #586
Duplicate of #125

[2020-07-25 14:28] #586 closed

[2020-07-25 14:31] iSoron commented on #516
Thank you for the suggestion, but I don't think there's enough user demand for this feature. If anyone disagrees, please feel free to leave your comment here, and if enough users are interested in it, I may reconsider it.

[2020-07-25 14:31] #516 closed

[2020-07-25 14:32] iSoron commented on #412
Fixed in the `dev` branch

[2020-07-25 14:32] #412 closed

[2020-07-25 14:34] iSoron commented on #172
I no longer think this is an important feature. This affects all Android apps, and should be handled by the operating system. There also seems to be very low user demand for this feature.

[2020-07-25 14:34] #172 closed

[2020-07-25 14:34] iSoron commented on #537
Closing this as fixed. If you are still experiencing this issue in Loop 1.8.8 or newer, please let us know.

[2020-07-25 14:34] #537 closed

[2020-07-25 15:53] KristianTashkov commented on #560
I modified the app, when we are building intervals and you make a successful one, continue the logic from the repetition after the last one used. This avoids the double counting I mention.

I guess it depends on your definition of "two times per week" habit. In my mind if I hear that someone is doing something 2 times per week, I expect that after a year (52) weeks, they would have done that habit

[2020-07-25 16:32] KristianTashkov commented on #560
As an example of the different behaviors. This is 1 per week in the app:
![image](https://user-images.githubusercontent.com/3768676/88461515-da46ef00-ceac-11ea-9af5-e52c56f5e611.png)
For my use case it makes sense to be:
![image](https://user-images.githubusercontent.com/3768676/88461523-e3d05700-ceac-11ea-9152-cb0faca779fc.png)
Both are valid but are useful for different types of habits, which is

[2020-07-26 12:36] alfred4x commented on #584
Hey @iSoron you were absolutely right . The issue i was facing occurs only when there is no habit created in the app. So when there is an habit in the app then when i try to drag the widget from the widget menu and release it on the home screen the name of that habit appears on the screen and after touching it the widget appears on the screen. So i think the issue is the widget can't be created un

[2020-07-27 03:20] xuhuanfeng commented on #609
Hi @iSoron, I'm so sorry that I forgot to check the latest version before reporting the bug. After update to 1.8.8, the notification work fine now :)

Thank you very much.

[2020-07-27 11:42] vramazani commented on #611
Neat! Is this simply highlighting active days? Or is it sth like Convex Hull 😅

[2020-07-27 11:56] vramazani opened #613 "(tiny) swap top-menu item places"
Currently _Hide Archived_ is the top option in the menu, which causes double tapping the button(?) to toggle it.

Since the "_Hide Completed_ " toggle is **used way more** , it'd be better if it's on top. (So that the double tap would toggle this instead)

(this might be the smallest suggested change 🙂)

[2020-07-27 12:00] vramazani commented on #613
For the future, as there could be more items under the "**filter**(?) button", there's always the futuristic approach of letting the user decide the menu items and their order via settings.

Perhaps later, after there actually are many choices 🙂

Cheers!

[2020-07-27 12:11] vramazani commented on #493
@iSoron maybe same as a deadline for any goal? I mean a benchmark to hit

(by this rationale the calculated percentage metric could be a/the criterion)

[2020-07-27 12:31] vramazani commented on #270
@iSoron
a suggestion:
- a button next to the frequency setting inside editing pop-up, which would open a simple history of frequency changes with timestamps [could be extended to a recurrent scheme, e.g. seasonal]
- Using that history to **visualize** the variable threshold by drawing approximate dotted lines over the _bar chart_ !

[2020-07-27 18:13] #609 closed

[2020-07-27 22:08] ZackStone commented on #611
@iSoron It's just because I would like to view something like a monthly report.
Even in landscape mode, I think it shows just a few days and tasks.
I thought in a "export as image/pdf" feature... or csv, but more easier to read than the csv that the app offers.
For example:
[code]

[2020-07-27 22:20] ZackStone commented on #611
@vramazani : I added these circles to analyze some patterns, that's why I would like to view a "monthly report".
That way I could some insights, for example:
- When I drink coffee at night I don't sleep well
- I work better when I have lunch before 12 pm
- I feel good in this particular week... maybe because I did some workout in the morning every weekday

These 3 topics above would be the circles

[2020-07-27 22:58] vramazani commented on #611
Great examples @ZackStone !
Astonishingly I thought of such relations between habits myself. Though I don't see how you'd infer those from simply grouping check marks.

I'm not a statistician, but I think there must be a _systematic_  approach; my initial intuition was calculating **Correlations**  between each two habits and maybe sort or group those higher than a threshold (sth like 0.3 maybe) [

[2020-07-30 07:56] slovanos opened #614 "Allow "All checked start""
First of all, thank you very much for the great and minimalist app!

I know, from the FAQs, that your suggestion for tracking bad habits is  "_rephrase your habit in a positive way_". Fine with me, but here my little suggestion:

Could please add and option to set all days to be checked from the start?

The background of this is that if I set the goal, for example "No Smoking" or "No alcohol" the

[2020-08-02 21:40] antgel commented on #537
Hi @iSoron , I was about to open a bug report, then I saw this. I'm still seeing it in 1.8.8. Happy to help debug if you let me know what you need. My data is not very exciting, so I don't mind sharing that privately if it will help you fix the problem.

[2020-08-03 13:25] guthipp commented on #487
Is there a roughly release date for iOS?

[2020-08-03 13:47] Jeehut commented on #487
@guthipp Please read the comment that was made just 9 days ago, it already answers your question. 😉

[2020-08-03 13:53] guthipp commented on #487
Thank you. So when you don't follow a deadline, then it seems to became a never ending story - sorry. So I know that I will find another solution. When you say, your goal is e.g. Oktober 2020 - then I could use a interim solution. But I already wait over 1y now 🥵

[2020-08-03 18:41] AriApar opened #615 "[feature] Color background for checkmark widgets that are ticked already"
First of all, amazing work with this app, been using it for some time now and am amazed at how integral it has become for my phone usage.

I had a small UX suggestion on the checkmark widgets. A habit can either be explicitly checked by a user, implicitly checked if the user already fulfilled the number of times they needed to check the habit in the last X days, or unchecked. When a feature is exp

[2020-08-03 19:39] KristianTashkov commented on #615
To be honest I have the same consideration for the checkmarks in the app as well. On a dimmed screen you can't make the distinction(implicit check or unchecked) at a glance. It makes sense "color" to always mean success and playing with opacity to show the difference between explicit and implicit.

[2020-08-05 16:22] xordspar0 opened #616 "Import database fails to recognize file"
I exported a database before switching phones. Now on my new phone, when I try to import the database Habits says "File not recognized."

Does that mean that it's detecting it as an unknown third party app export, or is it recognizing it as a Habits database but failing to import it for some reason?

[2020-08-06 09:13] KristianTashkov commented on #616
Looking at the code it tries to import it from all possible sources and if none of them work, it returns this error message.
If you exported the file from within the app, it looks like failure modes are either if the file is corrupted in some way and has a different SQL structure than it should, or if it's exported from a newer version of the app, than the one you are trying to import into. Maybe

[2020-08-06 10:14] multlurk opened #617 "Add details field"
Hello. I'd like to request a short description/question to be displayed under a habit name on the main screen (optionally).

[2020-08-06 15:49] xordspar0 commented on #616
~I'm using the newest version from f-droid. The database was exported from a slightly older version from f-droid.~

Nope, in the process of checking what versions I had, I realized the Google restored a version of Habits that was *older* than what I used to have. Updating to the latest fixed it.

Thanks for clarifying how the restore code works. I looked at it myself but I wasn't sure if Habits wa

[2020-08-06 15:49] #616 closed

[2020-08-09 04:16] digitalcircuit commented on #172
Some other applications, such as GMail, do recreate notifications after reboot and application upgrade.  I can understand not prioritizing this, however!

And while not ideal, this encourages me to finish my habits if I need to reboot my phone for other reasons (updates, Magisk module changes, etc) :slightly_smiling_face:

[2020-08-09 05:03] #617 closed

[2020-08-09 14:32] chrisbarth01 commented on #493
How do you act when you know you've got a deadline to do something? You endeavour to make sure it's done.... right? That's what I'm suggesting. You could add the feature so it'll trigger users to work hard towards achieving their set goals.

[2020-08-09 15:28] chennemann commented on #493
I think the question is more in what context exactly it would be beneficial. I don't quite understand the necessity for this feature either.
If you want to track a habit for a given timeframe you can just delete it afterwards. I don't see why the app should further try to motivate or punish deviation from the expected repetitions. The strength metric was introduced to mitigate the Demotivation exp

[2020-08-13 04:05] zaheernathani opened #618 "Auto Export Option"
There should be Auto Export Option say on weeky /monthly basis. It should take auto backup at a selected location.

[2020-08-13 11:29] iSoron commented on #618
Thank you for the suggestion. This is a duplicate of #178.

[2020-08-13 11:29] #618 closed

[2020-08-13 11:35] iSoron commented on #614
Thank you for the suggestion. This is a duplicate of #125.

[2020-08-13 11:35] #614 closed

[2020-08-15 05:54] sjl872964789 opened #620 "Some text on the page has not been translated"
**Describe the bug**
Some text on the page has not been translated

**Context**
 - Device: [PIXEL XL]
 - OS version: [Android 10.0]
 - App version: [1.8.8]

**How to reproduce**
Steps to reproduce:
0. Change the language to Chinese in the system settings
1. Install uhabits and open
2. Click on three points in the upper right corner
3. Click on "preference" ("设置" in chinese)

**Expected behavior**

[2020-08-15 09:18] chennemann commented on #620
Can you provide the correct translation?
Either here or in the form of a pull request. That would make it much easier to fix ;)

[2020-08-15 17:30] #497 closed

[2020-08-15 18:12] iSoron commented on #620
Thank you for the bug report, @sjl872964789. These strings have already been translated in our [translation platform](https://translate.loophabits.org) and should make it into the next version of the app. However, there are still some other strings that have not been translated to Chinese yet. If you could submit your translations there, that would be very helpful.

[2020-08-15 18:12] #620 closed

[2020-08-15 20:20] iSoron commented on #603
Fixed in 38fb37cde2c45356cc95d0d2eabab7eec977b791

[2020-08-15 20:20] #603 closed

[2020-08-15 20:22] iSoron commented on #546
Fixed in 09bf49a9cefd0dcb7847a0a622c575100421df06. If four or more notifications are displayed, they are grouped together. If fewer than four are displayed, they are shown separately.

[2020-08-15 20:22] #546 closed

[2020-08-16 04:48] sjl872964789 commented on #620
Thanks for your quick reply. I have only noticed that there is no translation in these three places. It seems that you have solved it. If I find anything else, I will help to provide translation.

[2020-08-16 20:58] nottheend commented on #194
+1
It would be beneficial in cases, where a habbit couldn't be placed on a specific day. It is helpful on retrospectives to understand better the (missing) progress of the habbit

[2020-08-18 07:51] tobiasgrosser commented on #104
This overall sounds quite interesting, but I would assume that OCAML cannot be really shipped easily to Android. I wonder if this could be done without android?

[2020-08-18 11:37] mdaudali commented on #104
The OCaml would only be needed on the server side - the communication protocol is Git or even a REST API and so is language agnostic, so the app can use whatever is currently in use.

OCaml also isn't necessary for the server side - I mention it as it's what I used for my project and there's already a well tested library (https://irmin.org/) for CRDTs. However, it can be implemented in any languag

[2020-08-18 11:42] tobiasgrosser commented on #104
Nice, this sounds great for my perspective. I am not the project lead, but from experience, I feel that some proof of concept code typically helps to kick things off. I would be super interested to see this feature.

[2020-08-18 13:10] iSoron commented on #456
The app now allows much more flexible weekly schedules, so I am closing this issue.

[2020-08-18 13:10] #456 closed

[2020-08-19 03:23] ghost opened #622 "Change background message when hide completed is selected."
Hello.
When hide completed is selected and all habits are completed, the message shown is "You have no active habits."
Replacement with a tickmark and "you are done for today" would give me some well deserved dopamine.

[2020-08-19 10:04] KristianTashkov commented on #42
@iSoron similar to hiding numerical habits in streak widget we should hide yes/no habits from the target widget

[2020-08-20 10:54] jt007 commented on #272
@iSoron @scrimbly @StanczakDominik

Hi, any news on this feature?  Would be really helpful to be able to remove tasks that are not possible to do today, to make the app less cluttered on busy days. This will make it much easier to really Focus on what's important!

Some of the options to make it possible:
   - swipe the task away         or
   - long press the item. Then click on the three dots up

[2020-08-20 19:24] cartere6 opened #623 "add widget to view summary of all habits"
I'd like a widget to be able to display the last week's progress across all habits. It would help me to see it often, rather than have to consciously open the app to see this.

[2020-08-22 11:30] sojusnik opened #624 "Show point in circle when on streak"
While in the main view, a point in the circle would show if you're still on a streak and therefore further motivating you to stick to the habit.

Something like:
![grafik](https://user-images.githubusercontent.com/1245718/90955177-9f1fe780-e47b-11ea-9b0f-13f95eaf418f.png)

[2020-08-24 08:51] macpac59 commented on #497
Cool, when will this be published?

Am Sa., 15. Aug. 2020 um 19:30 Uhr schrieb Álinson S. Xavier <
notifications@github.com>:

[2020-08-24 20:13] gaborod16 commented on #194
+1
Really love the App, I would even contribute to this feature if it gets into the planning.

[2020-08-24 21:42] KristianTashkov commented on #194
@iSoron If we ever merge the advanced options dialog, notes become a very easy continuation of it. I originally planned to implement it after we merge the dialog into master.

[2020-08-25 09:07] sojusnik commented on #624
In the following screenshot you'll see a habit that has to be done twice a week. If you stay within the desaturated days, see yellow arrow, then you are "on a streak", analogous to the "don't break the chain" method.

![image](https://user-images.githubusercontent.com/1245718/91153520-9cfa9a80-e6c0-11ea-9d24-4e9cf67c0e6c.png)

I'm against a number, because it would be hard to read and this informa

[2020-08-25 09:50] chennemann commented on #624
This:

and this:

are contradictory in my opinion. As long as we are in the desaturated days we know we are on a streak because we see the implicit checkmarks. Only when we (would) break the streak the cross is shown. So I stand by my point that the dot does not necessarily give any additional useful information that we could not infer anyways.
However I do think it could look nice. So if you want

[2020-08-25 16:11] zaheernathani opened #625 "Auto backup"
Can we have auto backup option of every day or every week at a particular location. So that we can sync on via Syncthing....

[2020-08-25 22:44] chennemann commented on #469
This issue should be closed since it was basically just missing knowledge that you could enter larger numbers via the keyboard.
Maybe it would be good to add a hint to the dialog (something like "tap the number to enter manually") to improve the feature discoverability

[2020-08-25 22:52] chennemann commented on #625
Duplicate of #178

[2020-08-27 01:06] #625 closed

[2020-08-27 18:43] zaheernathani commented on #178
Its almost 4 Years this thread is open. Any timeline on this feature to be implemented ?

[2020-08-27 18:48] injainja opened #628 "Add multiple times per DAY rule"
Really awesome. Only thing missing is doing tasks several times per DAY. Like: drink 8 glasses of water per day. Or: meditate 3 times per day. This could be achieved by not displaying a check mark when clicking, but a countdown and on the final click the checkmark. E.g.: eat fruit twice a day will not show '❎'  but '2' each day as default. After my first fruit '1' and after my second fruit '✅'. Th

[2020-08-27 18:50] david-macleod commented on #178
Would also be really keen to see this feature 🙂

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: zaheernathani <notifications@github.com>
Sent: Thursday, August 27, 2020 7:44:12 PM
To: iSoron/uhabits <uhabits@noreply.github.com>
Cc: David MacLeod <macleod.david@live.co.uk>; Manual <manual@noreply.github.com>
Subject: Re: [iSoron/uhabits] Export backups daily

[2020-08-28 02:05] iSoron commented on #628
Duplicate of #42

[2020-08-28 02:05] #628 closed

[2020-08-28 04:31] falcorr commented on #104
I'd be happy even with simply having an option to sync with Google Drive, Dropbox, whatever.

[2020-08-29 14:34] AliDjango commented on #104
nextcloud/owncloud/webdav support is also good.

[2020-09-02 02:54] kkelleyjr commented on #565
I think this is a much needed feature and would be massively helpful. I think this feature would also have to include an additional completion option, x for not done, ✔️ for done, and / for intentionally not doing. With this adjustment we are able to get to a empty screen for 💯 for the day.

[2020-09-02 07:19] KristianTashkov commented on #565
@iSoron the comment up top is another vote for "Hide Entered" filter that I wanted to introduce together with the explicit fail.

[2020-09-02 16:13] kkelleyjr commented on #565
I later found that there is a request for setting explicitly the days to do the habit and only show them on the days, that would help out this story and not require a new state.

[2020-09-03 04:39] Villelmo opened #632 "Don't recognize backup data"
I export data saved .db and csv and when i want import data from memory of device don't recognize. I can't import backup data and visualize.

SCH-I435 4.4.2
uhabits 1.7.11

[2020-09-03 22:18] iSoron commented on #632
Hi @Villelmo, your backup is probably being rejected because it was generated by a newer version of the app. The current stable version is Loop 1.8.8. Unfortunately, this version no longer runs on Android 4.4 (KitKat).

[2020-09-04 02:15] iSoron commented on #469
This should be fixed in 6d4cac4. To clarify, below is what the experience is supposed to look like.

<img src="https://user-images.githubusercontent.com/4699657/92191760-2ed57680-ee2a-11ea-8c32-9c62aa7ba2c3.gif" width=300 />

[2020-09-04 02:15] #469 closed

[2020-09-04 03:38] iSoron commented on #584
Fixed in e8e52db9b1b8

[2020-09-04 03:38] #584 closed